[2018-04-01 08:10] alexellis opened #1 "Provide configuration for Kubernetes"
The public and development version of OpenFaaS Cloud is currently hosted on Docker Swarm, but we should add a configuration for Kubernetes so that we can take advantage of network-policy and other features.

* Kubernetes-style YAML files in a `yaml` folder (not helm)
* Update any references to "gateway:8080" to an environmental variable i.e. `gateway_url` or something else if it's already been use

[2018-04-01 08:16] alexellis opened #2 "Provide feedback via outgoing webhook"
An outgoing webhook URL configured via environmental variable should allow for events to be posted to a remote server for status.

* Whenever a GH-push is received
* Whenever buildshiprun executes
* Whenever of-builder pushes a new image successfully or if it fails and how long it took

The payload format should be in JSON and include context:

i.e.

[code]

The URL to receive web hooks should be

[2018-04-01 08:20] alexellis opened #3 "Apply Kubernetes NetworkPolicy to prevent accessing other functions"
We should apply a Kubernetes NetworkPolicy to prevent one user's functions accessing another's functions directly.

I.e. for an initial version the function should leave via egress and enter the public/private network IP of the gateway again if it wants to call another function.

Example:

[code]

Block access to the gateway app via pods in the openfaas-fn (functions) namespace.

[2018-04-01 08:26] alexellis opened #4 "Investigate non-root buildkit implementations"
There is some work to patch runc to do non-root builds via buildkit

This currently looks too manual and bespoke to be useful - i.e. patching kernel modules/runc and other components, but would be an ideal fit for OpenFaaS Cloud builds when ready.

[2018-04-01 09:13] alexellis opened #5 "Update GitHub statuses API for commits"
We can update GitHub statuses API for commits and give feedback on whether a push / deployment succeeded or failed.

- This needs an extended OAuth permission for the GitHub App to write commit statuses - everyone will have to accept the new permissions to update commit statuses on their repos

- The Golang GitHub library used with Derek should be able to do this - vendor it if it's not already th

[2018-04-01 09:43] alexellis opened #6 "Add Travis CI / releases for core functions / containers"
Add CI via travis for:

* of-builder daemon
* router daemon
* buildkit gRPC daemon
* the functions that drive OpenFaaS-Cloud in the stack.yml file

These should all be pushed to the Docker Hub under the `openfaas` name on successful build.

Examples are available in the faas-cli project and faas project on how to build on tag and how to push up to the hub. The final step will be for me to add the

[2018-04-02 15:34] iyovcheva commented on #5
Can take this

[2018-04-04 07:39] tpiskula opened #7 "Support for private repos"
First of all, thx for your amazing work! This is exactly what I've been looking for.
I have this dream of a netlify-like workflow where you just push function code a repo and everything else just works :D
What's the roadmap for openfaas-cloud?
It would be awesome If it could support private github repos, eg automatically add a deploy key to the repo and use that in the clone step, are there any pl

[2018-04-04 08:14] alexellis commented on #7
Hi @tpiskula the roadmap is represented in GitHub issues at the moment - there's lots of ways you can get involved with testing and building out the project. I think the idea of private repos would be a great addition to OpenFaaS Cloud.

Here's instructions for how to join Slack where we also have a private demo of a shared/hosted OpenFaaS cloud - http://docs.openfaas.com/community/

[2018-04-04 08:59] alexellis opened #8 "Configure registry prefix via env-var for buildshiprun function"
https://github.com/openfaas/openfaas-cloud/blob/master/buildshiprun/handler.go#L38

[2018-04-15 22:14] ericstoekl commented on #2
Derek assign: me

[2018-04-16 15:06] Lewiscowles1986 opened #13 "Signing releases?"
It'd be a good idea to implement some sort of signing, even if it's sending a separate list of files related to the built function. I Understand you could defer some of this to encrypted transport to ensure nothing has tampered with in-transit, but perhaps a way to communicate with the server "hey here's a new valid hash for a release".

[2018-04-17 01:44] lmxia opened #15 "Deploy functions in Kubernetes Cant't contain {"Limits":{"Memory":"30Mi"}}"
I tried deploy functions  by the call of POST method system/functions:

request body:
[code]

502 status code get.
And succeed after removing

 	"Limits":{
		"Memory":"30Mi"
	}

[2018-04-17 12:57] alexellis opened #17 "Move to buildkit gRPC builder"
It looks like the binary used to do one-time builds has been removed from upstream buildkit. I've opened an issue with upstream to see what happened. https://github.com/moby/buildkit/issues/340

The short answer is that we can use the gRPC builder daemon which is now available and update of-builder to make use of that.

John has started work in #16

[2018-04-17 13:52] iyovcheva commented on #5
I didn't have a look yet. Happy to work on this, but it's not on top of the priority list, so if someone
 wants to take it - feel free.

Please write a comment, so that we don't duplicate efforts.

[2018-04-18 06:00] ericstoekl opened #19 "I get a build failure due to this line -- customersURL is not declared"
https://github.com/openfaas/openfaas-cloud/blob/9b42fee3c42e56a9febc6b5ac0260ec63eb09eaa/gh-push/handler.go#L81

Looks like `customersURL` is defined within an `if` statement above -- this causes a build failure on `faas-cli build` on the `gh-push` function.

[2018-04-18 07:11] Lewiscowles1986 commented on #13
AFAIK docker registry's will accept any valid image, even overwriting old ones as a function of being updateable. As OpenFaaS uses Docker, this could leave a function gateway vulnerable to an attack where a new docker function is pushed to the registry tagged.

By storing valid image signatures (somewhere, no idea about where yet) for a named and tagged function, in a whitelist (ideal), or globall

[2018-04-18 10:46] alexellis commented on #19
Please could you revert the version on your copy? I'll take a look at the code at my end.

[2018-04-19 14:09] alexellis commented on #6
@johnmccabe is this something you could help with?

[2018-04-20 15:31] alexellis commented on #17
Fixed in #16 and released.

[2018-04-20 15:31] #17 closed

[2018-04-20 16:33] alexellis opened #20 "Secret management for user functions"
Some functions may need to access private API tokens or secret keys.

- Could we achieve this without becoming stateful?
- Could they be stored in an encrypted string in stack.yml like we see with Travis? Example: https://docs.travis-ci.com/user/environment-variables/#Defining-encrypted-variables-in-.travis.yml
- Should they be stored in Kubernetes/swarm secrets and bound at deploy-time? How are t

[2018-04-22 14:46] alexellis commented on #15
For Kubernetes you need to edit or replace https://github.com/openfaas/openfaas-cloud/blob/master/buildshiprun_limits_swarm.yml

Also I'm not sure there is any code that sets "30Mi" right now.. where did that come from?

[2018-04-22 15:02] alexellis commented on #8
I'll take this

[2018-04-22 15:06] alexellis commented on #13
This is what "content trust" is meant to resolve, but has problems in practice.

https://docs.docker.com/engine/security/trust/content_trust/#push-trusted-content

I"ll mark this for #revisit. It's a good point and I wonder what other projects are doing?

[2018-04-22 15:06] #13 closed

[2018-04-22 15:07] alexellis commented on #2
@ericstoekl did you see the changes that went up?

[2018-04-22 15:08] alexellis commented on #6
Some progress has been made on this. Could use some help with getting it over the line - needs some iteration with Travis. cc @LucasRoesler

[2018-04-22 15:10] alexellis commented on #5
For OpenFaaS Cloud to be useful this is definitely high priority. We need a way of providing feedback. I'll add a a label.

[2018-04-22 15:11] alexellis commented on #1
@viveksyngh Hi, thanks for doing some work on this. I merged a PR from @johnmccabe and now we have an additional service for buildkit. PTAL and update the YAML files.

I've also provided a way to configure the registry_url/prefix.

[2018-04-23 06:26] s8sg commented on #5
I'll be happy to work on it :)

[2018-04-23 08:07] s8sg opened #22 "functions doesn't honour gateway_url value provided by env"
environment file `gateway_config.yml` is being provided with configurable `gateway_url`. Although in many Functions the `gateway_url` value from ENV is not being used instead it has been hardcoded. It eventually fails the function call when deployed manually with different url

[2018-04-23 08:39] alexellis commented on #22
I'm not sure that's true of the latest version. Can you check again as I pushed changes yesterday.

[2018-04-23 08:59] s8sg commented on #22
Ahh forgot to sync my fork. Thanks! Closing

[2018-04-23 08:59] #22 closed

[2018-04-24 10:07] alexellis commented on #5
@s8sg thanks for working on this. I've added some more notes since this is going to require auth we have to pull in some new code. I'd suggest using the work from Derek - vendor it if you can.

[2018-04-26 16:32] ericstoekl commented on #2
Haven't had time yet due to the faas-cli work, but I'll find some cycles to work on it today.

[2018-04-29 04:57] ericstoekl commented on #2
Now that the `sdk.PostAudit` function is in the SDK, the real issue here is figuring out what we want the audit-event to go to. I have been using `webhookstash` for testing, but we should have a database for this. Maybe we deploy minio with the of-cloud? Maybe we just use a simple database like sqllite for now?

[2018-04-29 07:47] alexellis opened #31 "Update status if stack.yml not present in repo"
## Scenario

User generates a function named fn1 with fn1.yml and doesn't rename it to stack.yml. OpenFaaS Cloud always looks for stack.yml in the root of the repo, so this won't build and the user will never find out the reason.

## Error

This generates a build error, so we should inform them about it via the Statuses API:

[code]

[2018-04-29 16:10] alexellis opened #34 "Issue: case-sensitive usernames are not supported by the router"
The HTTPS router that gives a sub-domain to each user will not support a username like @BurtonR - burtonr would be fine though.

https://www.computerhope.com/issues/ch000709.htm

It would be simple to have the functions deployed with lowercase metadata for usernames - this would resolve the problem. The `Git-Owner` label should be updated in the `buildshiprun` function.

[2018-04-29 16:16] alexellis opened #35 "Update garbage-collect to recover old user functions"
Right now garbage-collect just echoes what it would remove, but it should actually remove orphaned functions where someone has removed a function from a stack or renamed it within a repo.

Additional unit tests should also be added, which may need some abstractions to be added for the HTTP calls / queries to the *list-functions* function and the *delete functions* API.

[2018-04-30 09:20] s8sg opened #36 "suggestion (status): Use separate Github status context for each function"
`stack.yml` can have multiple `function`s. If any one of the function has status `failure`, the overall status should be `failure`

**This is ensured by github:**

github status allow to specify user defined `context`
[code]

In Github status if one `context` status is `failure` the whole status is `failure`

Please check [here](https://developer.github.com/v3/repos/statuses/) for more details

**

[2018-05-02 01:48] s8sg opened #40 "suggestion (status): Create separate openfaas function for status + sdk for status"
As suggested by @alexellis

##### Separate Openfaas Function For Handing Status Update
- Seperation Of concern
- Avoiding Vendor Code in each Function
- Easier Control to enable/disable function

##### Using SDK for status update
- Avoid duplicate codes
- Streamline status definition and error pattern
- Abstraction handling of token and request

[2018-05-02 02:32] s8sg opened #41 "Optimisation (status): Use token forwarding and status grouping to avoid extra calls"
### Group multiple status update in an array
When required to update multiple status at a time, rather than making a separate call for each status, multiple statuses can be grouped and forwarded at once

#### Possible Solution

**1. Accept multiple commit status in `git-status`**
`git-status` can be changed to accept more than one status at a single execution

**2. Sdk to abstract combine multiple

[2018-05-13 03:12] ericstoekl commented on #5
Derek close: PR is merged

[2018-05-13 03:12] #5 closed

[2018-05-14 06:36] ericstoekl commented on #31
Derek assign: me

It looks to me like it's necessary to separate out the `reportStatus` method and expose it in the `sdk` package. Otherwise, we'll be repeating a lot of the same code in order to create the Status API call. Am I correct in this assumption?

[2018-05-14 06:37] ericstoekl commented on #31
Derek assign: me

[2018-05-15 05:36] s8sg opened #47 "handle installation and remove event in git-event"
Use `installation` and `remove` event from `github-app` to deploy and remove functions from the openfaas-cloud

**Current behaviour:**
Currently only commit status event are handled.

**Expected behaviour:**
We can handle `installation` and `remove` event in `git event`

[2018-05-16 12:20] alexellis opened #50 "Limit # of functions per repo"
An exhaustion attack on OpenFaaS Cloud could involve adding hundreds of functions to a stack file to exhaust resources and cause noise.

If these functions were deployed and created Pods then they would also cause the cluster to fill up.

We should look to add a config limit for how many functions are allows per repo/stack file.

I am thinking of a default limit of 5

[2018-05-16 19:24] viveksyngh opened #51 "Proposal: Add more useful metrics for functions"
Add more useful metrics for functions like following:

     1.  Number of 2xx requests per second
     2. Number of Non-2xx requests per seconds
     3. Distribution of response time for requests

[2018-05-16 19:54] alexellis commented on #51
👍 LGTM - I think this needs raising upstream on openfaas/faas too

[2018-05-16 19:55] alexellis commented on #51
We can get any metrics from Prometheus which are recorded - but the API Gateway doesn't have a way to expose these yet.

[2018-05-17 17:43] viveksyngh commented on #50
I will work on this one.

[2018-05-17 18:47] alexellis commented on #31
I am OK with some duplication up front until we work out what the API should be. Looking at what to move into SDK is also good input.

[2018-05-18 21:19] alexellis commented on #7
I've looked into private repos and I think there is a good option for pulling / cloning. If you add a "Deploy Key" to the repo then you can clone over SSH. This does need a public/private key-pair for every repo supported - unfortunately GitHub won't allow one deploy key to be added to multiple repos.

I think this means that OpenFaaS Cloud needs to generate a key/pair for each user and repo - thi

[2018-05-18 22:21] affix opened #54 "Proposal: Case insensitive username handling"
We should handle usernames as case insensitive from the CUSTOMERS File

[code]

should all match to affix

gh-push handler.go line 62

[code]

should be

[code]

[2018-05-19 18:13] viveksyngh commented on #50
@alexellis should we add that as an environment variable?. It would be helpful when someone has deployed OpenFaas cloud on their own infrastructure can adjust according to their needs.

[2018-05-19 18:15] alexellis commented on #50
Yes all settings need to be configured in this way to be consistent.

[2018-05-20 19:55] viveksyngh commented on #51
These metrics can also be exposed through `/system/functions` endpoint of the gateway.

[2018-05-20 20:12] alexellis commented on #51
I don't believe that endpoint currently provides the level of detail we want.

Can you raise an issue on the faas project please? This change would need to happen upstream.

cc @stefanprodan

[2018-05-21 05:15] viveksyngh commented on #51
Yes. I will raise an issue with the faas project. @alexellis We want to expose RED metrics through the gateway right?

[2018-05-21 09:25] alexellis commented on #20
via @stefanprodan https://github.com/stefanprodan/openfaas-flux#manage-secretes-with-bitnami-sealed-secrets-controller-and-weave-flux

[2018-05-23 11:49] #1 closed

[2018-05-23 13:36] alexellis opened #60 "Unable to read tests for func GetImageName"
Hi @viveksyngh

Please could you refactor the names of the test cases in buildshiprun?

Currently they are named like "test case 1" and "test case 2" - these should be representative of what we're testing in each scenario.

Thanks,

Alex

[2018-05-26 09:31] viveksyngh commented on #51
I have raised this issue with faas repo. https://github.com/openfaas/faas/issues/703

[2018-06-04 05:27] alexellis commented on #20
Potential workflow for working with SealedSecrets:

![sealed](https://user-images.githubusercontent.com/6358735/40899745-4bbdf7bc-677d-11e8-8045-65100f225b44.png)

OpenFaaS Cloud secret integration

stack.yml contains your functions and secrets.yml contains your sealed secret values in YAML format.

Each sealed secret entry is loaded into the Kubernetes cluster and unsealed by the existing operato

[2018-06-05 03:53] alexellis opened #68 "Audit meaningful data from functions"
We should audit meaningful data from functions such as:

* git-tar - what size tar-ball?
* buildshiprun - what size Docker image in the registry etc?

These are just ideas - if we have the data, let's audit it so we can learn how to operate the system.

@ericstoekl has a PR #38 - Eric please can you break it up into smaller pieces and raise as PRs?

Thanks,

Alex

[2018-06-08 05:30] alexellis commented on #20
This has been released via https://github.com/openfaas/openfaas-cloud/releases/tag/0.3.0

[2018-06-08 05:30] #20 closed

[2018-06-10 17:30] AkihiroSuda commented on #4
Is this closable now?

[2018-06-10 18:03] alexellis commented on #4
I should have been clearer. By non-root I also mean unprivileged. The reason for this is to help prevent breakouts or untrusted builds causing damage.

Thanks for helping us to get to a non-root build, we need to further isolate it now with the work you mentioned Jessie is working on.

[2018-06-15 18:41] alexellis commented on #2
Derek: close

[2018-06-15 18:42] alexellis commented on #2
It should be posted to HTTP and at that point it's agnostic as to whether you want to store that in a DB via a function, in a Git log, Kafka transaction log or a Slack channel.

[2018-06-15 18:42] #2 closed

[2018-06-19 11:36] alexellis commented on #6
This has been completed.

[2018-06-19 11:36] #6 closed

[2018-06-21 09:51] alexellis opened #78 "Enable HMAC for auth on the import-secrets function"
We should auth on the import-secrets function by using HMAC.

In the same way that we have a symmetric secret which the `gh-push` function validates, we should have a shared secret that git-tar uses to sign the import secret request. In this way import-secrets will only import a secret signed by the owner of the new symmetric key.

## Tasks

* Create new named secret in `openfaas-fn` namespace (do

[2018-06-21 14:41] alexellis opened #79 "Research: How do we make logs accessible to users?"
## Feature

There are a couple of scenarios (at least) where we need to make logs available to users:

* Docker build fails for reason X

This should be made available and the GitHub status API only provides a short summary

* git-tar operation fails due to any number of reasons

If the message is short we can store this in the GitHub status

## Related but out of scope in this issue:

* Exposing

[2018-06-24 05:28] viveksyngh commented on #78
I can work on this one.

[2018-06-27 08:22] alexellis commented on #78
https://github.com/openfaas/openfaas-cloud/tree/master/import-secrets

[2018-06-27 09:35] alexellis commented on #78
I'm going to cover this @viveksyngh, if you've already started something please review my upcoming PR.

[2018-06-27 15:04] alexellis opened #82 "Buildkit and Python template - missing pip"
Using Buildkit and Python template resulted in a missing pip. I did this with the requests module.

Locally built with Docker it works fine.

To reproduce deploy on Kubernetes and trigger a build for a python 2/3 project which consumes and uses a pip. You'll see the error at runtime.

[2018-06-28 07:36] alexellis commented on #41
This is two different issues. I would like to see them implemented separately rather than together.

The idea to add the statuses together in a transaction and then report at the end is useful, as long as there are no panics or other issues like a nil deference.

[2018-06-28 13:31] alexellis commented on #7
[OpenFaaS private repo flow.pdf.pdf](https://github.com/openfaas/openfaas-cloud/files/2145456/OpenFaaS.private.repo.flow.pdf.pdf)

Attaching workflow/design.

We will need to generate private/public key-pairs for each repo we manage. These have to be stored for future use and the public key must be installed on the GitHub repo needing additional OAuth Scopes.

[2018-06-28 13:41] tpiskula commented on #7
Workflow looks good!
I imagine it something like:
Authorize Github Account -> Select Repo -> If repo is private, install Deploy Key via API and save it somewhere -> Run CI/CD, run CI/CD on every push (maybe allow filter on branch?)
Where would you suggest to store the generated keys?
In a k8s secret?

[2018-06-28 13:51] alexellis commented on #7
This part (`Authorize Github Account`) is done via the installation event when you click to install the GitHub app on your repo in the GitHub UI.

Run CI/CD is triggered on the push.

I think we have to store them in K8s secrets, possibly SealedSecrets could be useful for us too.

The other alteration needed is to:

- connect installation event via github-event function
- generate the keys in Go o

[2018-06-28 18:03] affix commented on #7
@alexellis it shouldn't be difficult to programatically do it in go, I could probably knock something up to do it

[2018-06-29 13:12] alexellis commented on #7
I'm looking for someone to take on the task incrementally. We have at least a couple of people ready to test it too. Keiran if you can start work on the implementation that would be great.

[2018-06-29 14:31] alexellis commented on #82
Fixed now by a workaround with buildkit. See code for details.

[2018-06-29 14:31] #82 closed

[2018-07-02 03:34] s8sg opened #84 "buildshiprun doesn't handle build failure"
### Overview
For an `of-builder` error `buildshiprun` doesn't handle the error properly

In the log while `of-builder` has failed with the output:`failed to solve: rpc error: code = Unknown desc = exit code 2`, the `buildshiprun` uses the string as `image name`
[code]

### Details
**Problem 1**
The image name here is invalid. In the code (`buildshiprun/handler.go`) we are just checking:
[code]
Whi

[2018-07-17 06:42] rgee0 commented on #79
As a code block posted to a user-designated Slack channel?

Would need to consider rate limiting on the Slack API.  This would likely also be a consideration on other APIs.

[2018-07-18 15:23] ivanayov opened #86 "Use short SHA for image version"
At the moment the image versions are of type `0.9.1-4456fab11f107a35ee60c4cd3cb6e1e1281cdf95`
e.g.
[code]

As the version is something that's expected to be short in length and the short SHA is enough for commit reference, do you think it's better to cut it?

[2018-07-18 15:46] alexellis commented on #86
I don't mind the longer version to be explicit, but am open to changing to the shorter version if you would like to do that work or maybe @viveksyngh? I know there is work in the CLI to generate some tags and that is going to use the short tags, so consistency is probably better. Do you also want to link to that issue for context?

The change should work without clashes.

Alex

[2018-07-18 20:22] alexellis commented on #4
@AkihiroSuda ping. @jessfraz if you have time to look at this issue, do you have any thoughts on how close an unprivileged build could be with buildkit/img?

[2018-07-23 09:51] alexellis opened #87 "Use faas-cli package for tagging image on OpenFaaS Cloud"
This new package in faas-cli should be used to create image tags for consistency:

https://github.com/openfaas/faas-cli/blob/master/schema/image.go#L17

It should be a relatively quick change.

[2018-07-26 09:11] alexellis commented on #86
On second thoughts I think we should use the format which includes the branch name too - so `--tag=branch` -> https://docs.openfaas.com/cli/tags/

[2018-07-26 09:15] alexellis opened #88 "Show OpenFaaS Cloud building a Gist"
Since Gists are only GitHub repos, we should support building a function from a Gist.

This is useful because it could become part of play-ground or UI experiment where we can type code into a web-editor which saves into a Gist and triggers a full build-pipeline.

Gists don't appear to support folders, but I may be wrong.

That may mean setting the handler to "./"

## Initial research

First off -

[2018-07-26 09:16] alexellis commented on #79
Slack URL would have to be a pre-shared secret.. it might not be ideal.

[2018-07-26 09:18] #84 closed

[2018-07-26 09:19] #15 closed

[2018-07-26 09:20] alexellis commented on #15
Default now set to run with a Kubernetes format, would be ideal if we could detect the orchestrator from the gateway endpoint and then pick a format. @viveksyngh can you do this? The gateway now gives the orchestrator name back.

[2018-07-26 17:05] alexellis commented on #79
New idea via @stefanprodan - store logs in S3 (i.e. Minio), then a HTML function can render the result for you when you click through from the dashboard overview. Perhaps a regular job could purge old logs?

[2018-07-27 09:47] viveksyngh commented on #78
Closing this issue as it has been already merged.

[2018-07-27 09:47] viveksyngh commented on #78
Derek close

[2018-07-27 09:47] #78 closed

[2018-07-27 09:50] viveksyngh commented on #54
Derek add label: proposal

[2018-07-27 09:50] viveksyngh commented on #51
Derek add label: proposal

[2018-07-27 09:51] viveksyngh commented on #50
Derek add label: enhancement

[2018-07-27 09:52] viveksyngh commented on #68
Derek add label: enhancement

[2018-07-27 20:42] viveksyngh commented on #87
@alexellis should we vendor `faas-cli` in `openfaas-cloud` and use this package to create tag for images?

[2018-07-28 20:46] viveksyngh commented on #87
@alexellis  I have made this changes but recently we have merged PR #85 which validates the images name returned from `buildshiprun` and it's throwing an error for our new image name format.

I may need help from @s8sg for update the regex to validate image name like this
`registry:5000/viveksyngh/regex_go-another-go:latest-039ca50585107171bafab71f1d5f65391523cd61`  or should we disable the image

[2018-07-29 01:16] s8sg commented on #87
Otherwise you can change the regex to match the new image name format. As I
told earlier I’m not sure why the image name validation exists

On Sun, 29 Jul 2018 at 05:46, Vivek Kumar Singh <notifications@github.com>
wrote:

[2018-07-29 08:12] alexellis commented on #86
Derek close: duplicates #87

[2018-07-29 08:12] #86 closed

[2018-07-29 08:16] alexellis commented on #31
Moving over to Vivek after several weeks of inactivity.

[2018-07-29 08:18] alexellis commented on #54
Please can you research this item @burtonr?

I think that some kind of mapping would probably be necessary, but I'm not sure.

Also we access a user's functions via a URL like: username.domain/function - we can't have a mixed-case sub-domain host in a URL, so it would have to always be lower here too. Mixed-case is fine in the function name.

[2018-07-29 10:58] viveksyngh commented on #87
I am removing imageName validation and adding response code based validation for `builder` response. If response is not `2xx` we won't get a valid imageName from `builder` and that can be used to deteremine if `build` was successfull or not.

[2018-07-29 11:37] viveksyngh commented on #87
@alexellis looks like `image.go` from `schema` package of `faas-cli` is not part of latest release. Should I use `master` to vendor that in `openfaas-cloud` ?

[2018-07-29 12:08] s8sg commented on #87
Can you please check if that check if the image id validation is being done
in ofbuilder, And make sure it does gets validated by responses. Otherwise
it might open a closed issue

On Sun, 29 Jul 2018 at 20:37, Vivek Kumar Singh <notifications@github.com>
wrote:

[2018-07-29 15:54] viveksyngh commented on #88
Progress:

Created a https://gist.github.com/viveksyngh/c3d16f0cb5f387c3fc45df6a641c0a8b, cloned it and tried to build the function using CLI.

Build with CLI was failing, so created a PR to fix that issue here. https://github.com/openfaas/faas-cli/pull/480. Was able to build the function cloned with gist successfully with these changes.

[2018-07-29 16:05] burtonr commented on #54
I'm on it :smile:

I believe, that since Github's usernames are case-insensitive, we should be able to just make the usernames lowercase and it _should_ "just work". I'm setting up an instance of-cloud to test that theory with and will submit the PR once I've been able to verify

[2018-08-01 14:05] alexellis commented on #79
Example of accessing Minio API - https://github.com/minio/minio-go/blob/master/examples/s3/fputobject.go

[2018-08-02 07:39] AkihiroSuda commented on #79
https://transfer.sh/ might be also useful

[2018-08-03 17:58] alexellis commented on #54
I just tried setting image name to lowercase in of-builder, it gets us most of the way, then there's of-router which only works with lowercase since we use a subdomain per user.

[2018-08-06 11:05] alexellis commented on #54
@burtonr It's been just over a week so I thought I'd see how things are going? Can you give an update?

[2018-08-06 11:06] alexellis commented on #54
We have other people that need this too like @OmgImAlexis

[2018-08-07 10:12] #40 closed

[2018-08-07 10:13] #36 closed

[2018-08-07 10:43] viveksyngh commented on #87
as image check regex got merged to master, I will create a PR to add this support.

[2018-08-07 12:42] alexellis commented on #87
Thanks. I've disabled the regex for now. Please PR when you can.

[2018-08-07 21:02] alexellis commented on #54
Thanks. We may have made that harder by moving the post a bit - just merged a new set of features via @s8sg to implement multiple statuses.

[2018-08-08 01:10] burtonr commented on #54
@alexellis I'm going to need to step down from this issue. I cannot reliably deploy OpenFaaS-Cloud right now, and therefor cannot test any changes I make.

I'm using Azure's AKS, but it is proven over and over again to be unreliable. I've been fighting issues with that platform for several days. I've also spent the entirety of my credit setting up and tearing down clusters trying to get it to work

[2018-08-08 01:10] burtonr commented on #54
Derek unassign: me

[2018-08-08 14:40] #87 closed

[2018-08-09 02:28] burtonr opened #93 "git-tar deploy does not return error on non-success http status code"
When looking through the logs in `git-tar`, I found that my function deployment returned a 500 error, however, there is no error checking for the deploy status

[code]

The `c.Do(httpReq)` does not throw an error, so this goes unnoticed as the request was successful, but the response status is not success.

See here: https://github.com/openfaas/openfaas-cloud/blob/master/git-tar/function/ops.go#L2

[2018-08-09 08:36] ivanayov commented on #93
Just a notice if someone takes this: for both Do and Get, a non-2xx response doesn't cause an error. So this needs an additional check from our side.

[2018-08-10 12:03] martindekov commented on #47
Is someone currently working on this?

[2018-08-10 12:09] alexellis commented on #47
Not to my knowledge.

[2018-08-10 12:10] martindekov commented on #47
I already started to research the API. If the change is not ASAP change can i take the issue?

[2018-08-10 12:40] s8sg commented on #79
I can do some research and work on it, if no one is working on this already

[2018-08-10 13:36] alexellis commented on #79
I started to look at adapting of-builder to return a JSON body with the image name and an array of log lines, I think that will be part of the work required.

[2018-08-10 14:41] martindekov commented on #47
I think in two or three days I will be ready with the change. Need time to check the API and how the code uses other existing functions.And I need to learn how to test the cloud efficiently so mainly my time will go in that direction.

[2018-08-11 00:30] s8sg commented on #41
derek close

[2018-08-11 00:30] #41 closed

[2018-08-11 01:04] s8sg commented on #79
Sounds good.

`time` is something we might want to add.
It will allow user to figure out the order of `log` for a specific `function` and a specific `commit-sha`

We might hash log by time from `of-builder`
[code]

A logger `sdk` may provide the API to append log to a object and send the log to the `blackbox log function`
the API can be something like the below example
[code]

The Logger Function

[2018-08-13 21:11] kvuchkov commented on #79
Another idea might be to leverage the Checks API:
https://blog.travis-ci.com/2018-05-07-announcing-support-for-github-checks-api-on-travis-ci-com

[2018-08-14 12:44] alexellis commented on #47
OK so can you summarise the discussion we had on Slack? I think you said github-event is already doing the work needed?

[2018-08-14 12:55] martindekov commented on #47
Sure currently installation alone does not provide enough info for build and deploy, but it provides enough for the garbage-collect on application removal which was already done.

[2018-08-14 14:36] martindekov opened #96 "Gitlab payload handling convention"
So in github case the pushevent struct handling looks like that
[code]
and In Gitlab to handle the same payload the struct looks something like
[code]
I was wondering should we stick to the same naming convention for every git hosting service(like the provided in the github-push) or should we follow the naming convention provided by the service?

Also it seems like the secret is send in plain text

[2018-08-15 14:43] #96 closed

[2018-08-17 14:42] viveksyngh commented on #31
@alexellis When there is an error with parsing the `stack.yml` or `stack.yml` is not present we are reporting the error status in GitHub.

Should explicitly check whether `stack.yml` file is present or not before parsing it and report the status?

[2018-08-17 14:50] viveksyngh commented on #60
Derek assign: me

[2018-08-17 14:50] viveksyngh commented on #50
Derek assign: me

[2018-08-20 07:14] kvuchkov opened #104 "of-builder yaml is invalid"
When deploying the latest of-builder you get an error:
[code]
**Problem**: The container section has ```environment:``` instead of ```env:```
**Solution**: Change ```environment:``` to ```env:```

[2018-08-20 09:55] #104 closed

[2018-08-20 16:18] #54 closed

[2018-08-21 06:47] kvuchkov opened #107 "Report status to Github via Checks API"
Github Checks API offers a great in-app experience for CI/CD by showing rich information about different build steps along with some actions (e.g. re-run). It is a superset of the status API.

This would make openfaas-cloud feel even more natively integrated with GitHub by showing most of the information directly in the app. Moreover, there will be a separate tab on pull requests to support more a

[2018-08-23 09:21] alexellis opened #108 "Add NetworkPolicy to separate user functions"
We need a NetworkPolicy which does the following:

* Prevent functions calling system services - block (openfaas-fn) -> (openfaas)
* Prevent functions calling other functions - block (openfaas-fn) -> (openfaas-fn)
* Allow OpenFaaS Cloud "system" functions to do the above. Use a label to decide which functions belong to this group.

In addition we will have to prevent users from adding this "system

[2018-08-23 09:26] alexellis commented on #108
I closed the original issue from April since this has more detail.

Example policy definition:
https://github.com/stefanprodan/openfaas-flux/tree/bb69dffda2ae8cead8035eaf35c9a92cb29a2924/network-policies

[2018-08-24 08:48] #8 closed

[2018-08-24 08:48] #31 closed

[2018-08-24 11:03] alexellis commented on #7
I can confirm that cloning works with an installation id + auth token generated with the GitHub app's private key.

I made my `sofia-test1` repo private, then observed a token from the logs of `github-status` (adding `debug_token` env-var to make this print out)

[code]

[2018-08-24 11:03] alexellis commented on #7
Next we need to start parsing whether a repo is private or not and passing that through the stack. If we encounter a repo which is private, then we should clone with an auth token. That should be about all that is needed.

[2018-08-24 14:17] alexellis opened #111 "Use separate HMAC key for inter-function trust"
## Expected Behaviour

Functions should use a separate named symmetric key for HMAC / trust i.e. `function-hmac-key`

## Current Behaviour

We re-use the key shared with GitHub `github-webhook-secret`

## Possible Solution

* Add step for Swarm + Kubernetes to README to generate the new secret
* Replace the secret in the list of secrets for all functions apart from `github-push`which needs both
*

[2018-08-24 14:17] alexellis commented on #111
I chose `payload-secret` vs`function-hmac-key` as function could mean user-functions too.

[2018-08-29 08:43] alexellis opened #116 "Allow AWS S3 bucket for pipeline-log"
## Expected Behaviour

Allow usage of AWS S3 bucket for pipeline-log

## Current Behaviour

Needs to accept:
- TLS flag
- custom "bucket name"
- possibly "region" too

## Possible Solution

Enable two more env-vars to configure bucket name and whether to set TLS.

Code:

https://github.com/openfaas/openfaas-cloud/blob/master/pipeline-log/handler.go

[2018-08-29 09:15] alexellis commented on #111
Working on this via #112 - needs deeper e2e testing.

[2018-08-30 08:08] alexellis opened #117 "sdk.ReportStatus treated as singleton"
This relates to the `sdk.ReportStatus` function from @s8sg which is being treated as a singleton (anti-patten) and is preventing unit testing. There may be other similar pieces of code, but we should start with big pieces like this.

## Expected Behaviour

Code using `sdk.ReportStatus` cannot be unit tested since it cannot be swapped out. This should be changed into a factory pattern.

## Current

[2018-08-30 08:09] alexellis commented on #117
Hey @kvuchkov do you have any suggestions on this?

[2018-08-30 08:14] s8sg commented on #117
I'm not sure what exactly you meant by `singleton` here. You can have multiple status objects.

[2018-08-30 08:26] s8sg commented on #117
I still didn't understood one point `ReportStatus` is not sticky to the code, to be honest the wrapper `ReportStatus` is added over sdk on the function level so that we can control the status behaviour by `enable/disable` status.

[2018-08-30 08:28] alexellis commented on #117
Personal opinions aside, do you understand how to make the change I'm asking for or would more detail help?

[2018-08-30 08:30] alexellis commented on #117
The same issue exists for `sdk.PostAudit` and `sdk.ReadSecret` - the example I've picked is the tip of the iceberg which is preventing unit-testing.

[2018-08-30 08:33] alexellis commented on #117
Here's an example of how to fix the issues introduced by `sdk.PostAudit`:

[code]

[2018-08-30 08:46] s8sg commented on #117
I think I got it wrong, I was mostly focusing on how `ReportStatus` is implemented. Using `stub` implementation for testing sounds good, rather than disabling the feature.
[code]
Somehow with This line I got the impression the stub reporter is a part of sdk. It can be a part of the test case only.
[code]

[2018-08-30 09:28] alexellis commented on #117
I've implemented a way to stub this and the tests pass / adding coverage:

https://github.com/openfaas/openfaas-cloud/blob/master/github-push/handler_test.go

The next step is to add a secret store stub since one of the tests is blocked at that point now.

https://github.com/openfaas/openfaas-cloud/blob/master/github-push/handler_test.go#L82

[2018-08-30 10:04] alexellis opened #119 "Tracking feature: Test mixed-case usernames"
We need to test mixed-case usernames end-to-end including:

* of-router (using wildcard DNS)

No instructions exist for Swarm, just a YAML file for Kubernetes, so update the docs/README.md too

* UI dashboard
* GitHub push events

You'll need a second GitHub account with a MixedCase username (don't rename your existing one) and then add it to the official CUSTOMERS list or turn `validate_customers

[2018-08-30 10:04] alexellis commented on #119
Some initial testing done over at: https://github.com/openfaas/faas-cli/issues/511

[2018-08-30 10:33] alexellis commented on #116
@affix do you want to take this one? Have you got time?

[2018-08-30 18:15] affix commented on #116
@alexellis I'll take it on this weekend :)

[2018-08-31 10:40] martindekov opened #121 "Validate hmac trying to find secret in wrong path"
While trying to run `pipeline-log` noticed it loads the secret value rather than name as path aka `var/openfaas/secrets/<some_sha_here>` rather than `/var/openfaas/secrets/thesecretname`

The problematic code is in `pipeline-log/handler.go`  in
[code]
we are giving `payloadSecret` which is the content of the `payload-secret` instead of the secret name and we try to look at non-existing path i.e.
[

[2018-08-31 11:54] ivanayov commented on #121
Derek add label: review

[2018-08-31 12:25] alexellis commented on #121
Option 1 sounds better to me.

Alex

[2018-08-31 12:27] alexellis commented on #121
I'm trying to understand what sdk/hmac was trying to achieve originally.

Eventually it calls one line:

[code]

If we took option 1 we could delete the code completely since it would add nothing.

[2018-08-31 12:34] martindekov commented on #121
Yeah that's why I was wondering about the context, I can remove
[code]
and pass `"payload-secret"` directly instead of `payloadSecret`
[code]
would that be the best approach ?

[2018-08-31 14:27] alexellis commented on #111
Derek close: merged

[2018-08-31 14:27] #111 closed

[2018-09-01 17:12] alexellis commented on #116
That would be appreciated. Can you update the readme too?

[2018-09-03 06:52] bartsmykla commented on #108
Derek assign me

[2018-09-03 06:52] bartsmykla commented on #108
Derek assign: me

[2018-09-03 09:46] #7 closed

[2018-09-03 10:38] alexellis commented on #116
The bucket name is hard-coded to `pipeline` for use with Minio right now. So if someone puts `martin-staging-pipeline` we need to use that instead of the hard-coded string for read/write. For Minio I think it's safe to default if no value is given in the YAML for the environmental variable.

[2018-09-03 11:13] alexellis commented on #116
Checked with @affix - no progress made over weekend. Had a call with @martindekov + @bartsmykla who are going to pick it up this week.

[2018-09-03 11:29] martindekov commented on #119
We discussed this so the approach I am going to be taking is renaming the git owner to lower case in the palaces where the function is named i.e. name of user is `MartinDekovWat` owner stays `MartinDekovWat` but the function name in deployment will be `martindekovwat-<the_name_of_function_here>`. Should I proceed with this approach ? Do we all agree ?

[2018-09-03 11:30] martindekov commented on #119
Also the function name will be staying the same i.e. function with name `CaseSensitiveName` deployment will be `martindekovwat-CaseSensitiveName`.

[2018-09-03 12:33] alexellis commented on #119
Yes I think that's correct. Please continue with the work and we'll review the PR.

[2018-09-03 14:44] alexellis opened #125 "Auto-detect buildshiprun limits based upon swarm/k8s"
If `KUBERNETES_SERVICE_PORT` is present as an env-var then Limits need to be formatted for Kubernetes i.e. `30Mi` and if not then for Swarm i.e. `30m`.

Unfortunately sometimes a user (like myself) will have the wrong limits file set i.e. limits-swarm.yml when they needed limits-k8s.yml and the errors from either back-end are very vague.

We can autodetect this and then set the values as appropria

[2018-09-04 15:34] martindekov commented on #119
The PR ^ fixes names to be lowercase in function name in: `router` , `dashboard`, `github-push`

[2018-09-06 14:46] kenfdev opened #136 "Add node8 express template to the `git-tar` function"
It would be nice to be able to serve SPAs in OpenFaaS Cloud. To be able to do that, the new `of-watchdog` would be a requirement because the function would need to serve the assets (index.html, *.js, *.css, etc.) and set proper `Content-Type` depending on the file type.

## Expected Behaviour

The [node8-express-template](https://github.com/openfaas-incubator/of-watchdog) should work with OpenFaaS

[2018-09-06 14:47] kenfdev commented on #136
Derek add label: proposal

[2018-09-06 14:47] kenfdev commented on #136
Derek assign: me

[2018-09-07 08:18] #116 closed

[2018-09-07 08:32] s8sg opened #139 "Proposal: Should build and release be split?"
openfaas-cloud cloud provides pipeline that clone, build, push and deploy functions. Deployment is a part of the pipeline although based on the scenarios it might be justified to use a separate system (e.g `Release Manager`) to handle the deployment.

## Expected Behaviour
By default deployment gets handled by `of-deployer` function. If necessary one may replace the `of-deployer` with tailor made

[2018-09-07 10:08] #108 closed

[2018-09-07 10:20] alexellis commented on #136
Derek close: released

[2018-09-07 10:20] #136 closed

[2018-09-07 10:21] alexellis commented on #88
Where are we with this now?

[2018-09-07 10:43] alexellis opened #140 "garbage-collect must use internal trust"
## Expected Behaviour

garbage-collect should validate all requests using the internal trust secret

## Current Behaviour

It doesn't which means if you have the URL you may be able to delete functions

## Possible Solution

@martindekov to investigate

[2018-09-07 10:49] alexellis opened #142 "Update instructions to use github-event, not github-push"
## Expected Behaviour

github-event adds support for removing functions when an installation removed event is received.

It should be what we point at for webhooks rather than to: github-push.

* Set its name as: system-github-event (don't rename the handler)
* Set the name of system-github-push to github-push (only in the YAML)

Update the instructions in docs/README.md

Test end-to-end on your o

[2018-09-07 10:50] martindekov commented on #88
Yeah

[2018-09-07 10:56] alexellis opened #143 "Router: Add annotation to stop Weave cloud from scraping"
Weave cloud is creating erroneous requests to the router by attempting to scrape metrics from it.

See the faas-netes code and copy the approach into the Deployment YAML to prevent scraping using the required annotation.

Alex

[2018-09-07 10:56] alexellis commented on #143
@bartsmykla PTAL

[2018-09-07 11:23] alexellis opened #144 "Re-write dashboard in React.js"
## Expected Behaviour

In order to scale and to support in the roadmap (#145) for OAuth 2.0 with GitHub we need a single-page app with its own API shim. @kenfdev is writing a replacement for the overview and pipeline-log functions which we can extend with functionality and later use to integrate with OAuth 2.0.

## Current Behaviour

We use two separate functions with Go templating.

[2018-09-07 11:29] alexellis opened #145 "Feature: OAuth2.0"
According to the roadmap we should use an OAuth2.0 integration to personalise/protect the dashboard page.

## Current behaviour:

Dashboard pages are open

## New behaviour

User must first log-in with GitHub

I expect this to be implemented within the `router` component in a stateless way using the Code Grant flow from OAuth 2.0. Once authenticated the browser will be issued with a Cookie - most

[2018-09-07 12:51] bartsmykla opened #146 "of-router image version is wrong"
Inside `yaml/core/of-router-dep.yml` version of image is `0.2` and in dockerhub it's `0.2.0` so router is not being correctly deployed

## Expected Behaviour
of-router correctly deployed

## Current Behaviour
Deploying of-router fails because of wrong image

## Possible Solution
Change version inside of yaml/core/of-router-dep.yml`

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## You

[2018-09-07 12:59] viveksyngh commented on #88
I have already tried to build a function with CLI manually. I will try to build a function using OpenFaaS-cloud this weekend.

[2018-09-07 16:04] #146 closed

[2018-09-09 10:45] alexellis opened #150 "Dashboard: incorrect links for usernames containing (-)"
## Expected Behaviour

For the following username we should present the correctly formatted endpoint link for his "hello-go" function.

https://system.o6s.io/overview?user=zhenfeng-zhu

i.e. https://zhenfeng-zhu.o6s.io/hello-go

## Current Behaviour

Due to some code in the dashboard UI calculating the "shortName" variable we are appending part of the username to the endpoint URL causing it to fai

[2018-09-09 12:15] kenfdev commented on #150
Derek assign: me

[2018-09-09 15:00] #150 closed

[2018-09-09 15:10] alexellis commented on #143
Derek assign: me

[2018-09-09 15:10] alexellis commented on #143
Derek close: fixed

[2018-09-09 15:10] #143 closed

[2018-09-09 15:10] alexellis commented on #143
YAML files updated in ./yaml/core/

[2018-09-10 00:36] kenfdev opened #152 "Function table not being responsive"
When in small screens, the function table exceeds the width of the panel. (not being responsive)

## Expected Behaviour

The table to show scrollbars when in small screen width.

## Current Behaviour

The table exceeds the width of the panel.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Shrink the screen width.
![image](https://user-images.githubusercontent.com/3941889/45270873-e904

[2018-09-10 09:10] #152 closed

[2018-09-10 12:49] alexellis opened #154 "Force scaling limits"
## Expected Behaviour

Scaling limits should be enforced as per the docs.

Let's have a min limit of 1 and max of 4

## Current Behaviour

Min = 1, Max = top upper bound

## Possible Solution

Update the buildshiprun command to give these labels/annotations.

[2018-09-10 12:50] alexellis commented on #154
https://docs.openfaas.com/architecture/autoscaling/#minmax-replicas

[2018-09-10 12:53] alexellis opened #155 "Prefix openfaas-cloud labels with com.openfaas.cloud."
## Expected Behaviour

We should be able to filter out our own labels vs. user labels.

Prefix all labels with `com.openfaas.cloud.`

i.e.

[code]

## Current Behaviour

The labels are not namespaced or prefixed, so if we wanted to filter we'd have to keep a whole list of all the variants.

## Solution

While working on this solution, let's also make all labels lower-case for the label value for c

[2018-09-10 13:01] ivanayov commented on #154
Derek assign: me

[2018-09-10 13:05] bartsmykla commented on #140
Derek assign: me

[2018-09-10 13:36] alexellis commented on #140
@martindekov please take this as a top priority.

[2018-09-10 13:40] alexellis commented on #140
Thanks Bart

[2018-09-10 14:07] alexellis commented on #154
This is where the code creates labels for the deployment. Let's read the min/max values from the gateway_config.yml file.

https://github.com/openfaas/openfaas-cloud/blob/master/buildshiprun/handler.go#L156

Alex

[2018-09-10 14:13] ivanayov commented on #154
Thanks.
I just finished the code change and am going to test it

[2018-09-10 19:14] #154 closed

[2018-09-11 10:43] martindekov commented on #119
I just saw that comment I am on it.

[2018-09-11 10:57] martindekov commented on #125
I think can work on this one now since I am ready with the other tasks

[2018-09-11 21:23] alexellis opened #162 "Function: Expose additional metrics"
## Expected Behaviour

We should be able to bubble up r/s for 2xx and non 2xx (error) codes over the last hour for use in the dashboard's detail page.

Without changing the gateway API we can query Prometheus directly for a single named function and bring back data.

Example query that returns the data with the codes (replace figlet in the string):
[code]

The easiest way to do this may be to crea

[2018-09-12 06:40] viveksyngh commented on #162
we can also make time variable can be passed as input to the function.

[2018-09-12 06:56] alexellis commented on #162
Since it's for the dashboard only and is not an API for general consumption let's keep it simple and get something ready. Later down the line we will need to think about whether this data goes into the gateway API.

[2018-09-12 08:58] ivanayov commented on #162
Derek assign: me

[2018-09-12 09:24] #144 closed, assigned to kenfdev

[2018-09-12 11:29] martindekov opened #163 "Move CUSTOMERS validation out of github-push"
Soon we would like to move out of `github-push` for event handling and support more than push events from github and give that to `github-event`. Currently the CUSTOMER validation is handled in `github-push`

## Expected Behaviour

Should extend the `PushEvent` struct with `sender` field to compare by that since the field is present in the outer layer of `X-GitHub-Event: push`,`X-GitHub-Event: ins

[2018-09-12 11:30] martindekov commented on #163
I can work on that when we settle on solution

[2018-09-13 07:44] alexellis opened #167 "Move "X-Cloud-Signature" into const"
## Task / detail

We should be able to reference `"X-Cloud-Signature"` through a const or package in the `sdk` package across all the functions. Right now it's a heavily-repeated string and I'm concerned that it would be a lot of work to change it or that we may type it in wrong.

It will require two PRs:

* 1 - add the const/string to the `sdk` package and ask me to do a release
* 2 - re-vendor t

[2018-09-13 07:46] alexellis commented on #119
@martindekov @burtonr what's the latest with our community cluster? I saw Martin applied for a new account using a mixed-case user.

[2018-09-13 07:47] alexellis commented on #88
@viveksyngh do you have an update on this please? It may be necessary to fire the event into the `github-push` function manually as I'm not sure if we have a "Gist created" event available for GitHub apps.

[2018-09-13 08:10] alexellis opened #168 "UI: Scroll to last log line"
In the dashboard we should scroll to last log line when the page is loaded/loading. This is because you visit this page to find out what happened - the most interesting data is pretty much always at the end of the page.

We may also want to add a "Jump to top" button for when this isn't the case.

Help wanted.

Alex

[2018-09-13 08:12] alexellis opened #169 "Build dashboard static assets using a Node.js container"
## Expected Behaviour

`make` within the dashboard sub-folder should generate static assets using a container and a bind-mount so that we have a consistent experience for all developers.

## Current Behaviour

Depends on local tooling such as `yarn` which may be at different versions.

## Possible Solution

Use the official Node.js / Alpine container to carry out the build by mounting the source/d

[2018-09-13 08:39] viveksyngh commented on #167
Derek Assign: me

[2018-09-13 08:47] viveksyngh commented on #88
Yes, We don't have `Gist created` or `Gist Updated` event for Github Apps. I will try to create github-push event manually, see what extra required to build the function using `gist`.

[2018-09-13 08:55] jkrol2 commented on #169
@alexellis  Can I work on it?

[2018-09-13 09:38] ivanayov commented on #169
@jkrol2 feel free to take it :)

[2018-09-13 12:28] kenfdev commented on #168
I think there are 2 things to consider here for better experience:

1. Dynamically set the editor's height so that it fits the screen height (it's currently hard coded to 500px)
2. Go to the bottom line of the code to look at the latest line

`1.` is going to be slightly challenging. `2.` should be easy because the ace editor should have an api to set the editor to the last line.

For a quick iter

[2018-09-13 13:55] alexellis commented on #168
Let's do option 2 asap and figure out what option 1 looks like along the way.

[2018-09-13 13:56] alexellis commented on #163
Sounds fine to me, but we have to switch over to github-event first and github-push must validate only with the internal trust signature.

[2018-09-13 13:56] alexellis commented on #162
Hi @ivanayov have you made any progress on this? I think it should be a reasonably quick task to prototype.

Alex

[2018-09-13 16:27] alexellis opened #171 "UI: dashboard detail page - "run on my OpenFaaS" button"
For the UI dashboard page I'd like to see a new button for users called "run on my OpenFaaS"

When you click on it a modal appears which you can copy/paste a stack.yml which is generated by the webpage using the Docker image name and function name.

It should also have a copy/paste command for the faas-cli to deploy.

Example:

Save as `stack.yml`:
[code]

Then run:

[code]

[2018-09-13 17:59] alexellis opened #172 "UI: Dashboard GitHub badges"
We should provide a button with a pop-up modal dialog that lets the user copy/paste markdown for a GitHub badge. This initial version won't connect to a live service but could just say `[OpenFaaS: Cloud]` for instance. Should be on the details page. See Travis CI for an example of this or the OpenFaaS readme.

[2018-09-13 19:42] jaigouk commented on #168
@alexellis i will open a PR for this

[2018-09-13 19:53] alexellis commented on #172
Example:

![travis-web-example](https://user-images.githubusercontent.com/6358735/45512248-209e7380-b797-11e8-82c5-45f9f4496bc2.png)

[2018-09-13 19:58] jaigouk commented on #172
@alexellis i will start to work on this. if i can't finish it today then i will let you know.

[2018-09-13 19:58] alexellis commented on #172
Additional example:

[code]

[![OpenFaaS](https://img.shields.io/badge/openfaas-cloud-blue.svg)](https://www.openfaas.com)

Initially the pop-up would just give text as above, but in time we can extend it to potentially give the build status and other data like invocations.

[2018-09-13 19:59] alexellis commented on #172
It'd be good to see this modal after clicking "Get badge" or similar in the style of "Build logs".

[2018-09-14 05:58] kenfdev opened #174 "Proposal: Automate the UI build"
## Expected Behaviour

Push a new UI client JavaScript code and the container image gets built with the newest assets. This means the final bundled assets doesn't need to be managed with git and the developer doesn't need to commit it either.

## Current Behaviour

You need to hit `make` or build the assets with something like `yarn build` before committing. Which tend to be forgotten. Also, while

[2018-09-14 05:58] kenfdev commented on #174
Derek add label: proposal

[2018-09-14 06:40] jaigouk commented on #172
@kenfdev recommended to start using https://github.com/reactstrap/reactstrap

[2018-09-14 08:31] bartsmykla commented on #162
Plan for this task:
- [ ] creating a function which will expose empty JSON
- [ ] parsing the function name from url
- [ ] getting metrics from prometheus
- [ ] updating JSON with the results from prometheus
- [ ] writing tests

Part 2:
- [ ] exposing that function as `/system-metrics/[function_name]`
- [ ] updating OpenFaaS Cloud dashboard
- [ ] updating the documentation

[2018-09-14 08:45] alexellis commented on #162
Please add estimations for time for each part. Note updating the OpenFaaS Cloud dashboard is not part of this task. Feel free to raise a new issue for that.

[2018-09-14 08:46] alexellis commented on #162
On "Get metrics from Prometheus" please give some analysis or 1-2 lines on how this will be done. I.e. look at the gateway code and decide if it can be re-used.

[2018-09-14 08:53] bartsmykla commented on #162
@alexellis done :-)

[2018-09-14 08:56] alexellis commented on #162
(I'm not seeing the feedback in the above.. done to which part?)

[2018-09-14 09:27] ivanayov commented on #162
Tests to write:
- [ ] the function name is parsed properly (use async, non-async, system links, wrong url, gateway/[function name] - check which of these are use cases)
- [ ] the metrics are exposed properly ( ? can it be done in a unit test?)
- [ ] expected json results

- [ ] test for `/system-metrics`

[2018-09-14 13:38] alexellis commented on #162
I'll just repeat this a second time.

There is no endpoint " test for /system-metrics" in this task. The function may be deployed as:

`/function/system-metrics` and should be part of the stack.yml for OpenFaaS Cloud.

The name of the handler folder will be metrics but the `system-` prefix means we can expose it via the router as `https://system.domain.com/metrics`. Please do not confuse this with

[2018-09-14 15:58] ivanayov commented on #162
We're done with exposing the metrics and returning them as a JSON. What's left is to trigger the prometheus host/port and write tests.

[2018-09-14 17:47] ivanayov commented on #162
Everything except Part 2 (which we discussed may drop from this issue) is now done.
For more details, please review the pull request

[2018-09-15 13:00] #169 closed

[2018-09-15 19:50] affix commented on #171
@alexellis It would be cool to have it have a ready to run one liner

like

[code]

or allow the deploy command to take a URL to a stack

[2018-09-16 02:56] bishwenduk029 commented on #174
@kenfdev , can we also add as an additional measure, git postcommit hook via Husky to allow for make/"yarn run build" to be executed every time a commit is made in local git.

[2018-09-16 08:10] alexellis commented on #174
We don't really want to have multiple people generating the dist folder. Ideally we could do but will have clashes on PRs. We could use a local dist folder in the git ignore for local development and then have the Docker image build or Makefile produce the final image with the generated contents via CI.

[2018-09-16 08:10] alexellis commented on #174
Derek add label: design/review

[2018-09-18 09:58] bartsmykla opened #186 "Mange DNS suffix in one place for internal services"
Because for kubernetes hostnames need to contain namespace (if you want to call them from other namespace) and for docker swarm we don't. Sometimes we need "gateway.openfaas" (K8s) and other times "gateway" (swarm). That's configured in each URL via `github_config.yml` maybe it's a good idea to improve that experience.

## Expected Behaviour
Have one place where we can specify for example `dns_suf

[2018-09-18 18:14] alexellis opened #188 "UI: Dashboard - set progress bar to green for 1/1 replicas, not red"
## Expected Behaviour

The dashboard should show "ok" / green for 1/1 replicas.

## Current Behaviour

100% of max replicas i.e. 1/1 shows as red which is not a positive sign to the user.

1/1 is shown when that is the actual limit or the limit is unknown.

## Possible Solution

Suggest / make a fix or adjustment to the React code in dashboard/client/

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

[2018-09-18 18:21] alexellis opened #189 "UI: Dashboard add React metrics component"
## Expected Behaviour

Based upon #182 add a React.js component which renders metrics successful and errored for a function based upon the last hour or 24 hours (allow this to be a toggle in the UI.

Here is an example of what it could look like:

![img_20180918_182922](https://user-images.githubusercontent.com/6358735/45707848-d68f0680-bb77-11e8-943f-98822e771ce4.jpg)

Suggested fields:

[code]

[2018-09-18 18:26] alexellis commented on #145
I am making progress on this and will be posting an update soon.

[2018-09-18 18:27] viveksyngh commented on #189
Derek add label: area/dashboard

[2018-09-18 18:28] viveksyngh commented on #167
Still 2nd part is yet to be done. Have you released the new version of `sdk`?

[2018-09-18 18:28] viveksyngh commented on #188
Derek add label: area/dashboard

[2018-09-18 18:29] viveksyngh commented on #188
Derek add label: skill/beginner

[2018-09-18 18:32] viveksyngh commented on #189
Derek add label: skill/beginner

[2018-09-18 18:47] alexellis opened #190 "UI Dashboard: change endpoint link to "copy to clipboard""
This change is for the Overview page of the dashboard.

## Expected Behaviour

The endpoint link may not be useful for many people to visit from the dashboard, so let's change the current behaviour of the link to "copy to clipboard" then add another link by it with the icon to show "open in new window"

https://fontawesome.com/icons/link?style=solid

https://fontawesome.com/icons/external-link-alt

[2018-09-18 18:50] alexellis opened #191 "UI Dashboard: Endpoint truncated to "Endpoi...""
## Expected Behaviour

"Endpoint" should show the full word, but doesn't

The icon for "Invocations" should not wrap onto a new line either - it looks a bit messy.

## Current Behaviour

The word "Endpoint" is is truncated to "Endpoi..."

## Possible Solution

I think we should change this to "Link:" but also implement the icons from #190

![wrapping](https://user-images.githubusercontent.com/6358

[2018-09-18 18:50] alexellis commented on #191
Derek add label: area/dashboard

[2018-09-18 19:13] alexellis opened #192 "Experiment: create an org and install OpenFaaS Cloud on a repo"
## Expected Behaviour

OpenFaaS Cloud should be able to build/deploy repos that belong to an organisation.

## Current Behaviour

I don't know if that is supported.

## Possible Solution

Try this out and report back findings with suggestions on changes needed.

## Steps to Reproduce (for bugs)

1. Create a GitHub org on the free plan
2. Create a repo under the org with a valid function and `git p

[2018-09-18 19:19] alexellis commented on #145
Related: https://github.com/openfaas/openfaas-cloud/issues/192

[2018-09-18 19:27] alexellis commented on #167
Yes that's released now. Please check latest.

[2018-09-18 23:18] kenfdev commented on #172
I'd say we add `react-bootstrap` and just use the [Modal component](https://react-bootstrap.github.io/components/modal/) to show modals. The inclusion of `react-bootstrap` is optimized so the components we include will only be imported to the final bundled JavaScript.

I think this is the most minimal impact approach. I'd like Jag's input, too.

[2018-09-18 23:28] kenfdev commented on #171
Derek add label: area/dashboard

[2018-09-18 23:30] kenfdev commented on #171
How to integrate modals to the current dashboard is discussed in the following issue:

https://github.com/openfaas/openfaas-cloud/issues/172

[2018-09-18 23:32] kenfdev commented on #190
Derek add label: area/dashboard

[2018-09-18 23:35] kenfdev commented on #190
FYI, the gateway UI implements it like this:

https://github.com/openfaas/faas/blob/master/gateway/assets/script/bootstrap.js#L26

Care is needed for browsers who support `document.queryCommandSupported('copy')`

[2018-09-18 23:35] kenfdev commented on #190
Derek add label: skill/beginner

[2018-09-19 03:18] s8sg commented on #192
Derek assign: me

[2018-09-19 06:34] kvuchkov opened #193 "Functions cannot be deployed on Kubernetes"
Functions cannot be deployed on Kubernetes due to the new memory limit mechanism.

## Expected Behaviour
Functions on k8s to be deployed successfully with limit suffix Mi.

## Current Behaviour
Function pods remain in CreateContainerError state b/c function deployments have a memory limit with suffix of "m" instead of "Mi".

## Possible Solution
The buildship run function was updated, but the dock

[2018-09-19 07:04] alexellis commented on #193
Thank you for raising the issue. Can you raise a PR for the updated version in the YAML file? I'll do a build/push before merging. Let's also increase the default from 20 to 128.

[2018-09-19 07:09] #193 closed

[2018-09-19 08:49] #140 closed

[2018-09-19 09:57] alexellis opened #195 "UI: Dashboard indicate private repos"
## Expected Behaviour

Use https://fontawesome.com/icons/user-secret?style=solid to show a private repo in the dashboard overview page.

## Current Behaviour

Unable to detect a difference

## Possible Solution

This may need a "git-visibility" or "git-public" label to be deployed via buildshiprun? We have the metadata already in git-tar, but I don't know if we label or annotate the deployment yet

[2018-09-19 13:38] martindekov commented on #186
Derek assign: me

[2018-09-19 13:47] martindekov commented on #186
Since we get the gateway in almost every function in the cloud is it a good idea to create function that formats the gateway in SDK and re-vendor rather than appending it to all the handlers ?

[2018-09-20 10:32] alexellis commented on #192
Derek unassign: s8sg

[2018-09-20 10:33] alexellis commented on #192
@s8sg let me know on Slack he can't take this task now.

[2018-09-20 10:44] alexellis commented on #190
Good comments Ken. This should be a quick PR for someone to pick up.

[2018-09-20 12:15] alexellis commented on #119
Pinging @martindekov for an update

[2018-09-20 12:19] alexellis commented on #172
Please could you do a PR/PoC for this?

[2018-09-20 12:27] martindekov commented on #119
I am pretty confident now that we handled the cases where case sensitive username would be problem this includes:
* validate_customers
* of-router access
* dashboard acess
* dashboard with of-router access
* function creation(directly affects the of-router and dashboard)'
I think we can close the issue, I haven't been able to upload interesting/decent function with my case sensitive name on the pu

[2018-09-20 13:49] bartsmykla commented on #195
Derek assign: me

[2018-09-20 13:50] bartsmykla commented on #195
Estimates:
- Check if deployments are annotated (or label is added) with information if function is private [15m]
- (if not) exposing that information by assigning label [30m]
- ui change [30m]

[2018-09-20 13:51] bartsmykla commented on #191
Derek assign: me

[2018-09-20 14:43] bartsmykla commented on #190
Derek assign: me

[2018-09-20 14:43] bartsmykla commented on #190
Estimate: 30 minut

[2018-09-20 15:31] bartsmykla commented on #190
![image](https://user-images.githubusercontent.com/11655498/45829323-9607c800-bcf2-11e8-8cc8-67a2661fd651.png)

[2018-09-20 20:53] jaigouk commented on #172
would this enough for the badge?
<img width="938" alt="screen shot 2018-09-20 at 22 44 42" src="https://user-images.githubusercontent.com/6720/45846420-0250ee80-bd28-11e8-867b-dcdc58042c57.png">

[2018-09-20 21:18] alexellis commented on #172
Looks like a nice start, have you tried Ken's suggestion? Maybe you could try adding it and show a gif?

[2018-09-20 21:19] alexellis commented on #190
Hi Bart, what is the image for?

This task is for the overview page (it may also apply to the details page)

Alex

[2018-09-20 21:27] jaigouk commented on #172
added react-bootstrap "^0.32.4"

![get-badge](https://user-images.githubusercontent.com/6720/45847823-9624b980-bd2c-11e8-845e-b6770a64b1c1.gif)

[2018-09-20 21:58] alexellis commented on #172
Do you think we should also show what the badge will look like as a preview?

[2018-09-21 00:29] jaigouk commented on #172
updated PR with following modal

<img width="584" alt="screen shot 2018-09-21 at 02 07 22" src="https://user-images.githubusercontent.com/6720/45853402-4999a800-bd45-11e8-8812-5d2a94601ea9.png">

[2018-09-21 09:14] #172 closed

[2018-09-21 09:57] ivanayov commented on #171
Derek assign: me

[2018-09-21 10:02] ivanayov commented on #171
Derek unassign: me

[2018-09-21 10:36] viveksyngh commented on #192
Derek assign: me

[2018-09-21 11:45] jaigouk commented on #190
@alexellis @bartsmykla
I added `react-copy-to-clipboard` and the commit was not merged. so I am thinking about creating a new PR for the behaviour and then I found this ticket.

![copy-badge-md](https://user-images.githubusercontent.com/6720/45879356-792bcd00-bda4-11e8-97c3-dbca5cddac7f.gif)

[2018-09-21 13:05] jaigouk commented on #189
I checked `https://hub.docker.com/u/functions/` and the system-metrics was not there.  so i changed my stack.yml

[code]

[code]

[2018-09-21 13:17] viveksyngh commented on #192
It's is working fine for an organization as well. I have deployed https://github.com/faas-furious/of-cloud-test-fn repo to OpenFaaS cloud.

http://142.93.39.213:8080/function/system-dashboard/faas-furious/

[2018-09-21 13:18] #155 closed

[2018-09-21 13:19] #142 closed

[2018-09-21 13:22] jaigouk commented on #189
I am bit confused about where to put this metrics component. because we have "invocations" info.

![openfaas_cloud](https://user-images.githubusercontent.com/6720/45883659-f6117380-bdb1-11e8-9609-731c83a53450.png)

[2018-09-22 08:53] alexellis opened #209 "Update router to prevent access to `/` path"
## Expected Behaviour

The root path should not be available via the router:

https://system.domain.com/

or

https://alexellis.domain.com/

## Current Behaviour

Router hosts are translated to function paths i.e. /function/alexellis-PATH or /function/system-PATH

## Possible Solution

Update the router to check for the Path - if it is "" or "/" then return 404 not found.

## Steps to Reproduce (f

[2018-09-22 08:57] rgee0 commented on #209
Derek assign: me

[2018-09-22 09:43] #188 closed

[2018-09-22 09:54] alexellis opened #210 "Assign "SCM" field to functions via github-push"
## Expected Behaviour

We should assign an "SCM" field to functions via `github-push` so that we can use this information for re-constituting links later on.

For example:

[code]

## Current Behaviour

We assume only GitHub, but have support for GitLab via #101 - this means dashboard links etc are wrong when using GitLab - they are instead directed to GitHub.

For GitLab we may need to have a fur

[2018-09-22 09:54] alexellis commented on #210
cc @bartsmykla @martindekov

[2018-09-23 19:59] alexellis commented on #209
Derek close: something about people using keywords @rgee0 ? :smile:

[2018-09-23 19:59] #209 closed

[2018-09-23 20:00] alexellis commented on #209
Fixed via #212 (thank you very much Richard :+1: :100: )

[2018-09-23 20:19] jaigouk commented on #189
some options

<img width="129" alt="screen shot 2018-09-23 at 22 14 31" src="https://user-images.githubusercontent.com/6720/45932555-1857ec80-bf7e-11e8-8d2d-93ed7aefb808.png">
<img width="129" alt="screen shot 2018-09-23 at 22 02 20" src="https://user-images.githubusercontent.com/6720/45932557-1beb7380-bf7e-11e8-9fa8-c406addcb9a8.png">
<img width="123" alt="screen shot 2018-09-23 at 22 18 55" src=

[2018-09-23 21:10] alexellis commented on #189
For now "all" only has invocations as seen today without a further breakdown.

Some good ideas there. Anything else that can use Bootstrap more natively?

[2018-09-24 07:44] jaigouk commented on #189
another option with progress bar.
![screen shot 2018-09-24 at 09 44 20](https://user-images.githubusercontent.com/6720/45941434-70264000-bfde-11e8-9b60-006ae0907189.png)

[2018-09-24 09:20] johnmccabe opened #213 "UI Dashboard: Should provide ability to logout/deauthenticate when OAuth merged"
## Expected Behaviour
When the OAuth feature is merged it should be possible to logout/deauthenticate from the service.

## Current Behaviour

Current OAuth implementation doesn't include the ability to logout/deauthenticate.

## Possible Solution

Add a logout option which deletes the auth cookie and redirects to the standard landing page. Note its probably worth tweaking the design slightly to a

[2018-09-24 14:35] bartsmykla opened #214 "Proposal UI: Use a Bootstrap library vs HTML"
In our roadmap there is plan moving from native HTML/JSX components with bootstrap classes to bootstrap components using libraries like `react-bootstrap` or `reactstrap`.

I want to pick up this task and I'm thinking about usage of `reactstrap` because of bootstrap 4 (react-bootstrap is not supporting bootstrap 4), which is currently maintained, and I think more future proof and easier to work wit

[2018-09-24 14:36] bartsmykla commented on #214
Derek add label: area/dashboard

[2018-09-24 14:36] bartsmykla commented on #214
Derek assign: me

[2018-09-24 15:05] jaigouk commented on #214
for `react-bootstrap`, they have a doc for using v4

https://react-bootstrap.netlify.com/migrating

[2018-09-24 15:12] bartsmykla commented on #214
@jaigouk what do you think about an idea of moving to bootstrap 4?

[2018-09-24 15:13] kenfdev commented on #214
Thanks for the issue Bart!  Yes, trying to add features which use jQuery is pretty much a pain unless we use those frameworks. I wanted input about whether to use `react-bootstrap` or `reactstrap`, too. As @jaigouk points out, they're (react-bootstrap) in beta for bootstrap 4. I don't have enough time to research the pros and cons of the two (looks like reactstrap has been focusing on v4 for a lon

[2018-09-24 15:34] bartsmykla commented on #214
Do you have anything against idea, to play with it by me (I think that I'll start with `reacstrap` because I prefer working with it, and if there will be anything wrong, I'll try `react-bootstrap`). We could discuss on living PR.

[2018-09-24 15:47] alexellis commented on #214
@bartsmykla please write-up the pros and cons for us including whether you've encountered any issues with our current implementation using Bootstrap 3.

[2018-09-25 08:15] alexellis opened #215 "git-tar - cache templates"
## Expected Behaviour

Given that templates rarely change, we should cache the 3-4 template repos we pull in from GitHub and copy them to the working directory for the shrink-wrap stage

## Current Behaviour

We clone all 3-4 repos for every function in the stack file on every `git push`. It's not necessary. I think we could cache to a known-folder in `/tmp/` and copy the files in from there.

[2018-09-25 08:40] martindekov commented on #215
Derek assign: me

[2018-09-25 08:42] alexellis opened #216 "Experiment: can we build buildkit for armhf?"
## Expected Behaviour

It would be amazing to run OpenFaaS Cloud on a Raspberry Pi cluster.

## Current Behaviour

Current blocker as I see it is having a Docker image available for BuildKit.

## Possible Solution

Research building BuildKit for armhf

[2018-09-25 08:42] alexellis commented on #216
cc @rdimitrov

[2018-09-25 08:45] alexellis opened #217 "Research: what would it take to use Kaniko vs. BuildKit?"
## Expected Behaviour

Could OpenFaaS Cloud use Kaniko as an alternative to BuildKit?

Kaniko is Google's alternative container-builder, it is slower and does not have caching but uses a slightly different security model which could be useful. See also #216 perhaps Kaniko would build for armhf if BuildKit cannot.

## Current Behaviour

BuildKit is used as a re-useable daemon, but Kaniko uses a sac

[2018-09-25 08:46] alexellis commented on #210
@martindekov please can you take this?

[2018-09-25 08:47] martindekov commented on #210
Yeah

[2018-09-25 08:48] alexellis opened #218 "git-tar: record whether a repo is private"
## Expected Behaviour

To support #195 we need to update git-tar and `buildshiprun` to decorate functions with this meta-data. It will then be read from the UI.

This change needs to be dual-maintained to the GitLab work in #101

[2018-09-25 08:48] martindekov commented on #218
Derek assign: me

[2018-09-25 08:49] martindekov commented on #210
Derek assign: me

[2018-09-25 08:50] alexellis commented on #210
Source Control Management i.e. GitHub / GitLab / BitBucket

[2018-09-25 08:51] alexellis commented on #192
I'm seeing missing data on the dashboard?

[2018-09-25 08:52] alexellis commented on #163
@martindekov you can work on this now that I've merged the work to switch to github-event as the primary endpoint.

[2018-09-25 08:52] #162 closed

[2018-09-25 08:52] martindekov commented on #163
Ok I am on it

[2018-09-25 08:52] martindekov commented on #163
Derek assign: me

[2018-09-25 08:52] alexellis commented on #162
Merged, released. Thank you both.

[2018-09-25 08:54] alexellis commented on #119
Thank you for the detailed feedback. Please go ahead and close using Derek.

@LucasRoesler since you have a case-sensitive name you'd be a perfect tester.. Could you run through the community gist and give feedback?

[2018-09-25 08:54] alexellis commented on #88
Thanks @viveksyngh I think gist events might be possible through the user permissions section.

[2018-09-25 08:56] alexellis opened #219 "Update status/checks API for when using an invalid template"
## Expected Behaviour

If someone tries to build with a template which is unavailable in the repos we clone i.e. `php` then they should receive feedback on that.

We also need to block `dockerfile` temporarily and give feedback to the user.

## Current Behaviour

@stefanprodan tried to use `dockerfile` and received no or poor quality feedback. It was confusing.

[2018-09-25 08:56] martindekov commented on #119
Derek close

[2018-09-25 08:59] alexellis commented on #186
What would you suggest? I see you raised #211 ?

[2018-09-25 09:00] alexellis commented on #79
Derek close: implemented and recorded in roadmap.

[2018-09-25 09:00] #79 closed

[2018-09-25 09:04] alexellis commented on #214
Hey @jagreehal it'd be great if you could provide some input on this thread?

[2018-09-25 09:06] alexellis commented on #119
@martindekov @LucasRoesler  I'm actually seeing issues here:

https://system.o6s.io/dashboard/LucasRoesler

When I click on the links for Lucas I get the wrong URL for the endpoint.. it's also wrong on the overview page. cc @kenfdev @bartsmykla @jaigouk

Alex

[2018-09-25 09:19] alexellis opened #220 "Research: SealedSecrets with Docker Swarm"
## Expected Behaviour

Can we use the SealedSecrets code to un-seal secrets, create them and then attach them to functions on Docker Swarm?

## Current Behaviour

This feature is unavailable for OpenFaaS Cloud when running with Docker Swarm

## Possible Solution

The OpenFaaS API may gain the ability to create secrets, but for now it does not have that capability.

This research task does not need

[2018-09-25 09:21] alexellis commented on #189
@jaigouk I really like this final version.

We also need to show the additional metric of all requests received "forever" which is not broken down yet by success/failure.

Can you give the values more "pop" / visual distinction?

Also - total what? (total requests per second - req/s)

Alex

[2018-09-25 09:36] martindekov commented on #186
I already made the change in #206 I only need to fix/Re-open the PR since there have been many re-vendoring of the sdk which may result in that 3200 files that have been changed.Also I need to check if `../gateway_config.yml` syntax works for dashboard if needed file is one directory up to apply the change not only for the gateway of the main functions but for dashboard.

[2018-09-25 09:40] martindekov commented on #119
Derek reopen

[2018-09-25 09:43] bartsmykla commented on #214
My thoughts about bootstrap 3/4:
- bootstrap 4 uses flexbox natively, which makes creating new features much easier without need of making ugly hacks if you want to vertically center anythinig
- you can easily decide if you want to use components with jquery or not
- native utility classes - right now you can do almost anything without use of external styles or with small amount of them:
    - aut

[2018-09-25 09:48] martindekov commented on #119
Now here is example function with my case sensitive user name:

https://system.o6s.io/dashboard/martindekovwat

The dashboard works for me, but it seems like the overview page is not working properly:

https://system.o6s.io/overview?user=martindekovwat

I need to check why is that

[2018-09-25 09:48] bartsmykla commented on #171
Derek assign: me

[2018-09-25 09:51] bartsmykla commented on #189
@jaigouk I also like the final version. :-)

[2018-09-25 10:02] martindekov commented on #119
So `buildshiprun` makes functions with lowercase github username appended and the overview is mapping by `?user=GitHubName` I think this is the problem we can see that here if we write `lucasroesler` everything is working

https://system.o6s.io/overview?user=lucasroesler

the overview works fine and dashboard works fine

https://system.o6s.io/dashboard/lucasroesler

Maybe we should be taking the n

[2018-09-25 10:50] martindekov opened #221 "Asynchronous invocation of garbage-collect"
Currently in `github-event` we invoke `garbage-collect` in the synchronous route e.g. `/function/garbage-collect` which time outs in case we delete the whole application and we have couple of repositories installed on the cloud.

## Expected Behaviour

We should call garbage-collect from the asynchronous route e.g. `/async-function/garbage-collect` to handle the case where we uninstall the whole o

[2018-09-25 10:59] jagreehal commented on #189
@jaigouk Looks good. The question is users switching between periods? Links such as 1hr / 24hr might be more obvious and usable than a select.  Links would be my preference until there are 'too' many options.

[2018-09-25 11:04] alexellis commented on #189
Yes - having both options on the screen at the same time then showing which is selected would be less clicks 👍

[2018-09-25 11:16] LucasRoesler commented on #119
sorry i missed this earlier, since i already have some function in 06s.io, is there anything specific you would like me to do right now.  The newest gist provides sealed secret instructions. Is that something we want to test now?

[2018-09-25 12:43] bartsmykla commented on #214
@kenfdev @jaigouk @jareehal I spent some time on that. I used reactstrap, and that's the result: https://gateway.dedal.io/function/system-dashboard/bartsmykla/ give me your thoughts, and if everything is ok, I can create Pull Request and we can work on that, if not, we can decide which direction we wanna take. I'm open to any suggestion and critique. :-)

[2018-09-25 13:57] alexellis opened #223 "Feature: OAuth 2.0 login via GitLab"
## Expected Behaviour

When installed on-premise or on a private cloud GitLab provides the ability to create an OAuth 2.0 App. This can be used for login in the same way that we're doing with GitHub via #197

This would mean users such as VMware or Vision Banco could set up their own internal / private OpenFaaS Cloud completely on-premise with Kubernetes and GitLab.

## Current Behaviour

Initial

[2018-09-25 13:59] alexellis opened #224 "Feature: Dashboard/API: support GitLab or other SCM"
## Expected Behaviour

Links on the UI Dashboard should point to the correct repo and SCM website such as https://github.com/owner/repo or https://gitlab.team-serverless.xyz/owner/repo/

## Current Behaviour

The links always point to GitHub, even with #101 deployed and active.

## Possible Solution

- Store metadata in the function as to which SCM it was created from #210
- Update UI code to crea

[2018-09-25 15:01] alexellis opened #225 "Feature: GitLab CI/CD support"
Part 1 - After a planning meeting with the FaaS team, we want to restrict gitlab-push to only work for repos that are tagged as "openfaas-cloud". Builds upon #109 which is working 👍

Part 2 - We need to garbage collect repos / functions when the tag is removed.
Tag events are sent via System Hooks.

Part 3 - we will need to document how to deploy OpenFaaS Cloud for GitLab as an alternative to GitH

[2018-09-25 18:58] alexellis opened #226 "Research item: Automate initial setup with Ansible"
## Expected Behaviour

It would make it easier to setup/deploy if we could automate some of the steps such as secret creation etc. Some initial fact gathering is required, but after that we could possibly automate some of the process in a similar way to how @rgee0 did it with https://www.openfaas.com/blog/deploy-digitalocean-ansible/

This is not on the critical path, but @rgee0 offered to look in

[2018-09-25 19:01] alexellis commented on #119
This is good to know @martindekov - perhaps we need to force the parameter to-lower in the query string / path? Feel free to raise an issue with the title "UI: Dashboard" as a prefix.

[2018-09-25 19:02] alexellis commented on #169
Hey @jkrol2 do we have you on Slack yet? Would you like to join in the discussion in the #ui-taskforce?

Alex

[2018-09-25 19:44] jaigouk commented on #214
It looks good to me. i just pushed `react-bootstrap` to move forward with modal part. I saw @bartsmykla worked on most of the details to compatible with `reacstrap`. thanks for the hard work.

[2018-09-25 20:29] jagreehal commented on #189
![proto](https://user-images.githubusercontent.com/3634906/46040984-9f859b80-c109-11e8-894d-484397fed4f9.gif)

Here's my thinking although I don't think we need a full pie chart. @jaigouk I like the progress bar would be nice to see this animated when selecting time period.

[2018-09-25 20:32] jagreehal commented on #214
I've just done a couple of prototypes this evening using reactstrap.  Looks good to me and hopefully reduces the need for jQuery and popper.js. @bartsmykla did you include it in the project using the npm module?

[2018-09-25 21:20] jaigouk commented on #189
checked reactstrap and react bootstrap. they don't have toggle button. so i implemented it. i think it's better to keep "consistency"

I read this article about dashboard ux. https://uxplanet.org/10-rules-for-better-dashboard-design-ef68189d734c

i think it's important to let us know the purpose of this dashboard page.
In the beginning, i thought about something like grafana dashboard. and then do

[2018-09-25 22:09] jaigouk commented on #189
@alexellis
`curl http://localhost:31112/function/system-metrics?function=alexellis-figlet| jq` returns \

[code]

but i can't find an option for metricsWindow to be changed as 24h in this line https://github.com/openfaas/openfaas-cloud/blob/master/system-metrics/handler.go#L36

[2018-09-25 22:56] kenfdev commented on #214
Your thoughts about 3 -> 4 are very nice and I can't agree more. Could we  have a peak with your code? Just curious how it looks like.

[2018-09-25 23:09] jagreehal commented on #189
@jaigouk yeah wasn't sure about the pie chart :) I've tried out the ProgressBar component and the values animate nicely. The only thing I changed from your version is to work out success/error percentages so the bar did not contain any empty space.

One other thing I'd change is to align the data values.

[2018-09-26 06:46] martindekov commented on #119
Ok I will do that

[2018-09-26 06:47] martindekov commented on #221
Derek add label: skill/beginner

[2018-09-26 07:11] martindekov opened #228 "UI Dashboard: Make username in query string lowercase"
Currently we are handling case sensitive names with `buildshiprun` by making them prefixed with lowercase my github username is MartinDekovWat and my function name in cloud would be: `martindekovwat-somefunctionname` which enables the of-router to work properly for case sensitive names.I am not sure how we exactly take the name from the query string in dashboard and overview, but we should take it

[2018-09-26 07:11] martindekov commented on #228
Derek apply label: area/dashboard

[2018-09-26 07:22] martindekov opened #229 "git-tar: Add custom template configuration"
Currently If we want to add our own custom template we need to enter git-tar, find the place we load the templates and add the string to our repository containing our template so the template can be downloaded.

## Expected Behaviour

Have environmental variable in some `.yml` file in which we add the github repository containing our custom repo

## Current Behaviour

To add custom template we nee

[2018-09-26 10:30] bartsmykla opened #231 "Add option of dynamic change metric_window inside system-metric"
@jaigouk is working on stats component for OpenFaaS dashboard and he need to have ability to dynamically query for metrics with different metric_window.

## Expected Behaviour
I think that we can use query params for that. So if you'll send a request like `[...]function/system-metrics?metrics_window=24h` it will return query from 24h

## Current Behaviour
`metrics_window` are taken from env_var an

[2018-09-26 10:30] bartsmykla commented on #231
Derek assign: me

[2018-09-26 11:39] martindekov commented on #218
So to be exact we need to handle the
[code]
and pass down the line to `buildshiprun` right ?

[2018-09-26 12:19] alexellis opened #234 "GitHub OAuth 2.0 - store org membership in claims"
## Expected Behaviour

The dashboard should be able to display functions belonging to any orgs you belong to such as `openfaas` which has a linked repo "cloud-functions". I belong to the org (as do some of you) so I should see those functions on my dashboard.

## Current Behaviour

I have to visit the dashboard separately

## Possible Solution

1. When collecting the user's profile from GitHub via

[2018-09-26 12:20] alexellis commented on #234
API to invoke "List user organizations": https://developer.github.com/v3/orgs/#list-user-organizations

[2018-09-26 12:21] alexellis commented on #234
@martindekov please also look into the GitLab API to find the equivalent to "organizations" and equivalent API to call.

[2018-09-26 17:03] alexellis commented on #214
@bartsmykla @jagreehal @jaigouk how is the PR looking now? What do we want to do?

[2018-09-26 17:20] alexellis opened #236 "UI: Dashboard - introduce blank slate feature"
## Expected Behaviour

When you land on the page there should be a link or action button clearly displayed when you have no functions. This is the blank slate / state for the dashboard. See the regular OpenFaaS UI portal for an example.

## Current Behaviour

We see a vague error message like "No functions", but probably don't need the grid rendered at all. There is no clear next-action for the us

[2018-09-26 17:38] bartsmykla commented on #214
I think that it looks good. @jagreehal @jaigouk what do you think?

[2018-09-26 20:42] jaigouk commented on #214
I am fine if we're going to stick with bootstrap. my colleague told me to take a look at https://bulma.io/

[2018-09-27 07:48] allendjal commented on #236
Proposed mockup attached here. Includes CTAs: create a new function + learn about openfaas functions
![functions-blank-slate](https://user-images.githubusercontent.com/38286758/46130827-16e12b00-c1ef-11e8-8d86-a2e8f57620b0.jpg)

[2018-09-27 08:28] alexellis commented on #218
You should look at how the "event" data works @martindekov and follow the same pattern.

[2018-09-27 09:53] alexellis commented on #229
cc @johnmccabe (re: PHP conference)

[2018-09-28 07:44] alexellis commented on #214
Looks like we have consensus on the proposal. @bartsmykla please can you rebase your PR and look at the feedback from the community on the thread?

[2018-09-28 09:15] alexellis opened #245 "Optimization for github-push"
## Expected Behaviour

From @ivanayov - we can optimize github-push by checking GitHub's RAW CDN for a stack.yml file before going ahead and cloning a repo.

The RAW CDN will give a 404 error which would save us on bandwidth:

* Existing file:

https://raw.githubusercontent.com/alexellis/not-fn/20377d9cb111bd71cc246bac4dfe38aee89cb7a2/README.md

* File not found:

https://raw.githubusercontent.com

[2018-09-28 09:20] alexellis opened #246 "github-push - create an invalid status/check when building non-master"
## Expected Behaviour

We should update the status / checks API when building from non-master, since there is currently no feedback given.

## Current Behaviour

We create an audit message but don't provide feedback to the user via checks API / status.

[code]

## Steps to Reproduce (for bugs)

1. Add GitHub App to new repo
2. In a new branch add stack.yml and functions
3. Do a push

[2018-09-28 09:23] alexellis opened #247 "Audit size of function build context"
## Expected Behaviour

In the audit log I'd like to see the size in bytes (i.e. KB or MB) whichever applies of each build context that we pass as a tar.

Functions: either `git-tar`, `buildshiprun` where we create or process the tar?

## Current Behaviour

No observability for the OFC operator.

Suggestion via @kvuchkov

[2018-09-28 09:25] alexellis opened #248 "Add auditing for garbage-collect"
## Expected Behaviour

We should get an audit report of any functions by name / count that are removed via garbage-collect.

## Current Behaviour

Available in container logs, but not in audit log

## Possible Solution

See approach used in github-push and update garbage-collect function.

[2018-09-28 10:11] alexellis commented on #225
Diagram outlining the differences in approach and events for integrating with GitHub vs GitLab.

Note that GitLab will have a custom URL.

![github _ gitlab](https://user-images.githubusercontent.com/6358735/46202592-29528600-c30f-11e8-90e4-0141b876e511.png)

[2018-09-28 10:15] alexellis opened #249 "Tracking Feature: for GitLab"
This issue tracks the feature for GitLab support.

Priority:

* #225 Feature: GitLab CI/CD support @martindekov
* #224 Feature: Dashboard/API: support GitLab or other SCM priority/high @martindekov @bartsmykla
* #223 Feature: OAuth 2.0 login via GitLab @bartsmykla / @alexellis
* TBC Feature: GitLab CI/CD for private repos @martindekov

[2018-09-28 10:48] bartsmykla commented on #214
@alexellis rebased. :-)

[2018-09-28 14:39] viveksyngh commented on #247
Derek assign: me

[2018-09-29 09:09] alexellis opened #252 "git-tar should invoke deploy (buildshiprun) in parallel"
## Expected Behaviour

git-tar should invoke deploy (buildshiprun) in parallel

## Current Behaviour

If a stack has 10 functions they are built in serial one at a time. Use an errgroup (see of-builder for an example of this) to build them parallel, but with a limit applied so that the concurrency is manageable - i.e. 2 or 4 at once.

The errgroup can be used to synchronise and collect any errors

[2018-09-29 09:12] alexellis commented on #247
Derek close: implemented by @alexellis

[2018-09-29 09:12] #247 closed

[2018-09-29 13:06] AkihiroSuda commented on #252
Does https://github.com/abarnert/errpool work for you?

[2018-09-29 14:03] alexellis commented on #252
Perhaps we could implement our own variation rather than the the technical debt/dependency? There's similar code in the faas-cli build command too.

[2018-09-30 13:13] alexellis opened #255 "Suggestion: Clean-up orphaned secrets"
## Expected Behaviour

When a secret is no longer bound to a function it should be reclaimed

## Current Behaviour

These are removed manually

## Possible Solution

Initially perhaps we could reclaim SealedSecrets on a periodic basis via cron / `kubectl`? this would cause the SealedSecrets controller to remove the Secret from Kubernetes.

We may also want to look into updating import-secrets so t

[2018-09-30 21:49] alexellis opened #256 "UI: Dashboard - offer logout button when JWT present"
## Expected Behaviour

In the UI: Dashboard we must offer a logout button (only when the cookie/JWT is present).

This can be detected by looking for a Cookie in the headers:

https://github.com/openfaas/openfaas-cloud/blob/3d3ed09707817b436751b279973d6f26191930a4/auth/handlers/const.go#L4

Clearing this Cookie should be sufficient.

## Current Behaviour

User must clear the Cookie manually.

[2018-10-01 10:29] martindekov commented on #248
Derek assign: me

[2018-10-01 10:44] alexellis commented on #245
Fixed via: https://github.com/openfaas/openfaas-cloud/commit/aa5828702f0e82f5b1070cb1c1b73ff908ceb4e3

cc @ivanayov

Martin @martindekov you'll probably need to make sure you ignore this code when running in GitLab or find the alternative

[2018-10-01 10:44] alexellis commented on #245
Derek close: released

[2018-10-01 10:44] #245 closed

[2018-10-01 11:11] martindekov commented on #229
Since I already have opened PR #250 I can quickly do this one if @johnmccabe didn't start working on it?

[2018-10-01 11:15] martindekov commented on #229
Derek assign: me

[2018-10-01 11:47] #231 closed

[2018-10-01 12:35] martindekov commented on #229
My approach would be `custom_templates: "https://github.com/openfaas-incubator/node8-express-template.git,https://github.com/openfaas-incubator/golang-http-template.git"` other way would be to create `custom_template.yml` file copy it in the container then parse the yml like we would do with build options in faas-cli. If there are no other suggestions, which approach sounds better ? @openfaas/faas

[2018-10-01 13:34] martindekov commented on #245
This is optimization with git-tar so I think if we abstract away
[code]
and maybe format it by field (check CloneURL containing gitlab,github?) we won't have to worry duplicating the change for both push functions. I can create Issue and add the format function.

[2018-10-02 20:13] johnmccabe commented on #255
I'll work on this

[2018-10-02 20:13] johnmccabe commented on #255
Derek assign: me

[2018-10-02 20:14] johnmccabe commented on #255
Derek unassign me

[2018-10-02 20:53] viveksyngh commented on #192
It was due to the mismatch in the version of the dashboard and other functions. I have updated the it please check it now.

[2018-10-03 08:12] alexellis commented on #220
Derek add label: Hacktoberfest

[2018-10-03 08:12] alexellis commented on #171
Derek add label: Hacktoberfest

[2018-10-03 08:13] alexellis commented on #171
Derek unassign: bartsmyka

[2018-10-03 08:13] alexellis commented on #171
Let's only assign work when actively working on it to prevent blocking participation from the community.

[2018-10-03 08:14] alexellis commented on #171
Derek unassign: bartsmykla

[2018-10-03 10:01] ivanayov commented on #246
@kvuchkov are you working on it or it's free to work on?

[2018-10-03 10:46] alexellis commented on #252
Derek add label: Hacktoberfest

[2018-10-03 11:19] alexellis opened #268 "godoc: document Handler in each function"
## Expected Behaviour

When viewing functions such as: https://godoc.org/github.com/openfaas/openfaas-cloud/buildshiprun in godoc there should be a brief description of how the function works.

More info could be added at the package level for instance or for the Handle function.

Here's a list:

https://godoc.org/github.com/openfaas/openfaas-cloud/

## Current Behaviour

Mostly just generic comme

[2018-10-03 16:16] martindekov commented on #225
Ran some tests and concluded the following things:

• Tagging wont send any form of tag with Push hook so every time push appears we will build no matter if the tag is present or not

Two approaches that come to mind:

1. Adding in repository description : `Install` or `OF-Cloud` or something like that
• Pros: Simple
• Cons: Need to push on install/uninstall and loss of description if needed

2. S

[2018-10-03 16:18] alexellis commented on #225
Have you thought of querying tags on the GitLab repo URL when you get a push event?

Are you saying that push events never contain the tags for the repo? (I thought we may have seen that when debugging)

[2018-10-03 16:37] alexellis commented on #225
Have a look at this endpoint in the API, you can use it to look at tags every system push event - https://docs.gitlab.com/ee/api/projects.html#get-single-project

[2018-10-04 12:34] alexellis commented on #268
This PR could take text from the README.md which I updated yesterday.

[2018-10-04 13:46] albertogviana commented on #268
I would like to work on it.

[2018-10-05 12:11] martindekov commented on #210
I was wondering if it is better approach to just handle whole URL to the repository path instead of constructing the URL? GitLab provides the repo URL in its payload:
[code]
and github provides the URL in its payload:
[code]
Of course this will require change in the dashboards but they would be minor and @bartsmykla agreed on helping me integrating this into the dashboard.

[2018-10-08 13:50] ivanayov commented on #252
Derek assign: me

[2018-10-09 13:08] martindekov commented on #225
In this situation in every event we should call the API of gitlab, and sometimes for some reason gitlab is sending couple of the same events. Also need to fix the optimisation that is checking the `stack.yml` and will probably open issue for that. Maybe send raw `stack.yml` in github-push rather than testing it directly in git-tar. Also will update the PR with how the current function works throug

[2018-10-09 13:22] martindekov opened #276 "Edit git-tar raw URL stack file optimisation to support both GitHub/GitLab"
This commit https://github.com/openfaas/openfaas-cloud/commit/aa5828702f0e82f5b1070cb1c1b73ff908ceb4e3 adds optimization for git-tar but I think the format of the URL in this line https://github.com/openfaas/openfaas-cloud/commit/aa5828702f0e82f5b1070cb1c1b73ff908ceb4e3#diff-6972f28fc33acdd0e2082babf8ec8405R276 should be moved away from git-tar possibly sent through github-push or github-event to

[2018-10-10 09:02] bartsmykla opened #277 "Issue with GitLab OAuth 2.0 provider and redirect URL"
GitLab `Web Application Flow` (which we are using for getting token from GitHub) is stricter than GitHub and forbids to add any additional params to query for authorization code (`https://gitlab.example.com/oauth/authorize?client_id=APP_ID&redirect_uri=REDIRECT_URI&response_type=code&state=YOUR_UNIQUE_STATE_HASH`) so we need to remove it from query, and probably put to headers?

## Possible Soluti

[2018-10-10 09:31] alexellis commented on #277
Derek add label: design/review

[2018-10-10 09:31] alexellis commented on #277
(Change not approved.)

[2018-10-10 09:59] martindekov commented on #276
Derek add label: design/review

[2018-10-10 10:00] alexellis commented on #277
I can actually make this work even using a custom parameter in my redirect URL.

`Callback URL`: `http://localhost:8081/oauth2/authorized`

Running it:

[code]

[code]

[2018-10-10 10:02] alexellis commented on #277
My GitLab version: GitLab Enterprise Edition 11.1.4-ee d17962f

(Remember I asked the team to not install the Kubernetes package but to install directly onto an Ubuntu host, perhaps you have an old version?)

Alex

[2018-10-10 10:33] bartsmykla commented on #277
I have installed directly, not using kubernetes, but Community Edition version.
[code]

[2018-10-10 10:35] alexellis commented on #277
Also works fine on this version: `GitLab Enterprise Edition 11.3.4-ee 14d3a1d`

Please use my code Gist with your installation.

[2018-10-10 10:39] bartsmykla commented on #277
Problem is, that request for `authorization code` - `https://gitlab.example.com/oauth/authorize?client_id=APP_ID&redirect_uri=REDIRECT_URI&response_type=token&state=YOUR_UNIQUE_STATE_HASH` is working without a problem with additional parameters. But when I'll try to use the code from response in next request for jwt `access token` I'm receiving the error above. When I'll remove additional query pa

[2018-10-10 11:31] DouweM commented on #277
@bartsmykla Can you share the exact request (method, URL, params) you're issuing, that results in the `The provided authorization grant...` error?

Is it the request in https://docs.gitlab.com/ee/api/oauth2.html#1-requesting-authorization-code, https://docs.gitlab.com/ee/api/oauth2.html#2-requesting-access-token, or another request entirely?

[2018-10-10 11:37] alexellis commented on #277
Derek set title: Issue with GitLab OAuth 2.0 provider and redirect URL

[2018-10-10 11:40] alexellis commented on #277
Maybe show whatever issue you're facing by adapting the Gist I provided? That will remove the risk of user error and mean anyone else can provide input. @DouweM from GitLab has added some input.

[2018-10-10 12:47] alexellis commented on #234
This file stores claims right now, so it needs extending to store a comma separated list of organisations. https://github.com/openfaas/openfaas-cloud/blob/master/auth/handlers/oauth2.go

[2018-10-10 12:48] DouweM commented on #277
@alexellis Note that this is in line with the OAuth2 spec: https://tools.ietf.org/html/rfc6749#section-4.1

[code]

[2018-10-10 12:49] martindekov commented on #234
Derek assign: me

[2018-10-10 13:34] martindekov commented on #234
I made the change but before that one question. Should I extend the `OpenFaaSCloudClaims` to have `[]orgs` field or you want me to add it literally as a comma separated list in single string?

[2018-10-10 14:43] alexellis commented on #234
You could add a utility method perhaps? The claims are generally flat I believe.

[2018-10-10 14:58] alexellis commented on #277
It seems that you're technically right (as per the RFC), but I've not seen it done in practice with GitHub, Strava etc.

@bartsmykla have you tried the example I posted which shows a token being retrieved end-to-end?

[2018-10-10 15:10] martindekov commented on #234
I just extended the struct `OpenFaaSCloudClaims` with `Organizations` field and added the value there and opened ^ PR. If this is not the right approach I can add the utility method but not sure where should I return/amend the organizations in that case

[2018-10-10 15:17] alexellis commented on #277
Derek close: working as designed

[2018-10-10 15:17] #277 closed

[2018-10-10 15:17] alexellis commented on #277
Feel free to keep commenting.

[2018-10-10 15:18] alexellis commented on #234
Utility method could be: `[]string GetOrganizations()` which parses the internal field and returns the values. Attached to the `OpenFaaSCloudClaims` struct.

[2018-10-10 15:20] martindekov commented on #234
Aaah ok now I get it but will look into where I should use it cause I am not very familiar with the code.

[2018-10-10 16:33] alexellis commented on #234
It would be consumed by the dashboard, so you could add it but it's not strictly necessary.

[2018-10-11 09:16] ivanayov commented on #276
As it is now, git-tar will always fail for GitLab.
We should should move the URL only, but leave the optimisation here.

I can work on this.

[2018-10-11 12:11] ivanayov commented on #276
Derek assign: me

[2018-10-12 07:56] alexellis opened #282 "Evaluate/switch to "moby" build of buildkit"
## Expected Behaviour

@AkihiroSuda let me know that there's an image being published via the `moby` account on the Docker Hub now: `moby/buildkit:master` and `moby/buildkit:master-rootless`

We should evaluate whether these updated images work seamlessly with the templates used on OpenFaaS Cloud and then switch over.

I'd also recommend pinging the buildkit maintainers and requesting pinned versi

[2018-10-12 08:01] AkihiroSuda commented on #282
now tagged images are available: https://hub.docker.com/r/moby/buildkit/tags/

[2018-10-12 08:03] viveksyngh commented on #282
Derek Assign: me

[2018-10-12 08:06] bartsmykla commented on #256
Derek assign: me

[2018-10-12 09:21] bartsmykla opened #283 "UI: Dashboard - create logout endpoint"
Dashboard doesn't have access to cookie `.system.domain.com` so we can't remove it just from UI. I think that the good idea will be to create simple endpoint from `auth.system.domain.com/logout` which would be used when we click `logout` button. Related to https://github.com/openfaas/openfaas-cloud/issues/256

## Expected Behaviour
Expose `/logout` endpoint which will "remove" cookie.

## Current

[2018-10-12 09:29] bartsmykla commented on #283
Derek assign: me

[2018-10-12 11:00] #191 closed

[2018-10-12 11:00] #214 closed

[2018-10-12 13:43] MineMS49 opened #285 "NIC management on running server?"
Is it posible to manage all network interfaces and ports used by OpenFaas while running on a server ?
By default OpenFaas register itself on each network interfaces using ports, like the :8080 for the UI or :9090 for Prometheus.
For NIC management purposal it could be a great enhancement to add on the UI a new tab. Also I didn't find helpful advice in this OpenFaas gitHub (If this question is alre

[2018-10-12 13:58] martindekov commented on #234
I think we should continue the discussion here not in the PR since it is not for gitlab. The organizations in GitLab are called groups. You create group chose private/internal/public much like github then add members to it like maintainers. I think this is what we are looking for https://docs.gitlab.com/ee/user/group/

[2018-10-14 08:54] alexellis commented on #234
Would that translate to the way we are storing org claims in your PR? I.e. could you store the GitLab info in the same way?

[2018-10-14 14:51] jagreehal commented on #189
@jaigouk @alexellis just trying to catch on things. What's the latest with this?

[2018-10-14 15:03] alexellis commented on #189
My latest comment was let's get something in and refine from there. Since moving to Bootstrap 4 and React components we'll need to re-write any pending work done on the UI.

[2018-10-14 15:06] alexellis opened #289 "authz: Restrict dashboard functions to logged-in user and organisations"
## Expected Behaviour

Only when auth is enabled (JWT present) then as user (x) I should only see my own functions and any functions belonging to the organisations I'm a member of i.e .(a, b, c).

## Current Behaviour

I can see anyone's functions or any organisation by changing the URL.

## Possible Solution

If a JWT is present, then read the claims of the JWT and then show the union of function

[2018-10-14 15:07] alexellis commented on #285
Hi @MineMS49 I think this question makes more sense on the openfaas/faas repo?

How about you move it there and fill in the entire template with all the information we require?

Thanks,

Alex

[2018-10-14 15:07] #285 closed

[2018-10-14 15:07] alexellis commented on #285
Derek lock: wrong repo

[2018-10-14 15:08] alexellis commented on #255
Any progress on this @johnmccabe or should we unassign for someone else to pick it up?

[2018-10-15 09:34] #246 closed

[2018-10-15 15:52] martindekov opened #294 "git-tar: Abstract away github from clone for private repositories"
Currently the clone function in git-tar is very tight with github. I think it would be a good idea to
make clone function behaviour with private repositories depend on SCM field in this PR #291 .

## Expected Behaviour

Github specific approach for cloning private repository to be outside the `clone` function

## Current Behaviour

If we have private repository we go with github-approach (authToke

[2018-10-15 15:55] martindekov commented on #294
Derek add label: skill/intermediate

[2018-10-15 15:55] martindekov commented on #294
Derek add label: design/review

[2018-10-15 16:54] #210 closed

[2018-10-15 16:59] martindekov commented on #234
In github we get user and the organizations that the user is in are displayed. GitLab does not give that info on the User part, but the other way around -> in case you know the group/id you list the users. I checked API  here https://docs.gitlab.com/ee/api/users.html for users reference and for groups(organizations) here https://docs.gitlab.com/ee/api/groups.html#group-members

[2018-10-15 17:18] alexellis commented on #234
Are you also searching Google for info? I found this -> https://gitlab.com/gitlab-org/gitlab-ce/issues/34230 - looks like there may be a way to see groups per user?

[2018-10-15 17:19] alexellis commented on #234
Related - https://gitlab.com/gitlab-org/gitlab-ce/issues/48165

[2018-10-15 17:38] alexellis commented on #234
Looks like GitLab allows you to query a user by using the `Sudo` header such as:

[code]

[2018-10-16 07:30] viveksyngh commented on #282
Sharing Progress:

1. Deployed `moby/buildkit:v3.0.0` using below command

[code]

2. Committed code to this repo https://github.com/faas-furious/of-cloud-test-fn which deployed two functions which are using `python` and `golang` template.

[2018-10-16 07:31] alexellis commented on #282
I'm not seeing the status URLs populated or links for the functions?

[2018-10-16 08:05] viveksyngh commented on #282
Yes, I will debug that.

[2018-10-16 10:21] alexellis opened #296 "Give feedback via status when Secret not found"
## Expected Behaviour

OpenFaaS Cloud should give feedback via status when Secret not found

## Current Behaviour

I just saw a "400" error reported in the GitHub status, but have no idea what this means (as a user)

## Possible Solution

Give the error about the secret being missing for instance?

## Steps to Reproduce (for bugs)

1. Create a secret prefixed with your GitHub name i.e. alexellis-t

[2018-10-16 13:32] ivanayov commented on #276
Derek set title: Edit git-tar raw URL stack file optimisation to support both GitHub/GitLab

[2018-10-16 16:31] bartsmykla commented on #296
@alexellis I can't reproduce that issue. I have created secret `bartsmykla-test-secret` I have put it inside stack.yml of my function:
[code]
and there is no information about missing secret anywhere.

Am I doing something wrong?

[2018-10-16 16:42] alexellis commented on #296
On OpenFaaS Cloud right? What is on your commit checks page?

[2018-10-16 17:00] bartsmykla commented on #296
Yup, on OpenFaaS Cloud. That's what I see:
![image](https://user-images.githubusercontent.com/11655498/47033655-48557280-d16d-11e8-881a-1dfe8df184f7.png)
and logs are:
[code]

[2018-10-16 18:23] alexellis commented on #296
You won't see secrets in the Buildkit logs

[2018-10-17 07:14] bartsmykla commented on #296
@alexellis of I found 400 now, I'm trying to figure out how to handle that case

[2018-10-17 09:01] #248 closed

[2018-10-17 09:03] #221 closed

[2018-10-17 11:56] bartsmykla opened #299 "Adjust dashboard to private repo indication + add icon inside details page"
Label was changed from `git-private-repo` to `git-private` so dashboard should be changed to indicate that repo is private if function has that label. Additionally I found that there is no indication about function being private inside details page.

## Expected Behaviour
If repo is private there should be icon showing that in functions list and inside function details page.

## Current Behaviour

[2018-10-17 14:27] #299 closed

[2018-10-18 12:52] #276 closed

[2018-10-18 15:38] viveksyngh commented on #282
The status update was due to issue with Github App permission. I have updated it and it is working.

https://github.com/faas-furious/of-cloud-test-fn/runs/24705556

[2018-10-19 13:31] bartsmykla opened #304 "UI Dashboard: Change repo urls to support GitLab"
Currently URLs are hardcoded for GitHub, and because we have integration with GitLab and repository url is set in annotation we need to implement change also in UI.

## Expected Behaviour
Displaying correct urls - when repository is on GitLab, showing gitlab's url, when it's on GitHub showing github's url

## Current Behaviour
GitHub's host is hardcoded in all urls, so even when repository is on G

[2018-10-23 13:56] alexellis commented on #195
Agreed, thanks.

[2018-10-26 08:14] alexellis commented on #282
Great. I've added a grid to the issue to help with the testing @viveksyngh

[2018-10-26 08:46] WTFKr0 opened #310 "Send proxy variables to buildkit"
Is there a way to forward of-builder proxy env vars to build-kit ?

## Expected Behaviour
We try to have a fully on-premise openfaas-cloud
We have to build our functions locally as some depends on local resources
We too need to access to the internet through a corporate proxy

## Current Behaviour
Buildkit seems to ignore proxy configuration

## Possible Solution
In buildkit, there is a way to pla

[2018-10-26 09:13] ivanayov commented on #310
Derek add label: question

[2018-10-26 09:28] bartsmykla commented on #310
Derek assign: me

[2018-10-26 11:38] ivanayov commented on #289
Derek unassign: me

[2018-10-26 12:29] alexellis commented on #289
I think we need to wait until the organisations are in place before we do this otherwise we won't be able to work with functions on organisations if this is done before.

[2018-10-26 17:14] alexellis commented on #310
Approved :+1: we'll try to get this turned around quickly for you to keep you moving forward. Please see my notes on the PR.

[2018-10-26 19:42] viveksyngh commented on #282
I have tested with `python` and `golang` template. I have the plan to test other scenarios this weekend.

[2018-10-28 10:54] viveksyngh commented on #282
Node |   |   |  
Python 2.7 |   |   |  
Python 3 |   |   |  
Ruby |   |   |  
Golang |   |   |  
CSharp |   |   |  
Java |   |   |  
Golang HTTP |   |   |  
Golang Middleware |   |   |  
Node8-express |   |  

[2018-10-28 11:10] viveksyngh commented on #282
Template | Only changing handler | With static files | With 3rd-party dependencies
--- | --- | --- | ---
Node |   |   |
Python 2.7 |   |   |
Python 3 |   |   |
Ruby |   |   |
Golang |   |   |
CSharp |   |   |
Java     |    |    |
Golang HTTP |  |  |
Golang Middleware |  |  |
Node8-express  |   |   |

[2018-10-29 05:29] viveksyngh commented on #282
All functions are deployed here. http://system.vs.team-serverless.xyz:8081/dashboard/viveksyngh/

[2018-10-29 08:43] #310 closed

[2018-10-29 08:50] WTFKr0 opened #312 "Buildkit on coreOS failed with xattr"
Build fail when buildkit is running on a CoreOS Host

## Expected Behaviour
Build passed

## Current Behaviour
Got an error on the COPY stage of the go template
`

## Possible Solution
Maybe related to https://github.com/genuinetools/img/issues/45
Or a buildkit issue itself

## Steps to Reproduce (for bugs)
Do a build on a builkit container running on a coreos Host

## Your Environment
* Docker ve

[2018-10-29 08:56] martindekov commented on #294
SCM field is merged which means we no longer need to stick to existing functionality.

[2018-10-29 08:56] #294 closed

[2018-10-29 09:05] WTFKr0 commented on #312
For information:

[code]

[code]

[code]

[2018-10-29 09:15] alexellis commented on #312
OK so this isn't the XFS issue I was expecting and saw with @affix on CentOS, but it does appear to be due to your se_linux policies.

[2018-10-29 09:19] AkihiroSuda commented on #312
What's kernel version? I suppose it is < 4.14, which lacks support for setting `security` xattr in userns?

[2018-10-29 09:38] WTFKr0 commented on #312
[code]

[2018-10-29 09:42] WTFKr0 commented on #312
This is the OS release :
See https://coreos.com/releases/#1745.7.0
[code]

[2018-10-29 09:54] WTFKr0 commented on #312
By stracing the buildkit process, we see that this operation failed:
[code]

It's maybe a selinux issue, I have installed a default policy from coreos
This machine can build with no problem with the classic `docker build` command

[2018-10-29 09:55] AkihiroSuda commented on #312
PR: https://github.com/containerd/continuity/pull/138

[2018-10-29 09:59] AkihiroSuda commented on #312
Question: is this rootless mode or not?

[2018-10-29 10:04] WTFKr0 commented on #312
I've test with :
- moby/builkit:v0.3.0
- moby/builkit:v0.3.1
- moby/builkit:master

So no rootless mode i think

[2018-10-29 14:00] martindekov opened #313 "github-push: Add user id support."
Currently the user is recognized mainly through the username. Which is not unique and can be changed. We should add user ID to the struct and apply it as label through `buildshiprun`.

## Expected Behaviour

Add handling for user ID in `PushEvent` struct handle it then add it as label through `buildshiprun`

## Current Behaviour

We don't support `buildshiprun`

## Possible Solution

Extend struct

[2018-10-29 14:00] martindekov commented on #313
Derek assign: me

[2018-10-29 15:27] alexellis opened #314 "Move to user-id vs. username for user deployments"
## Expected Behaviour

If I change my username I'd like to keep my functions. This may involve storing the GitHub user ID which can't change. I expect this to affect the router, auth and dashboard along with all the other functions in the flow.

## Current Behaviour

If I change my user name on GitHub, I expect to keep my functions, but currently they get orphaned/lost because we can't map to the

[2018-10-29 15:27] alexellis commented on #314
We can start to consume the data for GitHub via this issue - https://github.com/openfaas/openfaas-cloud/issues/313

[2018-10-29 15:30] ivanayov commented on #314
Derek assign: me

[2018-10-29 15:35] alexellis opened #315 "Dashboard: Repo links invalid with upper-case/mixed-case"
## Expected Behaviour

Both URLS should work the same for mixed-case usernames:

https://system.o6s.io/dashboard/lucasroesler
https://system.o6s.io/dashboard/LucasRoesler

## Current Behaviour

This URL works fine:

https://system.o6s.io/dashboard/lucasroesler

This one gives invalid links and names:

https://system.o6s.io/dashboard/LucasRoesler

<img width="401" alt="screen shot 2018-10-29 at 3 3

[2018-10-29 15:52] ivanayov commented on #312
@WTFKr0 can you confirm if build works with @AkihiroSuda's fix?
Seems that the problem is out of the OpenFaaS Cloud scope.

[2018-10-29 16:02] WTFKr0 commented on #312
No i don't
I don't even know what the fix of @AkihiroSuda do
It's seems to impact containerd lib, so to test that, i'll need to rebuild all the things
@AkihiroSuda how can i test your PR if it's ready ?

[2018-10-29 16:22] alexellis opened #316 "Make validation on by default for hmac/customers"
## Expected Behaviour

If I mis-configure my system or leave a line out, I still want a secure experience that validates HMAC and the customers list. I.e. they should be on by default (even if no env/YAML setting is et)

So we can still turn these off, but by explicitly adding `validate_customers: false` etc into the YAML file. This means that you as a user/operator are deliberately choosing to tu

[2018-10-30 05:00] AkihiroSuda commented on #312
Will share image soon

[2018-10-30 05:30] AkihiroSuda commented on #312
could you try `akihirosuda/tmp-public:buildkit-copy-16@sha256:d6134c7b1ab7e1d4ad875c787d086f9ff7baae9eff3a26513cc6a8ee131a073b` (built from akihirosuda/buildkit_poc@4ca515dfe16fb0694e24d483914c81afc56fc95d)

[2018-10-30 06:11] AkihiroSuda commented on #312
Confirmed the issue is reproducible and my patch solves the issue with [coreos-vagrant](https://github.com/coreos/coreos-vagrant) 1939.0.0, kernel `4.19.0-coreos #1 SMP Mon Oct 22 23:11:24 UTC 2018`

[2018-10-30 08:18] WTFKr0 commented on #312
OK seems to be ok with that image !
Thanx
Now i'm on a certificate problem on my private registry :smile:

[2018-10-30 10:30] alexellis opened #319 "Validate custom template URLs"
## Expected Behaviour

We should validate that custom template URLs are well-formed URLs.

http and https should both be valid.

## Current Behaviour

We don't

## Possible Solution

This is part of the review feedback of : https://github.com/openfaas/openfaas-cloud/pull/264

[2018-10-30 10:38] alexellis commented on #319
Please update the unit tests to handle errors when the URLs are invalid and reduce the level of nesting/indent as per - https://github.com/openfaas/openfaas-cloud/pull/320/files#r229253436

[2018-10-30 11:00] alexellis commented on #319
Additional comments: https://github.com/openfaas/openfaas-cloud/pull/320#discussion_r229260827

[2018-10-30 14:30] ivanayov commented on #319
@alexellis addressed your comments in #321

[2018-10-30 14:53] #312 closed

[2018-10-31 06:20] AkihiroSuda commented on #312
The patch is now available as `moby/buildkit:v0.3.2`

May I remove `akihirosuda/tmp-public:buildkit-copy-16`?

[2018-10-31 08:42] WTFKr0 commented on #312
Yeah i'm the only one who use it i think
I change my env to moby/buildkit:v0.3.2

[2018-10-31 10:19] alexellis opened #322 "GitHub Checks: dashboard link is incorrect"
## Expected Behaviour

I expected the dashboard link to go to https://system.o6s.io/dashboard/user-name

## Current Behaviour

It was going to the root domain of my name i.e. https://user-name.o6s.io/

<img width="806" alt="screen shot 2018-10-31 at 10 18 25 am" src="https://user-images.githubusercontent.com/6358735/47781772-7783ec00-dcf6-11e8-9728-17fd57d65d5f.png">

[2018-10-31 10:23] alexellis opened #323 "GitLab commit status - add hyperlinks"
## Expected Behaviour

The GitLab commit status can support a `target_url`, so we could link to the function endpoint in a successful status, or the dashboard / pipeline-logs in a failed status.

https://docs.gitlab.com/ee/api/commits.html#post-the-build-status-to-a-commit

We could also add comments - for instance the failed container build logs for a bad function build. For instance your Golang

[2018-10-31 11:51] martindekov commented on #323
Once we settle on this I can work on it since it is in my domain

[2018-10-31 16:16] alexellis opened #325 "Dashboard: ship dist folder in final stage of Docker build"
## Expected Behaviour

Dashboard: ship dist folder in final stage of Docker build

## Current Behaviour

We do `make` which takes `src` into a Node container, runs web pack and emits `dist` folder which is then built into a new container. We can streamline process and avoid any permissions issues.

[2018-11-01 09:09] #304 closed

[2018-11-01 09:10] bartsmykla commented on #171
Derek assign: me

[2018-11-01 11:21] martindekov commented on #323
Derek assign: me

[2018-11-02 09:54] alexellis commented on #322
@ivanayov can you look into git blame and find out what happened? Is this a code or config issue?

[2018-11-02 10:13] ivanayov commented on #323
I'm still wondering if pointing to the old code is needed. One can always check it in the repo alone.
Linking to logs makes more sense IMO.

I'd vote for option 2.

[2018-11-02 10:21] #163 closed

[2018-11-02 12:43] ivanayov commented on #322
It's both. Needs fixing [buildPublicStatusURL](https://github.com/openfaas/openfaas-cloud/blob/master/github-status/handler.go#L121) and change of `gateway_public_url` to `https://system.o6s.io/`

The latest change is [here](https://github.com/openfaas/openfaas-cloud/commit/f48820aabe6cd105ecfa46d5b40263ea22f62615) (search for `buildPublicStatusURL`), but the problem comes from the routing changes

[2018-11-03 08:28] ivanayov commented on #316
Yep, I can take this

[2018-11-08 10:51] martindekov commented on #34
Derek close: This has been addressed and tested `https://martindekovwat.o6s.io/goforfun` original name: `https://MartinDekovWat.o6s.io/goforfun` lead to the same endpoint

[2018-11-08 10:51] #34 closed

[2018-11-08 11:03] martindekov commented on #47
Derek close: Discussed that the API does not provide enough information for the function to be built unless we have another API call and that the current implementation for how you "install" works. Garbage collect is supported on removal event.

[2018-11-08 11:03] #47 closed

[2018-11-08 11:05] martindekov commented on #107
Derek close: Implemented in #114

[2018-11-08 11:05] #107 closed

[2018-11-08 11:17] martindekov commented on #190
Derek close: we no longer support overview page and saw @bartsmykla tried to close this in a PR

[2018-11-08 11:17] #190 closed

[2018-11-08 11:20] martindekov commented on #223
Derek close: I believe this was already implemented in #280

[2018-11-08 11:20] #223 closed

[2018-11-08 11:25] #229 closed, assigned to martindekov

[2018-11-08 11:36] martindekov commented on #35
Derek close: I think this is outdated and now we use GitHub Application for function removing of course if this is not the intent please share it with me

[2018-11-08 11:36] #35 closed

[2018-11-08 11:39] martindekov commented on #68
Derek close: I had PR adding audit also in #38 @ericstoekl added auditing in lots of places so I think this is outdated

[2018-11-08 11:40] #68 closed

[2018-11-08 11:42] martindekov commented on #93
Derek close: We have this covered up now https://github.com/openfaas/openfaas-cloud/blob/ab3cb6fef86cf4da7ea2ff69cbc331af553695f5/git-tar/function/ops.go#L409

[2018-11-08 11:42] #93 closed

[2018-11-08 11:55] s8sg commented on #315
I started working on it as of #228. Can I continue?

[2018-11-08 14:01] martindekov commented on #313
This was implemented in [git-tar](https://github.com/openfaas/openfaas-cloud/commit/a74e4818d756c998fe252996ad75a57ca4d3795a) and [buildshiprun](https://github.com/openfaas/openfaas-cloud/commit/320c940501d868c471f1c74efca5995203e57255)

[2018-11-08 14:01] #313 closed

[2018-11-08 16:11] alexellis commented on #313
Thanks for the update and for the git commits 👍 can you confirm that you have the data flowing through to your functions from OpenFaaS Cloud?

[2018-11-08 16:15] #171 closed

[2018-11-08 16:17] martindekov commented on #313
Ok no problems

[2018-11-08 22:22] jagreehal commented on #189
what do you think about something like this? https://codesandbox.io/s/3413wz0o7q

[2018-11-09 07:30] alexellis commented on #189
I like that a lot Jag.

[2018-11-12 08:08] martindekov commented on #316
@ivanayov Did you start working on this ?

[2018-11-12 08:13] martindekov commented on #268
I can complete @albertogviana's work

[2018-11-12 08:20] martindekov commented on #219
Should this be closed? Now we have support for custom templates

[2018-11-12 09:59] ivanayov commented on #316
@martindekov Yep, I've started

[2018-11-13 15:59] ivanayov commented on #316
We talked with @martindekov that he'll test and open a PR, as he is looking for an issue to take, and I am currently preparing a demo for ISTA Conf.

Changes required for a PR:
* Remove length check in [derek/auth/customers.go](https://github.com/alexellis/derek/blob/master/auth/customers.go#L37)

* Revendor git-tar and github-status

* Change [readBool()](https://github.com/openfaas/openfaas-clou

[2018-11-13 16:32] martindekov commented on #316
Ok thanks for the progress update @ivanayov

[2018-11-13 16:32] martindekov commented on #316
Derek assign: me

[2018-11-14 13:00] #225 closed

[2018-11-14 13:00] #249 closed

[2018-11-15 02:31] burtonr commented on #119
@martindekov is this issue still an issue?

There's a chain of issues/PRs related to this now. Maybe we could close this one out?
#228 Looks to be the issue created off of Alex's comment
but that references #315 as the continuation

Just looking to clean up a bit

[2018-11-15 02:53] burtonr commented on #189
@jagreehal do you think you could put that together in a PR? I agree with Alex, let's get something out there and gauge the reaction. It's far easier to make improvements on feedback than speculation :smile:

[2018-11-15 02:59] burtonr commented on #213
@johnmccabe I think this can be closed as the "ability to logout" is available as indicated by the PR to add a logout button is here: #295

[2018-11-15 08:33] martindekov commented on #119
Hello @burtonr

I think this is issue opened for general discussion regarding case sensitivity and the #315 is for specific problem. Currently we still have general problem with case sensitivity unless #315 is merged. I think it would be a good idea if we ping Swarvanu to close this along with #315 when PR with the fix is merged.

cc @s8sg

[2018-11-15 12:18] martindekov opened #334 "Dashboard: Last GitLab repository link to be fixed"
Every link works except one for GitLab

## Expected Behaviour

Link in this place to point to GitLab if the function is from there:

![image](https://user-images.githubusercontent.com/34942004/48552351-05f49200-e8e1-11e8-8523-ea598f792d8a.png)

## Current Behaviour

Formats the repository Link for GitHub

## Possible Solution

Get annotation from `list-functions`/`system-list-functions` depending

[2018-11-19 20:43] alexellis opened #337 "Expose system-metrics function for Dashboard UI"
## Expected Behaviour

Expose system-metrics function for Dashboard UI related to #162 and #189

We need to update the dashboard's server code to proxy this new endpoint which is deployed as part of the stack.

## Current Behaviour

The dashboard cannot access this endpoint and it is blocking @jagreehal from adding the UI component.

[2018-11-19 20:57] alexellis commented on #337
Fixed via: https://github.com/openfaas/openfaas-cloud/commit/817fa5b8e0001bdc44bb208af9094acf40c7e28a

[2018-11-19 20:57] #337 closed

[2018-11-20 10:21] alexellis commented on #255
@bartsmykla do you have some suggestions on how to approach this so that we can make some movement on this issue? This is currently on design/review.

[2018-11-20 14:06] alexellis commented on #325
I'm pretty sure we'll have to stop using a function deployment type and start using a custom Dockerfile.

@bartsmykla please use `faas-cli build --shrinkwrap` then base the code on what ends up in the "build/function-name" folder.

[2018-11-21 13:59] bartsmykla commented on #325
@burtonr sorry for not responding to you, but I missed the message, before I started working on it. I created PR for that change: https://github.com/openfaas/openfaas-cloud/pull/338 I would be very grateful if you could look on it with @alexellis and give your opinions

[2018-11-21 15:17] bartsmykla commented on #255
I think that if we want to give that options to some functions, like `garbage-collect` or `import-secrets` that can have bug security impact, because we need to create a Role and assign it to one of this functions. Personally I think that doing it as a cron job would be better. We can even think about some cron job inside the cluster: https://kubernetes.io/docs/concepts/workloads/controllers/cron-

[2018-11-21 22:06] alexellis commented on #255
So let's keep that in mind. How do you see the code flow or algorithm for detecting which secrets to recover and when?

[2018-11-22 13:36] bartsmykla opened #340 "UI Dashboard: Change reading index.html to async"
Referring to this comment: https://github.com/openfaas/openfaas-cloud/pull/295#pullrequestreview-175725899 it would be good to change `readFileSync` to `readFile`
## Expected Behaviour
file `index.html` should being read asynchronously

## Current Behaviour
file `index.html` is being read synchronously

[2018-11-22 14:34] alexellis commented on #340
Derek add label: design/approved

[2018-11-26 17:15] bartsmykla opened #345 "UI: Dashboard - moving from create-react-app to vanilla webpack"
I think that `create-react-app` is a great tool for starting UI project, but it's very very heavy and hard to configure it for project's needs later, and I think that it's the best time to move from it to vanilla webpack configuration.
## Expected Behaviour
Have simple, tailored for our needs configurations of webpack, babel etc.

## Current Behaviour
We are forced to use predefined plugins, even

[2018-11-26 17:42] alexellis commented on #345
Hi Bart, thanks for the suggestion. Please can you list some pros and cons of each including the learning curve and maintenance cost?

Do you have an example on another project or GitHub repo that you can share to compare and help the community decide?

[2018-11-26 19:59] alexellis commented on #315
@s8sg do you have any progress on this to report? Do you want this one? We're kind of blocked right now.

[2018-11-26 20:01] alexellis commented on #119
Thanks both for chasing this up. If we don't hear from @s8sg tomorrow, then can one of you take ownership and move this forward? Mixed-case usernames appear to be quite common on GitHub so we don't want to exclude those people from getting a good user-experience.

[2018-11-27 05:48] s8sg commented on #119
Hello @alexellis @martindekov
I spend quite a time to create my environment with the latest code to test although I'm unable to do so
I understand the issue on priority therefor please go ahead with the fix. I'll pick something else

[2018-11-27 09:12] alexellis opened #347 "[Feature] Show and filter functions from my orgs in my dashboard"
## Story

As an OpenFaaS Cloud user visiting my dashboard I want to be able to see my functions plus all the functions belonging to my organisations so that I can collaborate with my team.

This related issue #234 shows where we started to store the claims in the user's JWT token. This can be read in the back-end function of the dashboard and be used to call the `list-functions` function with all

[2018-11-27 09:30] alexellis commented on #236
@bartsmykla how many hours do you think this task would take you to complete?

Thanks,

Alex

[2018-11-27 09:31] bartsmykla commented on #236
4h

[2018-11-27 09:38] alexellis commented on #268
@martindekov please check the existing functions and update any which need it.

[2018-11-27 09:39] martindekov commented on #268
Aaah totally forgot about that sorry, will do it next !

[2018-11-27 10:31] ivanayov commented on #347
Derek assign: me

[2018-11-28 08:19] martindekov commented on #234
I forgot to close this issue.. Should I ? The organizations are stored now in claims for GitHub? The GitLab organization is not though..

[2018-11-28 08:44] bartsmykla commented on #340
Derek assign: me

[2018-11-28 14:42] ivanayov commented on #314
There was a discussion on zoom how to map `login.name` and `userid`, so that the mapping is build only once (per big period of time or only when new user is registered) and is also available for all functions.
This is one option I've found:
[configure-all-key-value-pairs-in-a-configmap-as-container-environment-variables](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-config

[2018-12-01 21:51] martindekov opened #350 "UX: remove push functions as alternative to event ones"
Since now OpenFaaS cloud could be used to handle multiple events for GitLab and GitHub, I think it would be a good idea to remove the push functions as possible alternative front facing functions and move all the logic into the event function(which hasn't already been moved there).

## Expected Behaviour

`gitlab-event`/`github-event` to be the only front facing options for GitLab and GitHub

## C

[2018-12-01 21:51] martindekov commented on #350
Derek add label: design/review

[2018-12-01 21:51] martindekov commented on #350
Derek add label: ux

[2018-12-01 21:52] martindekov commented on #350
Derek remove label: ux

[2018-12-01 21:52] martindekov commented on #350
Derek add label: area/ux

[2018-12-06 09:49] ivanayov commented on #289
We have the orgs now, so I can work on this

[2018-12-06 10:34] #189 closed

[2018-12-06 10:42] #316 closed

[2018-12-06 11:26] alexellis opened #354 "gitlab-status refactoring on http.Client"
## Expected Behaviour

Use default client or create client once and re-use

## Current Behaviour

Creates multiple HTTP clients one for each function in stack.

[code]

## Possible Solution

Refactor/reduce.

[2018-12-08 10:21] martindekov opened #356 "Tracking feature: Use methods from SDK"
I have opened/merged PRs which add methods to the SDK and those methods exist in function space and SDK

## Expected Behaviour

Use methods from sdk which are released

## Current Behaviour

Methods are copied and exist in SDK and in function space

## Possible Solution

Wait for release and re-vendor, this will be done in single PR.

## Steps to Reproduce (for bugs)

N.A. not a bug

## Context

I

[2018-12-11 16:53] bartsmykla opened #359 "UI Dashboard: Add information about owner of the function"
Because implementation of supporting functions from organisations is almost finished, it would be good to have some kind of indication about if function is from organisation or the user. The idea is for example if function is from user `bartsmykla` we could see small icon with letter `b` if function is from organisation `openfaas-cloud` we could see small icon with letters `oc` etc.

## Expected B

[2018-12-11 20:35] ivanayov commented on #359
I'm working on it

[2018-12-16 21:53] alexellis opened #363 "Create tar.gz bundle of YAML installation"
## Expected Behaviour

We should create a tar.gz file whenever there is a release that bundles all the YAML files required to deploy OpenFaaS Cloud. This will helm with automation and mean that there is no need to `git clone` what may become a large repository over time.

A bash file should be created to do the task and the Travis config will need to be updated to attach the asset to each tagged r

[2018-12-18 13:37] bartsmykla opened #365 "UI Dashboard: bug with progress bar wrongly showing number of replicas"
Progress bar is showing always 1/4. Even when there is 4/4 replicas currently working.

## Expected Behaviour
Correctly display number of replicas in progress bar.

## Current Behaviour
Progress bar is showing always 1/4. Even when there is 4/4 replicas currently working.

## Possible Solution

## Steps to Reproduce (for bugs)

1. Scale up function replicas

[2018-12-18 13:38] alexellis commented on #365
Thanks for logging this.

[2018-12-18 13:39] alexellis commented on #365
<img width="1170" alt="screen shot 2018-12-18 at 12 51 35 pm" src="https://user-images.githubusercontent.com/6358735/50157809-47a29f00-02ca-11e9-8e77-7cc5439d3362.png">

[2018-12-18 13:40] #365 closed

[2018-12-19 10:11] #340 closed

[2019-01-03 13:53] #354 closed

[2019-01-04 09:44] #356 closed

[2019-01-10 16:10] alexellis opened #374 "Migrate OFC from one environment to another (on Kubernetes)"
## Expected Behaviour

We need a strategy to migrate the community cluster from one Kubernetes cluster to another with as little impact as possible to users.

This includes:

* exporting the SealedSecrets public/private key pair
* reimporting them
* exporting the deployments/services
* reimporting them
* exporting / importing ingress etc.

Some of the work is covered by the ofc-bootstrap project.

[2019-01-10 16:11] alexellis commented on #374
@stefanprodan do you know how to approach the above point?

[2019-01-11 16:49] alexellis opened #375 "Update the configuration files with tokens"
## Expected Behaviour

When deploying OFC the users must first edit all their configuration files. We should replace the configuration files with versions containing only tokens so that the users can run a script or program such as ofc-bootstrap to generate the live versions.

## Current Behaviour

At the moment in ofc-bootstrap (the automation to setup OFC in 2 minutes) we maintain a separate ver

[2019-01-11 22:53] alexellis opened #376 "Add liveness and readiness probes to Deployments in core YAML"
## Expected Behaviour

Add liveness and readiness probes to Deployments in core YAML

https://github.com/openfaas/openfaas-cloud/tree/master/yaml/core

We should also add the Prometheus annotation to prevent scraping by Weave cloud. See the openfaas/faas-netes repo for an example of this

[2019-01-14 11:41] #256 closed

[2019-01-14 11:41] #283 closed

[2019-01-16 06:58] martindekov commented on #376
Derek assign: me

[2019-01-27 14:43] alexellis opened #381 "Add empty /healthz handlers to Deployments"
## Expected Behaviour

The following micro services (non-functions) need to implement /healthz so that we can merge #378

./auth/
./router/
./of-builder/

## Current Behaviour

Unavailable.

## Possible Solution

Add to mux in entrypoint.

[2019-01-27 14:47] viveksyngh commented on #381
Derek assign: me

[2019-01-27 20:52] alexellis opened #382 "router - apply HTTP tuning as per openfaas/faas gateway"
## Description

In the router component (./router) a HTTP client is used to forward requests to the auth service and specific routes/URLs on the gateway. In the gateway we are doing some performance tuning to help relieve pressure on CoreDNS in Kubernetes via https://github.com/openfaas/faas/pull/1039.

The solution for the gateway should be evaluated to see if they are also required here by doing

[2019-01-28 02:42] rajatjindal opened #383 "invocations metrics get reset on function deploy"
## Expected Behaviour

When a new function is deployed, retain the total invocations.

## Current Behaviour

When a new function is deployed, the invocation metrics gets reset

## Steps to Reproduce (for bugs)

1. Deploy a function
2. Trigger the function
3. observe invocation counts > 0
4. Redeploy function
5. Observe invocation count is reset to 0

## Your Environment

openfaas-cloud hosted

[2019-01-28 02:43] rajatjindal commented on #383
nevermind, user error.

[2019-01-28 02:43] #383 closed

[2019-01-28 09:31] stefanprodan commented on #374
Instead of import/export I would copy the SealedSecrets master key and do the whole bootstrap as it were a fresh install.

[2019-01-28 09:32] stefanprodan commented on #374
If OFC is GitOps you should't have to import/export anything expect for the private key.

[2019-01-28 09:42] alexellis commented on #374
This is to deploy the whole installation. The private key is generated upon installation with Helm of SealedSecrets.

How do you pass a private key to the helm installation? Is that something you've done before and can comment?

[2019-01-28 10:17] stefanprodan commented on #374
To summarise the discussion on Slack:

1. Get the private key from the old cluster:
`kubectl -n openfaas get secret sealed-secrets-key --export -oyaml > sealed-secrets-key.yaml`

2. Apply the private key on the new cluster:
`kubectl apply -f sealed-secrets-key.yaml`

3. Install SealedSecrets with Helm:
`install --namespace openfaas --name sealed-secrets stable/sealed-secrets`

[2019-01-28 10:19] alexellis commented on #374
Thanks that looks awesome.

[2019-02-02 09:56] zeerorg commented on #216
Would like to help on this issue.

[2019-02-03 22:04] #381 closed

[2019-02-03 22:07] alexellis commented on #217
Thanks

Do you want to try to see if Google will accept it as an upstream PR?

Alex

[2019-02-04 08:03] rdimitrov commented on #217
That's a great idea actually. But for the time being, I think both Amazon and Google don't have ARM support for their credential binaries, so it might not be useful to prepare something yet.

[2019-02-04 21:46] alexellis commented on #382
openfaas/faas#1039 has now been merged and released so we should start this work.

[2019-02-06 12:37] #119 closed

[2019-02-06 12:41] alexellis commented on #314
The use of the userid in the function name / user deployment means we will also avoid any clashes that arise from similar prefixes.

I.e. `alexellis` has a function `uk-homepage`
Then `alexellis-uk` (another username) publishes a function named `homepage`

In this instance the second user would overwrite the first user's deployment. For this reason we need to use the unique userid as the prefix fo

[2019-02-06 12:45] alexellis opened #391 "Task: validate CUSTOMERS file before use"
## Expected Behaviour

We should validate all entries in the CUSTOMERS file before use - to prevent anyone getting their functions overriden by accident. See issue #314

## Possible Solution

Since this is relying on a human element of not merging a PR to the customers file with two potentially clashing usernames, we should implement a unit test and sdk method in the sdk of OpenFaaS Cloud that can

[2019-02-06 12:48] alexellis commented on #391
The PR should be raised here: https://github.com/openfaas/openfaas-cloud/tree/master/sdk

[2019-02-06 12:50] alexellis commented on #391
No need to test end-to-end, just via unit tests.

https://blog.alexellis.io/golang-writing-unit-tests/

[2019-02-06 14:28] alexellis opened #392 "Add Makefile for ci-armhf-build / ci-armhf-push"
## Expected Behaviour

So that we can build and push images officially for armhf and in development we should implement a Makefile like the ones we did for other OF projects.

## Possible Solution

Cover:

* ./auth
* ./router
* ./of-builder

I don't believe that we need disparate Dockerfiles, multi-arch should work.

[2019-02-06 14:42] alexellis commented on #119
We tested this issue independently. It's released and stable.

[2019-02-06 15:48] rajatjindal commented on #391
how about

[code]

and

[code]

[2019-02-06 20:58] alexellis commented on #391
What about it?

[2019-02-06 20:59] alexellis commented on #391
alexe won't clash because of the separator being `-`

[2019-02-06 20:59] alexellis commented on #391
`alexe` => `alexe-my-function`
`alexellis` => `alexellis-my-function`

[2019-02-07 22:23] #376 closed

[2019-02-08 10:26] burf2000 opened #397 "Ideas for the OpenFaas documentation"
Hi Alex, here are some pointers to make this document a little more newbie friendly

https://github.com/openfaas/openfaas-cloud/blob/master/docs/README.md

Edit github.yml and populate with your GitHub App ID:
- Where does github.yml come from?  are we starting off with something?

For the queue-worker, set the ack_wait field to 15m to allow for a Docker build of up to 15 minutes total.
- Maybe a

[2019-02-09 18:42] alexellis commented on #220
cc @zeerorg

[2019-02-09 18:43] alexellis commented on #220
My hypothesis is that that we could pick apart which structs are used by SealedSecrets from the Kubernetes client API and make use of them to import secrets in Swarm or other back-ends.

This would help level the secrets experience for users on Swarm, and we should be able to leverage the new secrets API in OpenFaaS for the `CLUD` of secrets keys and values.

[2019-02-10 11:30] zeerorg commented on #220
I was thinking of how we could keep it compatible with existing OpenFaas' cloud secret workflow.

[2019-02-10 11:32] alexellis commented on #220
By creating a function named import-secrets-swarm I would think. First things first let's prove it can even be done without sending patches upstream to Bitnami.

[2019-02-10 11:33] zeerorg commented on #220
I think we can skip using SealedSecrets altogether if we are supporting swarm. The imports-secrets-swarm function can be based on what of-git-tar does but with secrets, by using OpenFaas' api calls.

[2019-02-10 11:35] zeerorg commented on #220
Figuring out the semantics of encryption and decryption would be hard, and also we would need to generate public and private keys.

[2019-02-11 16:09] alexellis commented on #220
There is no need to do this, the code is already written by Bitnami, we just have to unpick it from the Kubernetes client-set / go-client.

[2019-02-22 12:32] alexellis opened #403 "Reliability monitoring - e2e testing of GitHub workflow"
Reliability monitoring - e2e testing of GitHub workflow

## Context

Since moving the Communtity Cluster from GKE to DigitalOcean the reliability has dropped dramatically due to issues with the Cilium networking driver 1.4.0. A separate action will be required for this, but in the meantime it highlights a lack of e2e monitoring for the GitHub workflow end-to-end.

## Task

Create a Golang function

[2019-02-22 17:37] matipan commented on #403
The function that will be used to test could simply return the contents of an environment variable that it's set at deployment time on the `stack.yml` file. That way we only modify the yaml and not the actual code of the function. WDYT?

[2019-02-22 17:43] alexellis commented on #403
I was thinking that changing the code would be part of the e2e test to exercise the container builder. Changing an environmental variable is probably also worth doing separately in the same test to prove deployments are being updated.

[2019-02-22 17:48] matipan commented on #403
You are right. We'll do both then :+1:

[2019-02-22 18:24] matipan commented on #403
Should this functions use the new `of-watchdog` with the `golang-http` template?

[2019-02-22 18:40] alexellis commented on #403
I think that could work 👍

[2019-02-22 20:31] matipan commented on #403
I seems that the github API does not support cloning or pushing to repositories since that uses the git protocol([related issue](https://github.com/google/go-github/issues/254)). So we'll need to use plain git to clone the repo. This means that the `golang-http` template cannot be used since we need to have `git` installed in the final image. I'll use the `dockerfile` template instead.

[2019-02-22 21:17] alexellis commented on #403
What about https://developer.github.com/v3/repos/contents/ ?

[2019-02-22 21:27] matipan commented on #403
My bad for not digging a bit more. Thanks alex! :+1:

[2019-02-23 14:16] alexellis opened #406 "Feature: async invocation for public functions"
## Expected Behaviour

Feature: async invocation for public functions

## Current Behaviour

Asynchronous invocations are blocked/unavailable.

## Possible Solution

A solution would need to include some rate limiting.

A bad actor could potentially carry out a DOS-attack on the asynchronous sub-system or a "queue bomb" through recursion or looping with the X-Callback-URL. We'd need to make sure t

[2019-02-23 15:28] burtonr commented on #406
I was going to suggest an additional header that could be inspected at the router, but with this statement

I don't think it's possible to include a header with a webhook. With a webhook, you're limited to the URL right? So, we could add an additional path before the function name
`https://username.domain.tld/async/function-name/path`

Although in that case, what could be done with the rate limiti

[2019-02-25 13:53] alexellis opened #408 "New release of buildshiprun required"
For this fix a new release of the function is required and an update to stack.yml

https://github.com/openfaas/openfaas-cloud/pull/407

[2019-02-25 14:39] burf2000 opened #409 "Expose a manually deployed function to the cloud"
So functions need to be manually deployed (e.g docker images) etc but they are then not accessible via the cloud UI, only the OpenFaas Dashboard UI which runs on a different port

## Expected Behaviour
A manually deployed function to OFC appears in the Cloud UI

## Current Behaviour
It appears in the normal OF dashboard, but not the Github Cloud UI

## Possible Solution

## Steps to Reproduce (for

[2019-02-25 22:31] matipan commented on #403
I have both functions implemented but I encountered a few issues along the way.
* **Authentication as application**: in order to modify the repository that the function will use for testing the application has to be authenticated as a particular installation([we don't have write-access otherwise](https://developer.github.com/apps/building-github-apps/authenticating-with-github-apps/#authenticating

[2019-02-25 22:48] alexellis commented on #403
Hi @matipan this looks like a very good summary of your learnings. I'll get back to you with some thoughts soon.

Do you have the repo available for me to look at the differences in the commits? Did the commit appear differently on the "GitHub App" request/response page (use the Advanced tab)?

Alex

[2019-02-25 23:09] matipan commented on #403
Sure! [This is a commit pushed by the github app](https://github.com/matipan/hello-world-go/commit/28cac95379b41998e628b9176c7f97d167684996) although I used my information as `Committer` and `Author`. And [this is a commit pushed using the personal access token](https://github.com/matipan/hello-world-go/commit/b0f74fc8d06dfbc9fe40370c8c1c465877a7893a)

I'm using the OpenFaaS Cloud Community Github

[2019-02-26 12:41] matipan commented on #403
This is the code I've written for the test so far: https://github.com/matipan/ofc-e2e-test

[2019-02-28 20:20] alexellis commented on #409
I would do it like this:

https://github.com/openfaas/openfaas-cloud/tree/master/dashboard#deploy-a-few-functions-for-sample-data

Does that help?

Alex

[2019-02-28 20:21] alexellis opened #410 "Move to node10-express-template for Dashboard"
## Expected Behaviour

Move to node10-express-template for Dashboard

## Current Behaviour

We are using node8-express

## Possible Solution

* Update the Dockerfile
* Update the README.md file
* Use `faas template store pull` instead of `faas template pull`

[2019-03-01 15:00] marbar3778 commented on #410
I'll take this one

[2019-03-05 05:03] zeerorg commented on #408
Worked on in https://github.com/openfaas/openfaas-cloud/pull/412

[2019-03-05 08:20] #408 closed

[2019-03-05 17:48] ivanayov commented on #397
Hi @burf2000,
Do you still need help with the set-up or this is just a proposal how to make the first experience better?
A good option is to try the deployment tool - [ofc-bootstrap](https://github.com/openfaas-incubator/ofc-bootstrap) where the manual configuration is minimal and OpenFaaS Cloud is deployed in less than a minute.

[2019-03-11 16:04] viveksyngh commented on #382
I will work on this one.

[2019-03-11 16:04] viveksyngh commented on #382
Derek assign: me

[2019-03-13 19:58] matipan commented on #403
@alexellis Good news! I found the reason why it would not work with a github app. Basically the it's because the sender of the event is the github app, not the user, and the github app was not in the `CUSTOMERS` file. If I add it to the file it works ok :+1:
Important detail: we need to increase the proxy-read-timeout of openfaas's ingress since by default it's only 60 seconds and is not enough to

[2019-03-13 19:58] matipan commented on #403
I'm going to cleanup the code a bit and have it ready for review tonight/tomorrow

[2019-03-14 12:10] #410 closed

[2019-03-14 16:04] matipan commented on #403
I have the test ready and working on my own ofc setup:
![e2e-test](https://user-images.githubusercontent.com/8126891/54371961-20edcd80-4659-11e9-8053-ac7695c0c824.png)
I was thinking I could do a PR to `openfaas-cloud` and add the `ofc-test` function as a separate folder. We still need to create a new repo for the `hello-world` function that will be used to test.
What do you think @alexellis ?

[2019-03-15 21:11] martindekov commented on #409
Hey @burf2000 If we implement this, I think there is no problem from UI standpoint to scrape all functions which are provided in the gateway REST endpoint and just show them, but I think this would break most if not content related with github/gitlab that we currently output.

Another way would be to implement specific dashboard for OpenFaaS native functions?

Does what Alex suggested works for yo

[2019-03-15 21:14] martindekov commented on #391
Derek close: fixed in #393

[2019-03-15 21:14] #391 closed

[2019-03-15 21:26] martindekov commented on #119
I think I am still getting error in the official cloud.

https://system.o6s.io/dashboard/kenfdev

https://system.o6s.io/dashboard/KENFDEV

Is that due to the official cloud having older version of the dashboard?

[2019-03-15 21:47] mbarlow opened #415 "dashboard fails to deploy. missing image in docker hub (functions/of-cloud-dashboard:0.4.0)"
## Expected Behaviour

deploy should create the dashboard

## Current Behaviour

kubernetes shows: ErrImagePull for functions/of-cloud-dashboard:0.4.0
# Possible Solution

push the image to docker hub

## Steps to Reproduce (for bugs)

1. deploy to kubernetes using ofc-bootstrap project
2. kubectl describe pod system-dashboard -n openfaas-fn
3. verify pod failing to be created

## Context

cannot

[2019-03-16 08:01] alexellis commented on #415
Thank you for reporting this. Please update the deployment to use an older version - look at the Docker Hub to find that.

A PR from the community was merged recently in this area. I'll double check the image was pushed for the change.

[2019-03-16 08:05] alexellis commented on #415
Derek close: image pushed

[2019-03-16 08:05] #415 closed

[2019-03-16 16:29] LucasRoesler commented on #119
I am not seeing any explicit errors, but it is different

Lowercase:
![image](https://user-images.githubusercontent.com/891889/54478319-03fbfa80-4811-11e9-9354-b93644657c0a.png)

Uppercase:
![image](https://user-images.githubusercontent.com/891889/54478322-0c543580-4811-11e9-892a-caa46588f6c0.png)

[2019-03-22 19:35] rgee0 opened #417 "Improve error message when function template isn't supported"
## Expected Behaviour
When a template specified in a function's `stack.yml` doesn't exist within the community cluster the error message should clearly indicate that this is the cause of the failure.

## Current Behaviour

The current status API message is:
[code]
The list of supported templates is available [here](https://openfaas.o6s.io/signup#templates)

## Possible Solution
Determine possible

[2019-03-23 16:14] alexellis commented on #417
Derek add label: help wanted

[2019-03-24 12:30] amn41 commented on #417
If it isn't somewhere already, would it be possible to document somewhere how to add additional templates to an ofc installation? digging around ofc-bootstrap code it looks like need to add to `custom_templates` https://github.com/openfaas-incubator/ofc-bootstrap/commit/268d1fb547d062eb50bac53921909201d1336c61

however not clear to me yet how/where to set that and whether i need to `reset` and rer

[2019-03-24 14:19] alexellis commented on #417
You can edit git-tar's environmental variables.

Alex

[2019-03-25 09:30] alexellis opened #419 "Docs: Update docs/README.md with custom template instructions"
## Task

Relates to #417

We have a request from a user for documentation on setting custom templates.

Document in docs/README.md:

* How to edit in-flight (edit git-tar deployment on Kubernetes)
* Edit the relevant YAML file and deploy git-tar selectively

YAML file: https://github.com/openfaas/openfaas-cloud/blob/master/gateway_config.yml#L11

[2019-03-25 09:30] alexellis commented on #419
@martindekov / @zeerorg?

[2019-03-25 09:34] martindekov commented on #419
I can do that 👍

[2019-03-25 09:35] martindekov commented on #419
Derek assign: me

[2019-03-25 10:18] martindekov commented on #417
My idea here is to get the function's `lang` field in `stack.yml` and check after fetching all the templates if folder with that name exists in the `template` folder, if it does then ok proceed, if it does not we throw error saying `error: there is no template with name ... if you with to add custom template add the git repo in file ...` or something.

[2019-03-25 10:22] martindekov commented on #417
I can work on the implementation if you agree with my approach 👍

[2019-03-25 10:24] martindekov commented on #419
Done [here](https://github.com/openfaas/openfaas-cloud/pull/420) 👍

[2019-03-25 10:27] alexellis commented on #417
Martin that sounds like a good approach. I would limit the detail on the message to something like: Template X not available at this time.

Alex

[2019-03-25 20:34] alexellis commented on #417
Looks like this is a duplicate of https://github.com/openfaas/openfaas-cloud/issues/219

[2019-03-25 20:36] alexellis opened #421 "Support for Dockerfiles template in self-hosted clusters"
## Expected Behaviour

We should make support available for the "dockerfile" template on self-hosted clusters.

## Current Behaviour

Unavailable see: #417

## Possible Solution

* A flag is needed for OpenFaaS Cloud to enable use of the dockerfile template - validate this in the git-tar function
* This flag should be off by default
* Update git-tar's Dockerfile to use the latest faas-cli
* Test e

[2019-03-25 20:57] alexellis commented on #421
We'll need to update git-tar to use a new release of the faas-cli.

[2019-03-25 20:59] alexellis commented on #421
https://github.com/openfaas/faas-cli/pull/new/alexellis/shrinkwrap-dockerfile

[2019-03-25 22:15] alexellis commented on #421
CLI version should be 0.8.6 now.

[2019-03-25 23:35] matipan commented on #421
I can take over this one :+1: I'll try the changes on my ofc installation

[2019-03-26 00:01] matipan commented on #421
And it's working https://github.com/matipan/dtest/runs/84836104 ! :champagne:

[2019-03-26 00:16] matipan commented on #421
And here it's the message when a dockerfile function is detected but the feature is disable: https://github.com/matipan/dtest/runs/84843643

[2019-03-26 07:16] #419 closed

[2019-03-26 07:17] alexellis commented on #421
I'm impressed! That looks great :+1:

Let me know when you have a PR up.

Alex

[2019-03-26 11:37] matipan commented on #421
PR is up :point_up:

[2019-03-26 13:06] #421 closed

[2019-03-26 18:06] martindekov commented on #417
Derek assign: me

[2019-03-26 18:11] martindekov commented on #219
Will reference this along with #417

[2019-03-26 18:29] alexellis commented on #219
The remaining piece is:

[2019-03-26 18:53] martindekov commented on #219
I will add the bad check along with the code which will validate the downloaded templates 👍

[2019-03-26 20:23] alexellis opened #424 "Feature: default CPU requests/limits"
## Expected Behaviour

There are memory limits applied in the buildshiprun function for all functions. This is configurable in a YAML file. We should follow the approach taken to apply memory limits and do the same with the CPU limiting available in the [OpenFaaS YAML reference/API](https://docs.openfaas.com/reference/yaml/#function-memorycpu-limits).

## Current Behaviour

No policy applied

## P

[2019-03-26 20:24] alexellis commented on #409
Just duplicate the README instructions from the dashboard folder. It shows how to do this.

[2019-03-26 20:25] alexellis commented on #409
https://github.com/openfaas/openfaas-cloud/tree/master/dashboard#deploy-a-few-functions-for-sample-data

[2019-03-28 20:02] sachin-dhamane opened #425 "Feature: Support CI/CD from multiple branches to corresponding environments"
We keep long term projects that have longer testing cycle on a different branch. We need ability to have a dedicated environment per branch for CI/CD. After necessary testing, features from these branches will merge back to master which will point to production environment. This allows better control over developing features without losing the CI/CD during development.

## Expected Behaviour

Ther

[2019-03-30 07:06] Daniel15 opened #426 "Question about resource usage on Swarm"
I'm seeing 100% CPU usage when I start OpenFaaS Cloud. I have not yet deployed any functions using it - this is just an out-of-the-box config using Docker Swarm.

CPU usage graph while it was running:
![](https://d.sb/2019/03/firefox_30-00.07.48.png)

Screenshot of htop:
![](https://d.sb/2019/03/ConEmu_29-23.59.40.jpg)

The load drops as soon as I stop Docker:
![](https://d.sb/2019/03/ConEmu_30-00

[2019-03-30 09:27] alexellis commented on #426
Hi, thanks for your interest in the project.

I can't see 100% CPU usage in your `docker stats` output.

It seems like you have a single core system, which is not ideal for running any Docker containers. What is the specification of your system?

I'm going to close as unable to reproduce for now, but please keep commenting.

@zeerorg what is your experience with Swarm?

Alex

[2019-03-30 09:27] #426 closed

[2019-03-30 12:27] alexellis commented on #334
Please can you link to the PR here ? @martindekov

[2019-03-30 12:32] martindekov commented on #334
There is not PR with this change

[2019-03-30 13:49] alexellis commented on #417
@martindekov is there a PR for this yet?

[2019-03-31 07:21] Daniel15 commented on #426
That confuses me too... However the CPU usage is directly related to OpenFaaS Cloud, as it stops as soon as I stop Docker.

It's a VPS from https://buyvm.net/kvm-dedicated-server-slices/ ("slice 4096" plan). It has only one CPU but it's dedicated CPU time, which could arguably be better than something like what DigitalOcean offer for the same price (which includes shared / best-effort CPU time).

[2019-03-31 07:27] alexellis commented on #426
DigitalOcean actually offer free credits if you want to try. If you want to run OpenFaaS Cloud - the best way to do it would be to use Kubernetes and DO you have a very cheap option for you where you just pay for the VPS nodes you want.

I can't think of any modern machine that has a single core. Just think about how many processes are running on your system contending for CPU time.

[2019-03-31 09:02] zeerorg commented on #426
I've ran OpenFaas cloud on Raspberry Pi, but I've never hit a CPU bottleneck before, memory bottlenecks are still a possibility.

At what clock speed is the vps running ? Also, the ram usage is really high for your vps even without OpenFaas Cloud. Seems like you are running a php server along side your app.

I think context switches are exhausting system resources since it is a single core CPU. A

[2019-03-31 20:05] alexellis commented on #425
One way this could be implemented at a low cost would be to have separate environments which are configured to only build from a certain named branch. Right now that named branch is `master`, but if we made this a configuration element you could define in the ofc-bootstrap tool then you could provision for instance two environments in around 200 seconds and then get the experience desired.

The `s

[2019-03-31 20:06] alexellis commented on #425
@martindekov can you confirm that GitLab is only limited to building from the master branch?

[2019-03-31 20:08] #397 closed

[2019-03-31 20:08] alexellis commented on #397
Thanks for the suggestions @burf2000

[2019-03-31 20:08] alexellis commented on #397
I think we've covered this with the bootstrap tool mentioned by @ivanayov

[2019-04-01 06:45] martindekov commented on #417
Hey Alex, sorry I missed your comment, I was busy with university and deploying my GitLab Dev environment, I will do it in the incoming weekend

[2019-04-01 06:47] martindekov commented on #425
Let me check It out will comment with results

[2019-04-01 06:55] martindekov commented on #425
[code]
I red the proposal, seems like a good idea, some people may require dev,staging environments etc. Otherwise, yes we build from master only ATM

[2019-04-05 09:36] serverlessnomad opened #428 "dead link in GitHub documentation"
of-builder/README.md

https://github.com/openfaas/openfaas-cloud/blob/master/docs/DEV.md#appendix-for-kubernetes

[2019-04-05 10:14] alexellis commented on #428
@martdindekov

[2019-04-05 17:06] matipan commented on #425
This is a really good idea. The proposal seems reasonable, make it a config option and modify the affected functions.
We also need to update the ofc-bootstrap after this is implemented.

@martindekov do you plan on working on this or is it ok if I get started?

[2019-04-05 20:06] alexellis commented on #428
Just curious - are you trying to deploy of-builder manually? (why?)

[2019-04-05 20:06] #428 closed

[2019-04-05 20:08] alexellis commented on #425
There seems like quite a few places that need a change, so I would suggest proposing how we will configure it then outline the work and you could both cover it?

* UI changes
* GitHub changes
* GitLab changes
* git-tar changes
* anything else

[2019-04-05 21:01] matipan commented on #425
I'd go with using an environment variable. It seems to be straight forward to implement and is backwards compatible since we can default to `master`.

I haven't done any UI development with angular nor react lately although I wouldn't mind to start now.
As for the functions, I've used github and currently have a github installation so I could work on that. If @martindekov has already worked with g

[2019-04-06 08:23] martindekov commented on #425
Hey @matipan I need to move some PRs for merging this weekend and I need to finish work on Issue I assigned myself last week, but haven't been able to look at.

I can take this but not sure when exactly I will start working on it, if this is high priority you can take it, or I can start work on it or split the job for GitLab and GitHub part. I would suggest the latter I can take the GitLab part an

[2019-04-06 08:36] martindekov commented on #425
I believe this can be achieved with Go templates by adding environmental variables to the `stack.yml` while bootstrapping cloud for the functions which will contain the change(list of branches which the user will use) that way we will not care whether it is swarm or k8s. This can be added like option to the `init.yml`.

[2019-04-06 17:43] matipan commented on #425
Lets do that if you want 😄 I can start right away on this, so I'll start with the GitHub function. If all goes well maybe I can take git-tar off your plate if you haven't already gotten there.

I'm not sure I understood. Are you suggesting that the users specify a list of branches in the `init.yml`?

[2019-04-06 20:18] alexellis commented on #424
The `buildshiprun` function would need to be updated:

https://github.com/openfaas/openfaas-cloud/blob/320c940501d868c471f1c74efca5995203e57255/buildshiprun/handler_test.go

https://github.com/openfaas/openfaas-cloud/blob/f4e8bb24489adfe54e9e38d7f231f3de5977a753/buildshiprun/handler.go

https://github.com/openfaas/openfaas-cloud/blob/558bd56a695fed4c3dad2a8877765ff1088d540d/buildshiprun_limits.yml

[2019-04-06 20:20] alexellis commented on #424
When the changes are ready, use `faas-cli build --filter=buildshiprun` and deploy to your own OpenFaaS Cloud instance.

[ofc-bootstrap](https://github.com/openfaas-incubator/ofc-bootstrap) means deploying the whole environment takes about 100 seconds.

[2019-04-07 10:21] martindekov commented on #425
Hey @matipan

I think keeping the project backward compatible with generally the same UX for Kubernetes and Swarm is a plus. So yeah I think we can approach it that way. Do you find it reasonable? I might be missing something with my proposal.

[2019-04-07 16:35] #424 closed

[2019-04-07 21:21] matipan commented on #425
I agree that we should keep it backward compatible.

My proposal would be that for Kubernetes only we change the name of the namespace to include the branch(in case is not master) so that the users can use the bootstrap to have two different installations of ofc in the same Kubernetes cluster and achieve something a bit similar to what Stefan did in [this blog post](https://www.openfaas.com/blog/g

[2019-04-07 21:28] matipan commented on #425
Derek assign: me

[2019-04-09 20:04] alexellis commented on #315
Saw this for @Waterdrips - the URL should be: https://waterdrips.o6s.io/helloworld but says: "https://waterdrips.o6s.io/waterdrips-helloworld"

[2019-04-10 00:13] matipan commented on #425
CI/CD on different branches for GitHub is starting to shape up:
[code]
https://github.com/matipan/hello-world-go/runs/97516400

[2019-04-10 00:19] matipan commented on #425
@alexellis @martindekov should we switch to using the `BranchAndSHAFormat` for the image name now?
I'd suggest using this format only if the branch is not master so that existing users aren't affected.

[2019-04-10 10:10] alexellis commented on #315
I have fixed this in master for the invocation count / query and the HTTPS endpoinnt URL.

Deployments are only in lowercase, so the username needs to be sent to toLower() before being used to construct links or queries so that it matches the expected pattern in the deployment/Pod.

Alex

[2019-04-10 10:10] #315 closed

[2019-04-10 12:26] martindekov commented on #425
Hey @matipan nice progress, I don't have any yet but when I build git-tar I will provide you with image which will enable building from non-master branches(if you haven't done that already). Otherwise I would suggest to just implement the non-master branch process, and we can think of the image naming further down the line? You can even open issue with the proposal WDYT?

[2019-04-10 12:37] matipan commented on #425
@martindekov No problem, I already made the changes to git-tar, is at [matipan/of-git-tar:build_branch](https://hub.docker.com/r/matipan/of-git-tar/tags) :smile:

Sure, we can address that later :+1:

[2019-04-10 12:41] alexellis commented on #425
I'm looking forward to trying it :)

[2019-04-11 16:23] alexellis commented on #425
@matipan `BranchAndSHAFormat` sounds fair. Please can you share an example of both formats/examples below?

[2019-04-11 16:24] alexellis commented on #425
Hey @matipan is there something we can do to improve this?

Alex

![Screenshot 2019-04-11 at 17 24 22](https://user-images.githubusercontent.com/6358735/55974018-ad060b80-5c7e-11e9-8d15-87656bbe6f38.png)

[2019-04-11 16:26] alexellis commented on #425
Would this help? https://github.com/openfaas/faas-cli/issues/617

[2019-04-11 16:36] matipan commented on #425
You found my shameful commit :laughing:
That might help although this is my own problem, I'm constantly reinstalling ofc and I always forget to add the custom templates

[2019-04-11 17:38] alexellis commented on #425
How do you install them normally?

[2019-04-13 18:37] matipan commented on #425
Here are the two formats:
* SHAFormat(current): `go-fns-tester-func:0.2-04b8e44`
* BranchAndSHAFormat(proposed): `go-fns-tester-func:0.2-master-04b8e44`

The final name of the image will depend on the owner, repo and how the registry is specified.

---

I simply modify the `custom_templates` on ofc bootstrap to include the templates I need. But I often forget about it.

[2019-04-13 18:42] alexellis commented on #425
Let's go for your suggestion for the image format. The sha does trace to the branch but we can do this for the purposes of user readability

[2019-04-17 11:28] bartsmykla commented on #186
Closing issue, because of it's age. Feel free to recreate it.

[2019-04-17 11:28] bartsmykla commented on #359
Closing issue, because of it's age. Feel free to recreate it.

[2019-04-17 11:28] #359 closed

[2019-04-17 11:28] bartsmykla commented on #345
Closing issue, because of it's age. Feel free to recreate it.

[2019-04-17 11:28] #345 closed

[2019-04-17 11:39] alexellis commented on #186
Derek open

[2019-04-17 11:40] alexellis commented on #186
Hi Bart, appreciate that you're no longer active and some of your PRs may not get finished, but I would appreciate it if you could ask before closing issues across the project. Thanks, Alex

[2019-04-20 22:20] martindekov commented on #425
Hey @matipan Do you have image, which contains the building of the branches, without the sha image name? I am asking since I deployed the image you mentioned above and the git-tar cannot build properly I suppose you are developing on it. If you don't have separate image I can make a hack for now, just asking in case you do.

[2019-04-20 22:20] martindekov commented on #425
For `git-tar` ^

[2019-04-20 22:26] matipan commented on #425
What error are you seeing when it's trying to build?

On Sat, Apr 20, 2019, 19:20 Martin Dekov <notifications@github.com> wrote:

[2019-04-21 07:25] martindekov commented on #425
Hey Matias it was:
[code]
But probably I was using cached version of that image as I deleted the deployment and re-deployed and it works fine now 👍

[2019-04-21 08:27] alexellis commented on #425
How is this going overall chaps?

[2019-04-21 10:16] martindekov commented on #425
I started the implementation for GitLab last week I intend to finish it today

[2019-04-21 12:02] matipan commented on #425
Awesome! That's good to hear Martin.
I've completed the github and git tar functions. I'm still working on the
dashboard. I wanted to learn a bit of react before making any changes

On Sun, Apr 21, 2019, 07:16 Martin Dekov <notifications@github.com> wrote:

[2019-04-21 12:12] martindekov commented on #425
Hey @matipan I now get you, I had to face the issue before understanding it... The multiple namespaces for kubernetes for different branches for better isolation sounds like a great idea, but not sure how it will go with Swam users and branch tag sha naming is the logical step how am I supposed to see functions from different branches otherwise. Sorry in the beginning I misunderstood the proposals

[2019-04-22 12:27] matipan commented on #425
No problem @martindekov :smile:. Glad you like the idea, for now I'm going to change the format of the image tag. When we make the changes to ofc-bootstrap we'll discuss how or if we'll add that feature.

Today I'll check out your PR and try to upload mine :+1:

Good stuff!

[2019-04-22 17:08] alexellis opened #440 "Feature: Dashboard/Router without CI/CD integration"
## Expected Behaviour

Persona:

As an enterprise user I have my own opinionated way to do CI/CD and I've spent millions of dollars creating it. It's called Jenkins as a Service, or similar. It's been audited, passed security checks and has political buy-in. I don't want your Buildkit.

How do we cater to them?

We enable them to deploy from their own CI/CD pipelines using the appropriate labels a

[2019-04-24 00:46] matipan commented on #425
The dashboard is done, with this I've finished the implementation. I added a new label for the functions deployment called `com.openfaas.cloud.git-branch` that will have the branch that was used to build that function. This label is also used in the dashboard when displaying the link to the repository's commits.
I'll upload a PR as soon as I can figure out why the `gofmt` command is failing when b

[2019-04-24 13:57] JokerQyou commented on #397
The bootstrap tool is only available for k8s environment. If some how someone (myself for example) only has access to docker swarm environment, he'd still need these manual instructions in the doc. I've searched through openfaas-cloud and openfaas documentation and yet have no luck learning how to set these said values. So yes, I think I need help with the set-up.

[2019-04-24 19:04] matipan commented on #425
@martindekov @alexellis [Here is the PR](https://github.com/openfaas/openfaas-cloud/pull/441) for all of the above

[2019-04-27 16:44] alexellis opened #442 "Config update for buildkit"
## Expected Behaviour

It appears that buildkit should be able to run on Kubernetes using both non-root and unprivileged container security. A configuration should be put together for this as soon as possible.

## Possible Solution

Update the files in ./yaml/ for the builder pod.

## Steps to Reproduce (to test)
1. Update the config/container
2. Trigger a build with all of the templates available

[2019-04-27 16:45] alexellis commented on #442
@AkihiroSuda @matipan

[2019-04-27 16:48] alexellis opened #443 "Research task - basic (optional) "call home" telemetry"
## Expected Behaviour

A controller should run as part of the standard deployment to call home and signal that an installation is up. This should not include PII and should be A) optional B) easy to turn off C) well documented D) compliant with GDPR

The PoC need only concern the implementation and should be considered a private experiment and not be rolled out to users.

## Current Behaviour

It

[2019-04-30 18:03] matipan commented on #443
I have a basic PoC working on my cluster deployed using [the code written here](https://github.com/matipan/openfaas-cloud/tree/google_analytics). The controller is listening on port 8080 for incoming events and sending those events to google analytics:
![analytics-working](https://user-images.githubusercontent.com/8126891/56982996-f13b4c00-6b58-11e9-9076-188c9f2625e4.png)

We might not need to exp

[2019-05-02 10:10] martindekov commented on #226
Derek close: I believe we solved the initial setup with ofc-bootstrap?

[2019-05-02 10:10] #226 closed

[2019-05-02 11:58] matipan commented on #440
Derek assign: me

[2019-05-02 12:17] matipan commented on #442
Derek assign: me

[2019-05-02 12:19] alexellis commented on #442
Thank you

[2019-05-02 22:01] martindekov commented on #296
I believe this is taken care of in this part of the code
[code]
The status when secret does not exist looks like:
![image](https://user-images.githubusercontent.com/34942004/57109757-fd80fe00-6d3e-11e9-88ca-6eb4a66ba381.png)

[2019-05-02 22:01] martindekov commented on #296
Derek close

[2019-05-02 22:01] #296 closed

[2019-05-02 22:06] martindekov commented on #219
Derek close:I will close this as there is existing Issue about the exact same thing

[2019-05-02 22:07] #219 closed

[2019-05-02 22:09] martindekov commented on #215
Not sure should we be moving this PR/Issue along, we had discussions with Lucas in the PR whether or not this brings true value in case the function is scaled.

[2019-05-02 22:12] martindekov commented on #145
Don't we use OAuth 2.0 for GitLab and GitHub now? If so is this closeable?

[2019-05-02 23:29] alexellis commented on #145
Derek close: feature released

[2019-05-02 23:29] #145 closed

[2019-05-02 23:30] alexellis commented on #443
Can you sketch a conceptual diagram of the workflow?

[2019-05-04 18:14] matipan commented on #442
I've been trying to get the rootless buildkit working on GKE but it seems that Buildkit does not work if you use the Container Optimized OS for the nodes. See [this issue](https://github.com/moby/buildkit/issues/879). According to a comment from @AkihiroSuda it does work when using Ubuntu nodes and the `buildkit:v0.4.0-rootless` image but I have not tried it yet.

Should we still do the upgrade fo

[2019-05-04 18:28] alexellis commented on #442
I think your suggestion sounds good. In any case the builder could be run in a separate node pool with an Ubuntu machine.

[2019-05-06 20:37] matipan opened #449 "Feature: provide a dashboard to configure OpenFaaS Cloud"
There are a few things that are configured as environment variables in the different ofc components, a few of them are:
* Branch to be used for building the functions
* Docker registry to push images
* Custom templates
* Enable support for dockerfile templates
* Scaling factors
* Maybe hmac validation?

## Expected Behaviour

Be able to change the settings of OFC without requiring to modify each o

[2019-05-06 20:38] matipan commented on #449
Derek add label: area/ux,enhancement,help wanted

[2019-05-06 20:58] alexellis commented on #449
Hmm you do seem to have Derek access https://github.com/openfaas/faas/blob/master/.DEREK.yml#L17

[2019-05-06 20:59] matipan commented on #449
Yeah, I don't know why it didn't work. I think the syntax of the comment is ok

[2019-05-06 20:59] alexellis commented on #449
[code]

Add them separately

[2019-05-06 21:01] matipan commented on #449
Derek add label: area/ux

[2019-05-06 21:01] matipan commented on #449
Derek add label: enhancement

[2019-05-06 21:01] matipan commented on #449
Derek add label: help wanted

[2019-05-06 21:01] matipan commented on #449
There we go. Thanks @alexellis

[2019-05-08 17:04] alexellis opened #451 "UI issue: icons don't scale with the page in Safari"
The icon to log out and for GitHub should scale as I scale the page bigger or smaller.

![Screenshot 2019-05-08 at 18 04 22](https://user-images.githubusercontent.com/6358735/57393811-cf2a7500-71bb-11e9-833c-3b705cfec159.png)

[2019-05-08 17:05] alexellis commented on #451
This should be a simple fix, the code lives at: https://github.com/openfaas/openfaas-cloud/tree/master/dashboard/client

[2019-05-08 17:07] alexellis commented on #451
Note: I observed this with Safari on Mac, but Chrome on Mac did scale correctly.

[2019-05-14 13:57] #417 closed

[2019-05-16 20:55] matipan commented on #440
If no CI/CD is required the following functions/components can be ignored:
* `git-tar`
* `buildshiprun`
* `of-builder`
* `pipeline-log`
* `import-secrets` - they could still use this one but I think it would be best if we recommend to use the faas cli
* `github-push` or gitlab
* `github-event` or gitlab

It's quite simple to deploy a function and have it be integrated to OpenFaaS Cloud, with [addi

[2019-05-16 21:02] matipan commented on #425
This was a part of the [0.8.11 release](https://github.com/openfaas/openfaas-cloud/releases/tag/0.8.11). @sachin-dhamane do you want to test it out so that we can close this?

[2019-05-16 21:03] matipan commented on #425
BTW ofc-bootstrap will eventually support this: https://github.com/openfaas-incubator/ofc-bootstrap/issues/104

[2019-05-16 21:07] alexellis commented on #425
Hi all, is there anything else outstanding or needed for this?

Thanks,

Alex

[2019-05-16 21:21] alexellis commented on #440
My original idea was to not install the extra components. Or in other words, only to install what is needed depending on the ask from the user.

What are we actually installing? The dashboard + TLS functionality? Anything else?

[2019-05-16 21:22] sachin-dhamane commented on #425
Yes! I'll test this weekend and confirm.

[2019-05-16 21:22] #425 closed

[2019-05-21 17:25] matipan opened #460 "Dashboard gets stuck when injecting Linkerd2"
When we inject the linkerd2 proxy to the dashboard it gets stuck loading the list of the functions. This is due to how the linkerd2 proxy works(in-depth explanation below).

## Expected Behaviour

The dashboard should list the functions of the user that is being requested.

## Current Behaviour

It shows the loading icon forever.

## Possible Solution

This is happening due to how we proxy the HTT

[2019-05-21 17:47] matipan commented on #460
Derek assign: me

[2019-05-21 17:48] matipan commented on #460
Derek add label: area/dashboard

[2019-05-21 17:48] matipan commented on #460
Derek add label: area/kubernetes

[2019-05-21 19:55] alexellis commented on #460
Please could you format the JSON snippet? I'm having trouble reading it on mobile.

[2019-05-21 20:27] matipan commented on #460
Done :+1:

[2019-05-26 16:09] matipan commented on #406
I prefer if we use some form of label. I've seen that knative does something like this with their `concurrency` label for [auto scaling](https://github.com/knative/serving/blob/master/docs/scaling/DEVELOPMENT.md).
Is this kind of rate limiting already implemented in the gateway? If not, it would be best if we implemented it there so that regular openfaas users can take advantage of that feature, n

[2019-05-26 16:11] matipan commented on #406
I misspoke before. It's not a label what knative uses, it's a field in their CRD spec.

[2019-05-26 16:14] alexellis commented on #406
This doesn't address saturation / resource exhaustion attacks.

[2019-05-29 08:56] chriskolenko opened #464 "Feature: allow annotations via stack.yml"
When deploying functions Labels and Annotations from stack.yml are ignore. For good reasons. It would be good to whitelist or blacklist the important Labels and Annotations so we can add metadata to the functions.

For example, when using the connector pattern, functions are required to configure annotations for the given providers. IE. "topics" for kafka.

## Expected Behaviour
When providing saf

[2019-05-29 09:23] #464 closed

[2019-05-29 14:21] chriskolenko opened #466 "Feature: Add Annotations to git-tar"
Whitelisted Annotations was added to buildshiprun but git-tar doesn't marshal the Annotations in the http request.

## Expected Behaviour
buildshiprun should be receive a request with Http_Annotations populated in the ENV

## Current Behaviour
Http_Annotations doesn't exist

## Possible Solution
Copy and paste Labels implementation for Annotations
https://github.com/openfaas/openfaas-cloud/blob/ma

[2019-05-30 06:51] alexellis commented on #466
Did you want to work on this?

[2019-05-30 07:05] alexellis commented on #466
Derek close: released

[2019-05-30 07:05] #466 closed

[2019-05-31 13:19] matipan commented on #440
What we really need is:
* edge-router
* edge-auth
* Dashboard
* All the TLS stuff

But do note that we might have some unexpected behavior on the dashboard when the user clicks on the `build log` button. Maybe we can enable/disable that button based on a `cicd` flag.

[2019-06-04 07:41] #460 closed

[2019-06-05 17:16] alexellis commented on #440
Yes we can feature flag it with an environment variable.

[2019-06-05 17:23] ontehfritz opened #470 "Using a mono repository, is it possible?"
Is it possible to use a github mono-repository, meaning having multiple functions in one repository and have them deployed, instead of a repository for each function?

[2019-06-05 17:34] alexellis commented on #470
Hi @ontehfritz,

Thanks for using OpenFaaS.

Yes that's the preferred model for functions which belong together. What gave you the impression that this was not possible?

Look at the way I put this example together on OFC -> https://www.openfaas.com/blog/serverless-single-page-app/ - 3x functions (1 is a microservice/static-webpage) and all three are in one stack.yml file.

Just run `faas-cli new

[2019-06-05 17:34] alexellis commented on #470
--
Join Slack to connect with the community
https://docs.openfaas.com

[2019-06-05 17:54] ontehfritz commented on #470
We are doing a proof of concepts and it wasn't clear with openfaas if a mono-repo was possible, especially with openfaas cloud. This is due to our limited experience with openfaas so far.

This is very reassuring, we will check out the links and try to get our POC working with a mono-repo!

Thank you for the prompt response!

[2019-06-13 12:40] matipan commented on #440
Here is what I'm thinking for this:
* Add a section to the [manual deployment guide](https://github.com/openfaas/openfaas-cloud/blob/master/docs/README.md) for installing only the router/auth/dashboard components.
* Add a flag to ofc bootstrap to only install the mentioned components.

What do you think? @alexellis

[2019-06-13 14:09] alexellis commented on #440
Sounds good. Then explain how someone can deploy from their git repo with the right labels and flags

[2019-06-13 14:10] matipan commented on #440
Awesome. I'll get started!

On Thu, Jun 13, 2019, 11:09 Alex Ellis <notifications@github.com> wrote:

[2019-06-13 19:55] alexellis commented on #470
Feel free to consult the samples and documentation, or make suggestions on how we can improve the messaging.

The best place to ask ad-hoc questions like this is on slack in the #openfaas-cloud channel.

I'd also encourage you too sign up for free access to the community cluster.

Alex

[2019-06-13 19:55] #470 closed

[2019-06-13 19:56] alexellis opened #471 "Spike/research: how would a polling model work for CI/CD?"
## Potential opportunity

We could integrate with any accessible git repository / hosting system, if we implemented a pulling / polling method as an alternative to push-based access.

## Current Behaviour

Push based only, supporting GitHub.com and GitLab self-hosted.

This model only needs one hook per system, however a pull-based model needs a trigger for every git repository and this could beco

[2019-06-13 20:38] alexellis opened #472 "Issue with deleting a repo"
## Expected Behaviour

Issue with deleting a repo should trigger garbage collection.

## Current Behaviour

The customer is being read as "" by reading the wrong field.

The GitHub app showed:
[code]

## Possible Solution

Add a code-path to read the customer from the `installation_repositories` event.

[code]

## Steps to Reproduce (for bugs)

1. Create repo
2. Push code and get function in dashb

[2019-06-13 20:40] #472 closed

[2019-06-13 20:40] alexellis commented on #472
@martindekov  @matipan - please can we check how this works in the GitLab world?

[2019-06-13 20:47] martindekov commented on #472
As I added a comment I remember discussing that the info in the hook was not enough If I find the discussion I will refer it here

[2019-06-19 20:21] alexellis commented on #442
Sounds like we have a way forward?

[2019-06-20 07:24] Waterdrips commented on #451
@alexellis I cant replicate this on Mac OS X (10.14.5) on Firefox (67.0.1), Safari (12.1.1) or Chrome (74.0.3729.169)

[2019-06-22 20:16] matipan commented on #471
We would also need to have some kind of persistence for recording which was the last commit that was successfully built. Also, if the build takes longer than the polling interval we are going to creating builds that point to the same commit so we might want to create some form of lock so that new builds don't start if there is one already running.

[2019-06-22 20:24] matipan opened #474 "Feature: have write_timeout be configurable by the administrator"
## Expected Behaviour

The write timeout of the functions should be configurable by the administrator of openfaas cloud enforced by buildshiprun.

## Current Behaviour

Each user can set their own write timeout.

## Possible Solution

Have buildshiprun read this config and step over the value of write timeout before deploying the functions.

**Note**: this will only work for our templates and the

[2019-06-22 20:24] matipan commented on #474
Derek assign: me

[2019-07-04 15:17] alexellis opened #480 "Function not appearing on dashboard on 1st commit"
## Expected Behaviour

Function should appear on dashboard on 1st commit, but only appears on 2nd commit

## Current Behaviour

Function not appearing on dashboard on 1st commit

## Possible Solution

This is due to a regression in faas-netes

## Steps to Reproduce (for bugs)

1. Create a new function
2. Commit it
3. Check your dashboard
4. The endpoint is live, but it won't show up.

## Context

[2019-07-04 15:18] alexellis commented on #480
Related: https://github.com/openfaas/faas-netes/pull/469

[2019-07-04 15:43] chrisrichard opened #481 "Feature: installing NPM dependencies from private repositories"
Our FaaS functions reference NPM packages from our private NPM repository (via package.json) so when OpenFaaS Cloud does its 'npm install', these dependencies fail to install.

## Expected Behaviour
npm install will pay attention to a .npmrc file if present, but the auth token itself needs to be provided as a secret.

Example from our Travis build:
echo @ratehub:registry=https://packagecloud.io/ra