[2019-07-06 11:33] LucasRoesler commented on #481
This has also been discussed in some of the other big cloud tools out there, we should take a look at some of their research as well

- https://github.com/Azure/draft/issues/564
- https://github.com/moby/moby/pull/36443#issuecomment-369845823

Docker/Buildkit has some support for supplying secrets to the build context, but it is still marked as experimental : https://docs.docker.com/develop/develo

[2019-07-06 11:36] alexellis commented on #481
Thanks for the input on this.

How does a user supply these secrets to their OFC or the community cluster when everything is done via `git`?

How do we pass the secret to the builder image when Kubernetes has to restart Pods to attach volumes and secrets are attached via volumes?

[2019-07-06 16:25] alexellis commented on #481
I think that we are looking at something a bit like this.

![IMG_20190706_172341](https://user-images.githubusercontent.com/6358735/60758764-ef877c00-a012-11e9-83ef-6b7fb1d6a3ce.jpg)

[2019-07-06 16:30] alexellis commented on #481
Whilst this doesn't help for the managed platform, some users are using build-args with the faas-cli to specify secrets for private npm.

[2019-07-06 19:07] LucasRoesler commented on #481
It seems reasonable to reuse the existing secrets workflow, if the sealed secrets are deployed prior to building, then they would be available to the build step.  Perhaps it makes sense to allow labels for secrets to restrict if a deployed function is allowed to use a build secret

[2019-07-06 20:02] alexellis commented on #481
OFC uses buildkit as a daemon at the moment, which may present some problems with that approach. If one shot containers are created for each build then the approach may work.

[2019-07-07 06:47] alexellis commented on #481
How are you using buildkit at the moment? One shot or as a daemon?

[2019-07-07 12:22] LucasRoesler commented on #481
We use a daemon in our Jenkins CI, but we don't use the secrets support, only the RUN cache https://github.com/moby/buildkit/blob/master/frontend/dockerfile/docs/experimental.md#run---mounttypecache (this makes building go projects great, by the way)

I am not sure that the buildkit daemon needs to mount the secret, I think that only the client that builds and sends the build context needs access.

[2019-07-09 15:36] burtonr opened #484 "Display Request Latency Percentiles on Dashboard"
Provide more insights into users' functions on the dashboard to be able to know the health and status of your function at-a-glance

## Expected Behaviour

Visualize the function's call latency percentiles similar to the success/error counts on the dashboard

## Current Behaviour

_new feature_

## Possible Solution

Possible use of Prometheus metrics to do a summation of request times per function

[2019-07-09 21:25] alexellis commented on #484
Thank you for logging this.

I'd like to see some mock-ups and suggestions on how this should look.

[2019-07-28 22:09] matipan opened #488 "Allow openfaas healthcheck annotations"
Currently we only allow the user to set the `topic` annotation in their functions. Since we now support custom health checks it would be good if we add those to the array.

## Expected Behaviour

Allow me to set custom health checks for the functions that I deploy via OpenFaaS Cloud.

## Current Behaviour

 Any annotation that is not `topic` is ignored.

## Possible Solution

Simply add the follow

[2019-07-28 22:28] matipan commented on #488
Derek assign: me

[2019-07-29 06:07] alexellis commented on #488
Sounds fine. Can you also do a workaround by creating that static file path?

[2019-07-29 12:11] chriskolenko opened #489 "Feature: Whitelist "schedule" annotation"
When using the cron connector, you need to provide two annotations:
1. topic
2. schedule

Currently only topic is whitelisted.

## Expected Behaviour
schedule annotation is allowed through buildshiprun

## Current Behaviour
Only the topic user annotation is whitelisted.

## Possible Solution
Add schedule to whitelist

## Steps to Reproduce (for bugs)
N/A

## Context
You can't use the cron connecto

[2019-07-30 17:06] #489 closed

[2019-07-30 17:10] alexellis commented on #488
@matipan would that also work?

[2019-07-31 12:32] matipan commented on #488
Sorry, I'm not sure what you meant. What static file path are you referring to?

[2019-07-31 12:36] alexellis commented on #488
OpenFaaS looks at what path by default? Create that path in your Hugo template?

[2019-07-31 13:04] matipan commented on #488
I think that would work. I would have to change the template a bit. Currently I was using the `hugo server` command. Perhaps I could build a small HTTP server that serves content from the `public` directory that hugo builds, I could use nginx but I think for this use case having something more lightweight is better. It could be generic enough so that building a template for jekyll would be easier

[2019-08-13 07:04] alexellis opened #495 "Action required: Update documentation and testing for cert-manager 0.8.0"
## Proposed change

Update to cert-manager 0.8.0

Full end to end testing will be required.

Be careful to see all the upgrade notes: https://docs.cert-manager.io/en/latest/tasks/upgrading/upgrading-0.7-0.8.html

## Context

I had an email from LetsEncrypt saying that versions < 0.8.0 will be deprecated and blocked by LetsEncrypt from November.

Here is the web version: https://community.letsencry

[2019-08-20 13:24] bendermIBM opened #496 "OFaaS Cloud can't find `openfaas-cloud` tag GitLab"
OpenFaas cloud can't seem to see the `openfaas-cloud` tag on a GitLab repository even though it is clearly there when querying the API.

## Expected Behaviour
Project should build in an OpenFaas Cloud pipeline

## Current Behaviour
GitLab event is returning an error.

[code]

However when querying the project in question we can see the tag

[code]

## Possible Solution
Maybe a cert issue but as fa

[2019-08-20 14:17] alexellis commented on #496
Hi @bendermIBM

I see that you sneaked in that little detail that you're using s390x :crown: - I don't think anyone has used this platform for OpenFaaS yet.

We do have Risc-V, ARM32/64 and Power though -> https://www.youtube.com/watch?v=hhlqA78V8Jo

I'm not sure what problem you may be running into with GitLab, but I wonder if the access secret is available and correct, so that the system-gitlab-

[2019-08-20 14:34] alexellis commented on #496
/msg: slack

[2019-08-20 14:57] bendermIBM commented on #496
Hey @alexellis  thanks for the response!

Yup we are attempting to get a POC of OpenFaaS running on s390x to work out any kinks. As with many of the OpenSource tech that my team tries to get running on Linux on Z, it is the first time anyone has tried to get it running. Where's the fun without some challenges 👍

Soon, when we have some more parts in place, I plan on starting a conversation with th

[2019-08-20 15:21] alexellis commented on #496
I've just expedited your invite as they are normally sent every morning by one of the Core team.

#openfaas-cloud and #kubernetes are probably the channels you want to join

I can also give you access to my private GitLab instance which is connected to OFC if it's helpful.

[2019-08-20 15:23] alexellis commented on #496
I'm seeing a private token being added as a header:

https://github.com/openfaas/openfaas-cloud/blob/master/gitlab-event/handler.go#L313

Can you check if that is configured correctly for your container and as a secret in Kubernetes?

The secret is `gitlab-api-token` - and that has to match the one on your GitLab instance.

There are some supplementary docs for this here: https://docs.openfaas.com

[2019-08-20 15:51] martindekov commented on #496
Hello @bendermIBM Can you send a picture in the UI of GitLab, there was always confusion around tags as there are two places in which you can add a `tag` and they mean separate things, I believe the latest GitLab instances have changed the `tag` naming to `label` or something IF I am not mistaken. Need to double check.

[2019-08-20 15:51] martindekov commented on #496
Either way I believe we should refer that in the documentation, when I verify what the new naming is.

[2019-08-20 15:54] martindekov commented on #496
So I believe you should add `topic` and not `tag` refer to [this issue on naming change.](https://gitlab.com/gitlab-org/gitlab-ce/issues/54167) If you are able to make it work with adding instead of tag, a topic, please let me know and I will reflect this in the documentation :+1:

[2019-08-20 15:55] alexellis commented on #496
Here is a tag example from what may be an earlier version of GitLab:

![tag-example](https://user-images.githubusercontent.com/6358735/63363312-4b138c00-c36b-11e9-9c48-e0c348afe892.png)

[2019-08-20 17:20] bendermIBM commented on #496
Hey @martindekov I am running GitLab Community Edition 12.1.4 currently but there is a prompt for an upgrade (however that might make it worse if the APIs have been changed)

I noticed this too. GitLab has seemingly changed the wording from `tag` to `topic` I *think* `tags` as GitLab now knows seem to equate to a GitHub release : Tagging your master branch at a certain point will snapshot that cod

[2019-08-20 17:44] bendermIBM commented on #496
@alexellis @martindekov  so it does look like maybe OF documentation needs to be updated to reflect topics but my issue was in fact the access key to GitLab. I had the access key set up as directed [here](https://www.openfaas.com/blog/openfaas-cloud-gitlab/) but it was an access key for the root user which for whatever reason can’t be used for those projects. Created a new user and a new project -

[2019-08-20 17:44] #496 closed

[2019-08-20 17:58] alexellis commented on #496
@bendermIBM can you share a screenshot of the root user's API key? You may have been missing the "sudo" / impersonation level of access.

[2019-08-20 18:01] bendermIBM commented on #496
@alexellis
![Screen Shot 2019-08-20 at 2 00 57 PM](https://user-images.githubusercontent.com/31288455/63371894-f5cb8080-c352-11e9-92de-60a34bc5add6.png)

[2019-08-20 18:32] alexellis commented on #496
Note added to the GitLab docs in this repository. There was nothing in openfaas/docs.

[2019-08-22 02:02] Qolzam opened #499 "Proposal: Add metrics for function resource usage"
Add metrics for resource usage of each function in OFC dashboard.
1. Memory usage
2. CPU usage

## Expected Behaviour

Display resource usage for function in OFC dashboard.

## Current Behaviour

Now OFC dashboard only show the number of function invocation in code status (success, error).

## Possible Solution

We can have some metrics like `container_cpu_usage_seconds_total` from Prometheus.

[2019-08-23 14:30] alexellis commented on #488
I'll await a PR 👍

[2019-08-24 05:21] Qolzam opened #502 "Uppercase username is invalid as part of sealed secret name"
Account name with uppercase character are not valid to use as a sealed secret name and it cause issue when `import-secret` try to sealed a secret.

## Expected Behaviour

OFC should handle upper case user name. OFC lower the user name the time of importing and reading secret.

## Current Behaviour

I got error when I created a secret with the name *qolzam-slack-token* :

Then I created a secret wi

[2019-08-28 10:34] alexellis commented on #192
/close: completed

[2019-08-28 10:34] #192 closed

[2019-08-28 13:33] Qolzam commented on #502
@alexellis What is your idea with lower the owner name for two part relate to importing secret that I mentioned. If you agree with the solution I can apply the changes to check the result.

[2019-08-28 14:35] alexellis commented on #502
I'm fine with that approach. `faas-cli cloud seal` will also need to apply to lower.

[2019-08-29 07:03] martindekov commented on #502
Thank you for the detailed explanation @Qolzam I will take a shot at this.

[2019-08-29 07:03] martindekov commented on #502
Derek assign: me

[2019-09-03 16:10] martindekov commented on #502
On a second though I would need to check the impact of the change. It is fairly easy to implement to lower in both places, but I am not sure of the impact and will need to test the change E2E to verify if to lower is the way to go, or we should augment logic if there is such, where we compare values etc. For the UI the approach was direct as in the URL your GitHub name is always with lower case.

[2019-09-04 14:13] alexellis opened #504 "[Feature request] ECR support - create repos in ECR API before push"
The OpenFaaS Cloud CI/CD pipeline creates Docker images in a remote registry and those image tags are dynamic. ECR doesn't support this behaviour in the same way as the Docker Hub or other registries we've used so far.

## Expected Behaviour

As an AWS user, I should be able to use [AWS ECR](https://docs.aws.amazon.com/AmazonECR/latest/userguide/what-is-ecr.html) for my images

## Current Behaviou

[2019-09-04 18:44] alexellis commented on #504
Here's the bad news.. the push token has to be renewed every 12 hours https://docs.aws.amazon.com/AmazonECR/latest/userguide/docker-basics.html

[2019-09-04 20:25] burtonr commented on #504
FluxCD have created a registry package that manages the auth and handles the token refresh: https://github.com/fluxcd/flux/tree/master/registry

[2019-09-04 22:00] mr47 commented on #499
@Qolzam You can use `dockprom/swamprom` for getting these statistics. In any case, I think OpenFaaS can't store cpu/memory without `cadvisor` and /maybe `node-exporter`. So I think it's more about to how you will configure it. Checkout `dockprom/swamprom`.

[2019-09-05 20:24] alexellis commented on #480
This is now fixed - it was an issue upstream in faas-netes and the way labels were moved from the metadata to the pod spec.

[2019-09-05 20:24] #480 closed

[2019-09-05 20:25] alexellis commented on #443
I'd like to move this forward.

@matipan do you have time, or maybe someone else in the community?

[2019-09-06 08:35] alexellis commented on #484
@Qolzam + @burtonr cc

[2019-09-10 09:22] csakshaug opened #510 "I have a folder called config in my function.. and it causes an error, then link the error"
I have a folder called config in my function.. and it causes an error, then link the error

## Expected Behaviour
I expect that the builder supports folder name "config" :-)

## Current Behaviour
https://github.com/dxcn/incubator-ofc-example/runs/217307246

`Deploy to OpenFaaS
tar(s) creation failed, error : open /tmp/dxcn/incubator-ofc-example/build/ping/config: is a directory`

## Possible Solut

[2019-09-10 11:06] #510 closed

[2019-09-11 20:19] csakshaug commented on #481
We have similar issues with private PHP composer repositories and could perhaps have the same problem with private GO imports/modules and private nuget repositories.

[2019-09-11 21:07] lskillen commented on #481
This would be very worthwhile. If you need a testing plane for this, happy to provide a free @cloudsmith-io account to try private authentication against all of the formats we support.

[2019-09-30 08:24] alexellis commented on #315
@martindekov someone reported this issue is still occurring with a username "MikeFeith", could you try to repro with a new username of your own?

[2019-09-30 08:34] MikeFeith commented on #315
I get this \/
![Screenshot 2019-09-30 at 10 32 25](https://user-images.githubusercontent.com/23695684/65862026-a4f57180-e36d-11e9-8f30-e1adfbe5d1bd.png)

The link should be this: https://mikefeith.functionasaservice.online/demo

[2019-09-30 09:06] TheYkk opened #515 "[Feature request] Cloudflare dns"
I want install open faas cloud but doesnt have cloudflare dns config

[2019-10-09 18:28] blaisep opened #519 "Docs: Update README with upgrade instructions"
I will add a few instructions on how to upgrade your OFC installation.

## Expected Behaviour

After installation and customization, it's likely that the upstream version will change and it's not clear to the newcomer what steps they should take.

## Current Behaviour

The current installation docs don't include any instructions for updating.

## Possible Solution

## Steps to Reproduce (for bugs)

[2019-10-09 18:37] blaisep commented on #519
I can submit a PR summarizing @tmiklas instructions.

[2019-10-09 23:20] brandonkal opened #520 "Feature request: custom domains (CNAME support)"
It would be neat if users could provide a CNAME file a la GitHub Pages and the ingress would respond on that domain.

Or perhaps it would be provided as part of each function's yaml config file.

While there are arguably better tools for managing static websites, something like this would allow status pages and little projects to be created and managed in the same way that function endpoints are c

[2019-10-10 03:11] burtonr commented on #520
Thanks for the suggestion @brandonkal!

While not quite the same, there is a possibility to have a custom domain (with TLS) per function using the [Ingress Operator](https://github.com/openfaas-incubator/ingress-operator). You can read more about it in the blog: [Grab free TLS & Custom Domains for your Functions with FunctionIngress](https://www.openfaas.com/blog/custom-domains-function-ingress/)

[2019-10-10 04:54] brandonkal commented on #520
Thanks for pointing me to the Ingress Operator. It looks like that covers a lot of this functionality.
It would be nice to see this integrated into OpenFaaS cloud eventually. Ideally the user would not have have to write a `FunctionIngress` yaml file.

To expand with some ideas:

The stack.yaml spec could look like this:
[code]

The user would be responsible configuring their DNS records for those

[2019-10-10 19:13] blaise-sumo commented on #519
Does this look about right?
[code]
kubectl get pods -n openfaas-fn -o jsonpath="{.items[*].spec.containers[*].image}"
[code]
kubectl edit -n openfaas-fn deployment import-secrets
[code]

[2019-10-13 04:11] blaise-sumo commented on #519
...based on the discussion in the Slack channel, this ticket can be closed.

[2019-10-15 09:49] alexellis commented on #520
Hi @brandonkal this is the vision for the IngressOperator, for it or some other component to create `FunctionIngress` CRD entries according to the annotations found on different functions in the cluster.

Just FYI I do not think this would not be enabled on the Community Cluster. Are you wanting to manage this on your own installation?

Alex

[2019-10-15 09:52] alexellis commented on #495
/close

[2019-10-15 09:52] #495 closed

[2019-10-15 09:52] alexellis commented on #495
This is something that I took on and ofc-bootstrap is now updated.

[2019-10-15 09:57] brandonkal commented on #520
Yes, this would be for my own installation. Having the domains list as an annotation is a good option, but making it its own key feels a bit more intuitive.

[2019-10-15 10:30] alexellis commented on #515
Hi @TheYkk please can you raise this issue on openfaas-incubator/ofc-bootstrap instead?

The openfaas-cloud components are agnostic to TLS providers.

Thanks

Alex

[2019-10-15 10:30] #515 closed

[2019-10-15 10:32] alexellis commented on #488
Given that I've not heard back from @matipan since July, I'm opening this up to the community to take on.

Here's the new annotation name that we need to whitelist: https://docs.openfaas.com/reference/workloads/#custom-http-health-check

Update this code:

https://github.com/openfaas/openfaas-cloud/blob/0734d548b3d09c4b1da1a48790c32d9be9e63325/buildshiprun/handler.go#L212

Add a test / case here:

[2019-10-16 17:47] jonatasbaldin commented on #502
Hey @martindekov, I'll tackle this one.

I'll will search the code base and try to understand if case lowering is enough and doesn't break other things.

Is there a set of E2E tests that I can run locally, automatically or manually?

[2019-10-16 17:50] alexellis commented on #502
You will need to deploy the whole thing. The easiest way to do that is to turn off outh and TLS. Bootstrap will take about 100 seconds.

The incoming webhooks just make use of inlets.

[2019-10-16 17:51] alexellis commented on #502
Having looked into this myself, I am fairly sure that you can go ahead with the solution proposed and it will work.

[2019-10-16 17:52] martindekov commented on #502
I can help you test it, have spend the weekend to create private repo with my own configuration to ease the process of developing.

[2019-10-17 04:55] martindekov commented on #502
Derek assign: jonatasbaldin

[2019-10-17 16:44] jonatasbaldin commented on #502
I'm having problems deploying OFC locally, once I get that I'll keep working on this :)

[2019-10-17 16:47] alexellis commented on #502
What do you use for your local environment?

[2019-10-17 16:47] alexellis commented on #502
Is there a problem with networking or the bootstrap?

[2019-10-17 16:51] jonatasbaldin commented on #502
Using Docker for Mac. I posted my errors at #openfaas-cloud in Slack, I think it's a better place to discuss the troubleshooting. Is that ok? Or should we talk here?

[2019-10-19 14:34] jonatasbaldin commented on #502
Hi there!

I was trying to reproduce the error but I get this when I push a `stack.yml` with a secret:
[code]

[2019-10-19 14:52] alexellis commented on #502
What are the logs of import-secrets?

[2019-10-19 14:52] alexellis commented on #502
The namespace looks wrong there

[2019-10-19 15:05] alexellis commented on #502
Try adding:

[code]

[2019-10-19 15:06] alexellis commented on #502
[code]

Adding that worked for me:

[code]

[2019-10-19 15:10] jonatasbaldin commented on #502
Shouldn't the namespace be that by default?

But anyway, added the namespace and still got the same error:
[code]

Logs from import-secrets:
[code]

[2019-10-19 15:12] alexellis commented on #502
Indeed, there appears to be a bug in the CLI introduced via the latest namespace changes.

https://github.com/openfaas/faas-cli/issues/708

It works for me when specifying the parameter with CLI 0.6.3.

If you don't have the CRD for SealedSecrets, delete the k3d cluster and start over, it should take < 1 min.

[2019-10-19 15:16] jonatasbaldin commented on #502
Just rebuild the cluster before this operation and still didn't the CRD :( Where's the YAML file for that?

[2019-10-19 15:20] jonatasbaldin commented on #502
Just added the controller by hand from the [bitnami release](https://github.com/bitnami-labs/sealed-secrets/releases/):

[code]

And it's building now.

Would this be a bug in the `ofc-bootstrap`?

[2019-10-19 15:46] alexellis commented on #502
It sounds like your installation may have ran into an error, did you look at the logs?

Also how is it a bug if it works for me? Might be timings.

https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/scripts/install-sealedsecrets.sh

[2019-10-19 16:15] jonatasbaldin commented on #502
Didn't get any error logs in the installation. Will retry later.

Well, a bug is when something doesn't work, specially when what's not working is flaky, right?

Anyway, here's what's happening now:
- Changed `buildshiprun` block from the line `461` to:
[code]

- Changed `import-secrets` block from the line `70` to:
[code]

With these changes, this is what's happening:
- The SealedSecret is being

[2019-10-19 17:34] alexellis commented on #502
You need to use a lower-case username when you still the secret.

[2019-10-19 19:06] jonatasbaldin commented on #502
It worked! Will open the PR ✨

[2019-10-19 19:07] alexellis commented on #502
👍  it appears buildshiprun and import-secrets need a change.

[2019-10-21 12:54] #502 closed

[2019-10-24 11:08] alexellis opened #528 "Prepare for K8s 1.16"
## Expected Behaviour

Installing on K8s 1.16 should work out of the box

## Current Behaviour

There are some errors around the deployment types which have moved.

## Possible Solution

Update the deployment files as per the changes we did in faas-netes https:/github.com/openfaas/faas-netes/

Example: https://github.com/istio/istio/issues/12211

## Steps to Reproduce (for bugs)

The easiest way t

[2019-10-24 19:52] #528 closed

[2019-10-29 22:09] csakshaug commented on #504
This feature request same as #521 ?

[2019-10-29 22:15] alexellis commented on #504
#521 is the PR and this is the tracking issue which can now be closed :+1:

[2019-10-29 22:15] #504 closed

[2019-10-29 22:15] alexellis commented on #504
This is now available. Instructions will be made available via the ofc-bootstrap repo

[2019-10-30 09:15] alexellis opened #530 "Backlog: branch preview"
## Expected Behaviour

As a OFC user with a cluster running in my production environment, I want to be able to use the same cluster to deploy non-master preview branches.

## Current Behaviour

I can deploy another OFC instance and use the `build_branch` configuration, but I cannot use the same cluster to build > 1 branch.

## Possible Solution

Explore design / workflow for creating/garbage colle

[2019-10-31 09:48] Waterdrips commented on #236
Derek assign: me

[2019-10-31 14:34] alexellis commented on #481
Thanks @lskillen are you also on OF Slack?

[2019-10-31 16:11] lskillen commented on #481
@alexaellis I'm not (yet), but I'll apply to join. :-)

[2019-11-03 12:22] #236 closed

[2019-11-03 18:04] alexellis opened #532 "[Feature] Helm chart for of-builder and edge-router/auth"
## Task

We should add a helm chart for everything in the [yaml folder](https://github.com/openfaas/openfaas-cloud/tree/master/yaml) so that these components can be templated easily.

* core - edge-router/auth (see values set in ofc-bootstrap - https://github.com/openfaas-incubator/ofc-bootstrap/tree/master/templates)
* core - of-builder (see values set in ofc-bootstrap - https://github.com/openfa

[2019-11-03 22:30] #382 closed

[2019-11-03 22:30] alexellis commented on #382
I took this and made the changes

[2019-11-04 06:04] Waterdrips commented on #347
Derek assign: me

[2019-11-04 15:12] alexellis opened #533 "Implement user segmentation with Kubernetes namespaces"
## Expected Behaviour

Each user should be onboarded with their own Kubernetes namespace that corresponds to their username. A policy can be applied for quotas and additional network policies can be added for isolation.

System functions will be deployed to the `ofc-system` namespace.

## Current Behaviour

Users are segregated by the use of prefixes for objects and access control lists in the con

[2019-11-04 17:03] Waterdrips commented on #234
/close This has been done

[2019-11-04 17:03] #234 closed

[2019-11-04 17:08] Waterdrips commented on #451
/ assign me

[2019-11-04 17:09] alexellis commented on #347
Requirements for 1) closes: #289

[2019-11-04 17:09] Waterdrips commented on #289
/ assign me

[2019-11-04 17:10] Waterdrips commented on #451
/assign me

[2019-11-04 17:10] alexellis commented on #347
Requirements for 2) 3) and 4) are closed by: #361

[2019-11-04 17:11] Waterdrips commented on #451
/assign: me

[2019-11-04 17:39] #488 closed

[2019-11-05 10:06] Waterdrips commented on #289
Derek assign: me

[2019-11-05 15:48] #289 closed

[2019-11-05 19:07] Waterdrips commented on #451
@alexellis this looks like a safairi bug  from 2018! (see links)

https://github.com/FortAwesome/Font-Awesome/issues/13032
https://openradar.appspot.com/radar?id=5024734567727104

I could try and hack the app to make it work for safari users but im not super confident in my css abilities!

[2019-11-06 08:17] alexellis commented on #481
@csakshaug FYI any solution here would be generic for build-time secrets, not just for `npm`, `npm` is just the use-case that was proposed first.

cc @AkihiroSuda

[2019-11-06 08:18] alexellis commented on #481
Some limitations on `--build-arg` at present -> https://github.com/moby/moby/pull/36443#issuecomment-369843123

[2019-11-06 09:55] alexellis commented on #481
There are two options I'm exploring:

A) Create a new function which has a `secrets:` section and binds each of the build secrets the user wants. It will invoke of-builder instead `buildshpirun`, afterwards that function will be deleted.

B) Grant the buildshiprun function RBAC access to all secrets for all users (if possible, restricted to match only those that we know are build-secrets). It will

[2019-11-06 09:58] alexellis commented on #481
A temporary workaround which I've not shared yet is to build sensitive images in a separate CI/CD workflow, and then have OpenFaaS Cloud pull them in using the `dockerfile` template.

An example exists here for `kubesec`

https://github.com/teamserverless/kubesec/blob/master/kubesec/Dockerfile#L1

The last step of your Travis/Jenkins pipeline would be to update the Dockerfile in the repo linked to

[2019-11-06 10:22] csakshaug commented on #481
I am doing that now

[2019-11-06 11:09] Waterdrips commented on #481
With B we are sending the secrets file over the network to the builder via http? I'd prefer not to expose build secrets in this way.

Does A involve building a new container, to mount the specific build secrets, to then use those in building the user's functions? While this adds some latency, it would expose less to the rest of the cluster.

[2019-11-06 11:36] alexellis commented on #481
Both options send the secret over the network. If this is a concern people can install Linkerd for mutual TLS.

[2019-11-06 23:07] csakshaug opened #539 "False error from register-image when image is present on ECR already"
- The ECR implementation gives errors when the registry already exists (at least git-tar and register-image gives exit(1) and status code != 200)
- The name that `register_image` is using could have potential problem, today the name is `registry_url`/`github-org´-`function-name?`-`image`:`image-tag`-`repo-branch`-`repo-sha` on selected region. The problem is that when you have multiple clusters th

[2019-11-07 16:46] Waterdrips opened #540 "[Enhancement] Support multiple OFC apps per repository"
## Expected Behaviour

I would like to be able to have a repository built and deployed onto multiple OFC installations and see the build status set successfully for each app on each commit.

## Current Behaviour

The integration with multiple OFC installations is not great - It works but does not report back that the deployment was successful and you only see each "build" step in 1 app. (screensho

[2019-11-12 17:43] Waterdrips commented on #532
/assign: me

[2019-11-13 13:55] Waterdrips opened #548 "[Proposal] Add links to any Organisations a user is entitled to view"
A user that has been added to am organisation has the ability to view the functions and dashboard for that organisation.
We should provide a list of links to those organisations on a users's dashboard for easy navigation

## Expected Behaviour

User can see links to all organisations and their personal dashboard.
## Current Behaviour

No links, user has to manually navigate
## Possible Solution

t

[2019-11-13 13:55] Waterdrips commented on #548
/assign: me

[2019-11-13 13:55] alexellis commented on #548
This sounds like a great precursor to the more elaborate filtering feature v

[2019-11-13 13:56] alexellis commented on #548
/add label: design/approved

[2019-11-13 17:55] Waterdrips opened #549 "[ Proposal ] Make list of enabled templates easier to find on OFC"
Users are reporting that its hard to find the list of enabled templates on an OFC installation

We could provide some more details to a user somehow?

## Expected Behaviour

A user can more easily see the enabled templates for an OFC installation

## Current Behaviour

Users can find this information in the various docs pages, but we could probably do better.

## Possible Solution

Add a section t

[2019-11-13 18:03] alexellis commented on #549
Please could you also send an update to the user guide in the docs?

[2019-11-13 20:30] Waterdrips opened #551 "Rename system-metrics function to metrics"
functions prefixed with system- would generally be expected to be world accessible, system-metrics is not world accessible and should therefore be renamed

## Expected Behaviour

no functional change

## Current Behaviour

## Possible Solution

## Impact on existing deployments
An administrator would need to delete the function `system-metrics` and deploy the newly created `metrics` function using

[2019-11-18 14:51] Waterdrips commented on #451
/close

[2019-11-18 14:51] #451 closed

[2019-11-26 15:23] #548 closed

[2019-12-06 23:13] brandonkal opened #563 "[feature request] dockerfile ACL"
## Expected Behaviour
Currently dockerfile functions are allowed universally in the cluster or not. It would be nice to be able to share a cloud while forcing most users to use one of the cluster-approved templates.

## Current Behaviour
It's either enabled or not.

## Possible Solution
Add a new option "acl". If set, check if the username in the CUSTOMERS file has " dockerfile" listed:
[code]
Thi

[2019-12-06 23:33] alexellis commented on #563
Can you tell us more about your usecase?

[2019-12-06 23:36] alexellis commented on #563
/set title: Question about configuring policy per user vs. cluster

[2019-12-06 23:50] brandonkal commented on #563
Sure. I would like to deploy an OpenFaaS cloud cluster where only "admin" users can use the dockerfile template. This allows the admin user to experiment with other workloads while keeping the cluster a little more locked down for standard users to encourage the use of templates.

[2019-12-08 09:28] #347 closed

[2019-12-08 09:29] #551 closed

[2019-12-08 09:35] alexellis opened #564 "Add multi-arch Makefile/build for core components"
Add multi-arch Makefile/build for core components

## Expected Behaviour

https://github.com/openfaas/openfaas-cloud/tree/master/edge-auth

https://github.com/openfaas/openfaas-cloud/tree/master/edge-router

https://github.com/openfaas/openfaas-cloud/tree/master/of-builder

## Related work

Surpasses https://github.com/openfaas/openfaas-cloud/pull/394

[2019-12-08 09:49] #363 closed

[2019-12-08 09:49] alexellis commented on #363
We'll use helm for this instead or git clone / checkout.

[2019-12-08 15:31] #60 closed

[2019-12-08 15:50] Waterdrips commented on #334
This was fixed as part of this commit https://github.com/openfaas/openfaas-cloud/commit/611b82f931674b16ea7d6d0c9d9b1d47b773617a

which was part of a larger PR

[2019-12-08 15:50] Waterdrips commented on #334
/close

[2019-12-08 15:50] #334 closed

[2019-12-10 19:54] utsavanand2 opened #567 "Update travis badge link"
Update travis badge link from .org to .com

[2019-12-10 19:55] utsavanand2 commented on #567
Closes: #568

[2019-12-10 19:55] utsavanand2 commented on #567
Closes: #568

[2019-12-10 19:57] utsavanand2 commented on #567
Derek close

[2019-12-10 19:57] #567 closed

[2019-12-11 13:15] Waterdrips commented on #174
`dist` folder is in gitignore, it is generated from the code and shouldnt live in the repo. Make is used to generate it, and its bundled into the node container as part of faas-cli up.

This is a good way of working, we might want to create a `make deploy` command instead that just runs `make build` and then `faas-cli up`

[2019-12-15 19:41] Waterdrips opened #570 "Self-Hosted installs with "function" in the domain name are reporting incorrect urls to user"
A user has reported that a domain name with "function" in it reports some dashboard URLs incorrectly

Thinking about it, a sub-domain would also cause the issue

## Expected Behaviour

the dashboard URL and github status url would be correct

## Current Behaviour

So for a domain of:
 *.function.my-function-domain.com
*.my-function.com
wouldnt display the correct URLs in the dashboard (on function

[2019-12-25 10:38] brandonkal opened #573 "Update function images with release (#551 breaking change not in 0.12.0 dashboard)"
I expect updated function docker images to be published with each release of openfaas-cloud.

In this particular case, [this line](https://github.com/openfaas/openfaas-cloud/blob/3b2fef0a7dc1e1be07005893360a131a31a1cef0/dashboard/stack.yml#L9) was not updated to reflect the changes before 0.12.0 was published.

## Expected Behaviour
It should be possible for a user to deploy OpenFaaS cloud without

[2019-12-25 11:02] alexellis commented on #573
Releases are coordinated and tested with ofc-bootstrap, please only use this tool and the pinned version as stable.

Thanks for your interest.

If you want to contribute tests you're more than welcome to.

[2019-12-25 11:02] #573 closed

[2019-12-25 11:03] alexellis commented on #573
As for the YAML file definition please raise a specific issue stating which image you believe to be missing and we'll get it built for you after Christmas.

[2019-12-25 11:08] alexellis commented on #573
cc @Waterdrips

[2019-12-25 11:12] alexellis commented on #573
Possibly related: https://github.com/openfaas/openfaas-cloud/pull/555

[2019-12-25 11:14] brandonkal commented on #573
Yes, Merry Christmas! Naturally I don't expect a rush here. Just wanted to make a note before forgetting.

The specific issue is that the dashboard docker image should be published to match what is in this repo.

[2019-12-25 11:16] alexellis commented on #573
Perhaps this could have been better handled via Slack and a simple message in #openfaas-cloud asking for the image to be pushed?

What is the purpose of `faas deploy --read-template=false`?

[2019-12-25 11:42] alexellis commented on #573
(Given that it's Christmas Day and I didn't expect people to be logging GitHub issues today, I'd suggest you try 0.11.11 of openfaas-cloud, I've pinned that version in ofc-bootstrap).

[2019-12-25 11:46] alexellis commented on #573
![0-7-2-issue](https://user-images.githubusercontent.com/6358735/71444803-142ff700-270c-11ea-81d6-02d3c48ab189.png)

That version of dashboard appears to have other issues.

[2019-12-25 13:01] alexellis opened #574 "Push all images upon release tag"
## Expected Behaviour

All images should be pushed with their version numbers as per stack.yml when doing a release build

## Current Behaviour

This is semi-manual and can lead to some missing versions.

## Possible Solution

Update travis.yml to include each stack.yml (and equivalent name) for build/push.

edge-router / edge-auth should perhaps use the git tag version rather than a manually incr

[2019-12-25 13:02] alexellis commented on #574
@LucasRoesler could you look into this one?

[2020-01-04 10:58] Waterdrips opened #575 "Don't fetch logs for functions scaled to 0/N"
Currently the page will show a loading spinner forever.

We should display a message or error

## Expected Behaviour

Spinner goes and we get a message
## Current Behaviour

spins forever
![Screenshot_20200104-105236](https://user-images.githubusercontent.com/40488132/71764555-2581bc00-2ee1-11ea-9270-658fa7ab4dfe.png)

## Possible Solution

set a failed flag, or something about it being scaled and

[2020-01-04 10:58] Waterdrips commented on #575
/assign: me

[2020-01-06 09:16] #575 closed

[2020-01-12 14:19] Waterdrips commented on #174
/close

[2020-01-12 14:19] #174 closed

[2020-01-12 14:20] Waterdrips commented on #325
/close

[2020-01-12 14:20] #325 closed

[2020-02-05 10:32] mrsimpson opened #583 "Community cluster Github app: Don't fail if not on master"
## Expected Behaviour
The [community cluster Github App](https://github.com/apps/openfaas-cloud-community-cluster) should not report failure if not on `master`

## Current Behaviour

Currently, the app exits with an error code if it runs on branches other than master. This leads to PRs not being able to be judged with respect to quality easily since the overall status will be `failed`

## Possible

[2020-02-05 11:52] alexellis commented on #583
So we have to give feedback to the user, and when we give no feedback people open issues saying "openfaas cloud isn't working"

What would you suggest here? cc @Waterdrips @martindekov

[2020-02-05 12:08] martindekov commented on #583
https://github.com/openfaas/openfaas-cloud/blob/8c916971c5a9d40f73f7607bae7e454406ed32be/gitlab-push/handler.go#L227
This is for GitLab^ similar approach is taken for GitHub. We can split the logic here by passing boolean down the pipeline to only build the branch and not deploy it if it is not the `buildBranch`.

[2020-02-05 12:14] martindekov commented on #583
Instead of throwing an exception and reporting failure ^.

[2020-02-05 16:48] Waterdrips commented on #583
I thought we had a discussion the other day about the fact that if we implement build-time secrets we might not want random branches/PRs building, they could be written to expose those secrets (im thinking the new node tests functionality)

[2020-02-06 15:55] martindekov commented on #583
Can't we just disable the build if the configuration contains build-time secrets and report is as error like:
[code]
? I suppose we would declare the build time secrets in the `stack.yml` file?

[2020-02-06 15:59] martindekov commented on #583
We can fail at `git-tar`. Here we parse the `stack.yml`:
https://github.com/openfaas/openfaas-cloud/blob/7d7edc46ed1f2f570c62089b5524e5a40b032b95/git-tar/function/handler.go#L117

[2020-02-06 16:00] martindekov commented on #583
If we agree on the solution I can start working on it 👍

[2020-02-07 16:13] Waterdrips commented on #583
I'm not sure I would want this in. Definitely not on my personal clusters.

If this is implemented please put it behind a flag so it can be disabled. I'd probably default it to off too

[2020-02-07 17:58] alexellis commented on #583
@Waterdrips how are you understanding the proposed solution? I think we maybe just return an ok / passed status with the same error message.

[2020-02-07 20:38] Waterdrips commented on #583
My understanding of the proposal is:
Build every commit.

Some teams have lots of devs working on lots of branches for a repository, I wouldn't want to use compute power on building all of these commits because that leaves less compute for production workloads.

Possibly on a dev/stage type cluster I might want everything building (but only deploying the specified branch)

Is this not what is bein

[2020-02-08 13:35] martindekov commented on #583
Yeah Alistair you are right that's what is proposed. So should we add this as enable disable feature. Or not adding it at all ?

[2020-02-08 13:53] mrsimpson commented on #583
We‘re talking about compute power of the CI here, right? Or is there any clusters-side task involved in building?
Frankly, I as a Github user without private runners don’t care about Microsoft’s compute investment much.

[2020-02-08 15:12] alexellis commented on #583
I am not sure I follow @mrsimpson?

[2020-02-08 16:20] mrsimpson commented on #583
😂 I am not sure I’m following either.
My original problem was that the GitHub app for the Community cluster reports an error if not running for `master`.
I want the build in CI in order to verify the image to be deployed is tested and ok.

Now comes the area of assumptions:

- I expected the build to basically be a dicker build, running locally on the thread performing the build, locally. I assume

[2020-02-08 17:07] Waterdrips commented on #583
The build is all done in-cluster and we just report back status

[2020-02-08 18:58] mrsimpson commented on #583
Ahh, now that’s clear.
What’s the quakitative advantage compared to just building the image „locally“?

[2020-02-09 20:59] Waterdrips commented on #583
There is no "locally" there is no CI linked to your personal repo and the OpenFaaS Cloud installation has no way of creating CI for a repository on the VCS provider, we support both guthub and gitlab.

[2020-02-09 21:26] mrsimpson commented on #583
I learned from @Waterdrips on the openfaas slack that another one of my expectations was wrong: I thought the app was like a set of actions running as part of the pipeline. Now I understood that by adding the app you basically add a receiver for the push event, like a webhook receiver. Thus, the build can not be triggered by the app as part of the CI process, but triggers a process in the cluster

[2020-02-09 21:45] mrsimpson commented on #583
I was free to open a [PR on the docs](https://github.com/openfaas/community-cluster/pull/2) as per how I'd have better understood the workflow. I thought this was more merge-able compared to write "you should adapt the guide like...".

[2020-02-10 15:10] martindekov commented on #583
I believe this should be there as a feature behind a flag. I can think of multiple use cases where we would like to have more than 1 branch building not only when change is merged. I don't see why we we would not like this as feature. We can provide the users with the option and they can opt in or out when deploying the solution on their environment.

[2020-02-10 15:14] martindekov commented on #583
I personally would like to build branches from PRs/MRs to verify that at least they build before merging. Eventually we can even extend to deploy in dev namespace when namespaces are available in this repo for testing.

[2020-02-10 15:14] Waterdrips commented on #583
yeh, put it behind a flag, off by default?

[2020-02-10 15:15] martindekov commented on #533
Has anyone started working on this ?

[2020-02-10 15:17] Waterdrips commented on #583
@martindekov I missed this comment. I think we should put it in behind a flag

[2020-02-10 15:19] Waterdrips commented on #533
We also need to consider the impact on the in-progress OFC Helm Chart

[2020-02-10 15:35] martindekov commented on #533
Well in order to move things forward in parallel, why don't we just agree on variable name which configures the available namespaces and which functions will possibly need the variable. I suppose the variable should as environmental variable for multiple functions like `buildshiprun`/`git-tar`... not really sure which exactly ATM as comma separated list. I suppose the helm chart will contain list

[2020-02-10 15:48] Waterdrips commented on #533
the namespaces are going to be based on the users in the CUSTOMERS file are they not?

[2020-02-10 16:06] martindekov commented on #533
You are right Alistair it would be better to make the configuration in a file as opposed to environmental variable. Though I believe we should make the naming of the file custom. `CUSTOMERS` is semantically good for the public OFC. If I am to deploy the solution, my file would probably be named `NAMESPACES`. As my "customers" would be most likely `prod` and `stage` possibly `dev`/`test`

Also if t

[2020-02-11 20:48] mrsimpson commented on #520
The clue of OFC imho is the complete non-need for k8s knowledge.
Thus, even if the FunctionIngress is the resource describing the domain to the IngressOperator, I'd wish for a more compact declarations which  defaults most of the properties of the FunctionIngress CRD.
:+1: for the values definition in `stack.yml`

[2020-02-14 08:39] Waterdrips opened #587 "Improve error logging in github webhook integration"
There are error messages in the github integration functions that are generic, where we actually know why the event failed. We could easily update these to give an operator a very quick indication of what's not configured correctly.

I had to go looking into the code while debugging an installation, the code clearly indicated why it failed, but the error was just "error: <name of event, status we

[2020-02-24 10:16] #570 closed

[2020-02-24 10:45] #319 closed

[2020-02-24 10:46] #583 closed

[2020-02-24 10:56] alexellis commented on #583
This has been released and will be available on the community cluster soon.

[2020-02-25 09:53] alexellis commented on #539
Hi @csakshaug

Is this still the case?

What is your suggested fix and how can I reproduce this? (perhaps you can fill out the Github Issue template?)

[2020-02-25 09:56] alexellis opened #590 "[Feature] Build PRs, but don't deploy"
For this feature PRs would be built, but not deployed.

PRs and branches are currently skipped, but if unit tests are sufficient to validate a PR (they often can be), then this feature would allow for that.

## Goals

Build and run CI for a PR, update its commit status

## Non-goals

Do not push to a registry

A deployment pipeline for PRs is complicated since if the PR relies on secrets, we canno

[2020-02-25 10:07] alexellis opened #591 "[Feature] Store CUSTOMERS list in a secret for privacy"
## Description

This feature would allow the CUSTOMERS list to be stored in a secret.

Why? For privacy. Today a HTTPS URL is required, most people use a public GitHub repo and the RAW CDN URL.

A Kubernetes secret could be used for the list, and then attached to each function.

A mode would be required to support existing users and the community cluster.

## Context

Requested by DX @csakshaug

#

[2020-02-25 10:21] csakshaug commented on #539
we can check soon

[2020-02-25 10:24] Waterdrips commented on #539
I think this will still happen, the code is
[code]

We should probably check if the repo exists before trying to create it? Or at the very least check the error and see if its an "already exists" ?

[2020-02-25 11:53] alexellis commented on #591
- [x] edge-auth
- [x] sdk
- [x] github-event
- [ ] gitlab-event

[2020-02-25 14:50] #591 closed

[2020-02-25 18:35] alexellis opened #594 "Bump Kubernetes client version for import-secrets"
## Task

Bump up the Kubernetes client version for import-secrets, ideally to 1.17

https://github.com/openfaas/openfaas-cloud/tree/master/import-secrets

Good first issue - feel free to ask questions. e2e testing will be required with any PR and don't convert to Go modules at this time.

The import-secrets function imports SealedSecrets from a user's GitHub repository into the cluster, where the

[2020-02-25 18:36] Waterdrips opened #595 "Lowercase usernames in github-event"
There are places where uppercase usernames cause issues (register-image in the ECR code, as one example)

It would be good to lowercase this as far up the chain as possible so we dont need to remember to do it downstream everywhere, as we might miss those or they might get removed by accident.

## Expected Behaviour

github-event lowercases the event's owner

## Current Behaviour

its done downstr

[2020-02-25 18:37] #392 closed

[2020-02-25 18:38] #375 closed

[2020-02-25 18:38] #350 closed

[2020-02-25 18:38] #323 closed

[2020-02-25 18:38] #322 closed

[2020-02-25 18:38] #282 closed

[2020-02-25 18:38] #186 closed

[2020-02-25 18:38] #213 closed

[2020-02-25 18:38] #215 closed

[2020-02-25 18:38] #216 closed

[2020-02-25 18:38] #217 closed

[2020-02-25 18:38] #220 closed

[2020-02-25 18:38] #139 closed

[2020-02-25 18:38] #117 closed

[2020-02-25 18:39] #88 closed

[2020-02-25 18:39] #51 closed

[2020-02-25 18:39] #50 closed

[2020-02-25 18:39] #252 closed

[2020-02-25 18:40] #474 closed

[2020-02-25 18:40] #471 closed

[2020-02-25 18:41] alexellis commented on #539
Why is that? (Sorry if I'm missing something)

[2020-02-25 18:47] heyts commented on #594
Hi @alexellis I might be able to work on this tonight / tomorrow if no one has a PR faster.

[2020-02-25 18:49] Waterdrips commented on #539
[code]

I get this with the 2nd + deploys, it always tries to make the repo, even if it already exists.

It always tries to create it, never checks if it already is there

in terms of this :

(in initial comment), We could doccument that a user can add `/some-namespace` after the repository `$ACCOUNT_ID.dkr.ecr.$REGION.amazonaws.com/` in the config file,

This is what iv done: `$ACCOUNT_ID.dkr.ecr

[2020-02-25 19:41] alexellis commented on #594
Sounds good.

[2020-02-26 07:41] alexellis commented on #540
What is the usecase for this?

[2020-02-26 07:51] Waterdrips commented on #540
Clusters in different regions, multiple clusters using different build branches (staging, master, dev?)

[2020-02-27 15:01] alexellis commented on #539
So can we return a 200 if "RepositoryAlreadyExistsException" is in the error text?

[2020-02-27 18:16] Waterdrips commented on #539
/assign: me

[2020-03-03 10:18] #594 closed

[2020-03-03 11:08] #532 closed

[2020-03-03 11:16] Waterdrips opened #598 "Create Helm Chart README.md"
## Expected Behaviour

A README.md should be created in the chart directory for usage of the new openfaas-cloud helm chart

## Current Behaviour

Blank README.
## Possible Solution

Document each setting.

[2020-03-03 19:03] TheYkk opened #601 "Github event not working"
[code]
I have fresh install with ofc bootstrap.I had  install github app but nothing seeing in commits page.
![image](https://user-images.githubusercontent.com/21688838/75810021-cc2bf100-5d9a-11ea-889e-24c2160c1fe7.png)

[2020-03-04 09:25] #601 closed

[2020-03-04 09:26] alexellis commented on #601
Hi

I can see from the screenshot that you've misconfigured your GitHub App, please use the documentation or `ofc-bootstrap create-github-app` to create your app.

https://docs.openfaas.com/openfaas-cloud/self-hosted/github/

Feel free to use Slack for technical support requests like this.

Alex

[2020-03-04 14:37] Waterdrips opened #603 "[Feature request] Support Github Orgs as Customers in edge-auth"
Github organisations are supported for deploying applications, and any user who is a public member of an organisations that's in the customers file can see the organisation's dashboard and the organisation's functions in their dashboard.

However, The user that's a member of the organisation needs to also be in the customers list to be able to authenticate through the Github OAuth integration.
For

[2020-03-04 16:12] alexellis commented on #603
Thank you for opening this issue for discussion and for tracking interest.

[2020-03-05 07:43] csakshaug commented on #603
What about supporting

`MyUser
MyOrg
MyOrg/MyTeam1
MyOrg/MyTeam2
MyOrg2/MyOtherTeam1`

Then you have more control and can control it from github. If you also check if level you have in the team then you can perhaps give `read` access to some of the members and `deploy` to other in that team.

[2020-03-05 15:09] alexellis opened #605 "Set edge-auth's cookie to use "Secure" (HTTPS only)"
Set edge-auth's cookie to use "Secure" (HTTPS only)

## Expected Behaviour

The most secure configuration would be for us to set the Secure: true flag for the cookie in edge-auth, this prevents the cookie from being used over a plaintext (HTTP) connection.

The downsides here are that nobody can test without setting up full TLS i.e. LetsEncrypt, which tends to be a pain for development.

I would l

[2020-03-05 15:11] alexellis commented on #605
@Waterdrips I understand you may want to pick this up?

[2020-03-05 15:43] Waterdrips commented on #605
/assign: me

Yep, just testing it

[2020-03-06 22:03] martindekov opened #609 "Tracking: Migrate functions to SDK"
## Expected Behaviour

In [faas-cli PR #753](https://github.com/openfaas/faas-cli/pull/753) SDK in Go for the gateway was introduced. We should be moving to this one as opposed the having different logic to communicate with the OpenFaaS API in every function

## Current Behaviour

Every function has its own way to communicate with the OF API

## Possible Solution

Vendor the [Introduced SDK](https

[2020-03-06 22:11] alexellis commented on #609
What about the other OpenFaaS REST calls?

[2020-03-06 22:22] martindekov commented on #609
Thats why I have put:
[code]
I will go through all functions and list them properly replacing this sentence with the rest functions.

[2020-03-06 22:40] viveksyngh commented on #609
Other functions are,
[code]

[2020-03-06 22:42] martindekov commented on #609
Added to the list :+1:

[2020-03-09 07:54] Waterdrips opened #614 "[Proposal] Add resource limits to Platform functions"
https://cloudblog.withgoogle.com/products/gcp/kubernetes-best-practices-resource-requests-and-limits/amp/

It's best practice to set resource limits on kubernetes.

We should ensure all OpenFaaS Cloud functions (the platform ones) have resource limits set.

## Expected Behaviour

Resource limits set on OFC Functions (platform functions)
## Current Behaviour

## Possible Solution

https://cloudblog

[2020-03-09 08:52] viveksyngh commented on #609
I will take buildshiprun and add to the my existing PR.

[2020-03-09 14:59] alexellis opened #615 "git-tar needs to clone with a unique path (including branch)"
git-tar needs to clone with a unique path (including branch)

## Expected Behaviour

git-tar should clone to a path like: `/tmp/owner/repo/branch` to avoid conflicts

## Current Behaviour

It clones to:

[code]

This could lead to conflicts if building two branches on the same OFC installation

## Possible Solution

Enhance the path to avoid conflicts.

See: git-tar/function/ops.go

[2020-03-09 15:44] alexellis opened #617 "Reduce verbosity of garbage-collect debug info"
This is far too much information for the logs of garbage-collect and is distracting in the logs of git-tar and other functions which call into the pipeline.

Current:

[code]

Expected:

[code]

[2020-03-09 16:08] #617 closed

[2020-03-09 21:34] martindekov commented on #614
I believe we have this as an option in the stack.yml. How much memory should we let the functions have by default ? WDYT?

[2020-03-10 07:34] brandonkal commented on #533
@Waterdrips Where is the OFC Helm Chart?
It's funny. I asked @alexellis about that a while back and was told it wasn't possible. I'm moving away from helm but I would still be interested in seeing this.

[2020-03-10 10:51] alexellis opened #618 "Archive developer install instructions"
Archive developer install instructions

## Expected Behaviour

Users should use ofc-bootstrap to install OFC

## Current Behaviour

They mostly do, but some find this:
https://github.com/openfaas/openfaas-cloud/tree/master/docs and then expect support.

ofc-bootstrap uses faas-netes at present and is not tested with the openfaas-operator.

[2020-03-10 10:53] Waterdrips commented on #614
Stack should be done yes. I need to also check the services we deploy with yaml + the chart

[2020-03-10 10:55] alexellis commented on #614
Here's the community cluster:

[code]

Let's set requests of 32Mi limit of 128Mi
For the dashboard request 64Mi limit 256Mi
No CPU limits, but CPU requests `50m`

[2020-03-10 10:56] alexellis commented on #614
Check the edge auth and router components have the same set:

[code]

[2020-03-10 10:56] alexellis commented on #614
Also update gitlab.yml and aws.yml

[2020-03-10 11:00] alexellis commented on #618
Remove section: Option 3: Manual deployment (self-hosted)

[2020-03-10 11:13] #618 closed

[2020-03-12 12:25] martindekov commented on #614
Just saw you left comments will add the changes as per:
[code]
👍

[2020-03-19 11:46] #605 closed

[2020-03-19 12:32] alexellis commented on #614
Thanks. We will await a PR to test out / review.

[2020-03-19 13:59] alexellis commented on #533
This is on hold until there is enough demand and/or interest in it. It's a non-trivial investment from everyone to make this happen.

[2020-03-26 08:53] Waterdrips opened #623 "Invalid cooke causes dashboard to fail on load."
A user reported this

[code]

It's trying to get the "subject" but the cookie is null.  This really shouldn't be possible because we do a check above, and don't get to this code if we don't have a cookie. Although the cookie could exist, but be malformed?

## Expected Behaviour

If cookie is invalid we return rather than error.

## Current Behaviour

error when cookie is there but not valid.

## P

[2020-03-26 08:54] Waterdrips commented on #623
/assign: me

[2020-04-02 12:26] martindekov commented on #609
All four are merged.

[2020-04-02 12:26] #609 closed

[2020-04-18 13:53] Waterdrips opened #630 "New OpenFaaS Cloud Release"
It would be useful to cut a new release so our users using the `ofc-bootstrap` tool can be used to deploy OFC with the new secure_cookie flag to imporve security.

https://github.com/openfaas-incubator/ofc-bootstrap/issues/200 (the code is written, just needs a new ofc release.)

Also, might be worth seeing which of the open PRs here should be merged.
Looking at the list these seem ready:
* [x] #6

[2020-04-22 09:04] #539 closed

[2020-04-22 09:05] alexellis commented on #630
Release cut here -> https://github.com/openfaas/openfaas-cloud/releases/tag/0.13.9

[2020-04-26 10:15] Waterdrips opened #632 "Bug - Logout button not removing a user's cookie"
pressing logout on the dashboard should be setting the user's cookie for oauth to "" (empty string)

There is an issue in the deployment files because "cookie_root_domain" is not being set in the dashboard deployment.

## Expected Behaviour

Logout clears a users cookie

## Current Behaviour

The cookie is not removed from the user's browser session

## Possible Solution

The "cookie_root_domain"

[2020-04-27 18:39] Amalkh5 commented on #595
@Waterdrips do you mean that  `ToLower` method should be used here `event.Installation.Account.Login`  https://github.com/openfaas/openfaas-cloud/blob/master/github-event/handler.go#L201 ?

[2020-04-29 09:06] Waterdrips commented on #595
This would probably require a thorough look through the OFC code to work out where all of the usernames are, and which ones should be upper and lower, possibly look at a move to using the github user ID, but this would have much wider impact. (https://github.com/openfaas/openfaas-cloud/issues/314)

Currently there is nothing we are aware of that's broken due to this so its low priority.

[2020-05-03 20:45] frossi85 commented on #481
Hi guys, I am wondering if we have any progress or estimate on this? Thanks

[2020-05-04 13:48] alexellis commented on #481
If there's some customer interest in the feature then we may prioritize it. Tell us more about your usecase?

[2020-05-04 16:02] frossi85 commented on #481
Basically I have a Kubernetes cluster with OpenFaas Cloud installed using Github Auth and the default GitHub integration that runs an action to test/deploy your function to Cloud. I am using a custom Typescript function, that I hope to release to the public soon.

I found myself in the need to have a private npm repo to share some business logic across different functions, like auth stuff and othe

[2020-05-04 16:05] frossi85 commented on #481
But besides my use case, I know is pretty common for people that are not doing open source to have their own private repositories for things like npm and maven as some of the examples. So I think this feature will help a lot of people and make openfaas cloud a more enterprise-ready solution.

[2020-05-11 03:42] v7lin opened #642 "[Community Suggestion] Gitea support"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to yo

[2020-05-11 08:49] alexellis commented on #642
@v7lin thank you for your interest, could you provide a link to the project, and a little more context?

Why do you feel this should be added? Are you going to sponsor or contribute the feature?

What are the interfaces for Gitea compared to GitHub/GitLab? Is it even possible to add system-level integrations?

See also: [how to write a proposal](https://github.com/openfaas/faas/blob/master/CONTRIB

[2020-05-11 19:20] #598 closed

[2020-05-11 19:22] #632 closed

[2020-05-11 19:25] #623 closed

[2020-05-21 07:07] brandonkal commented on #642
[Gitea](https://github.com/go-gitea/gitea) is an interesting project. It is essentially another git-in-the-browser host with a UI that mimics GitHub. It started as a fork of the Gogs project and is very lightweight compared to say self-hosting a GitLab instance on Kubernetes. It doesn't offer anywhere near as much as GitLab, but it also doesn't need a pile of RAM like the big two.

I have consider

[2020-05-21 07:13] alexellis commented on #642
I am not sure that I agree with the statement: "OFC just doesn't fit well with Gitea", I think it's the opposite:

* Gitea has no API integration at the system level
* Gitea has no OAuth API
* Gitea looks like a toy in comparison to GitLab (what organisation would use it instead of GitLab or BitBucket?)

If you want to see use individual components of OFC in your pipelines @brandonkal then go ahea

[2020-05-21 07:13] #642 closed

[2020-05-21 07:14] alexellis commented on #642
See also: https://github.com/openfaas/openfaas-cloud/issues/440

[2020-05-21 08:20] alexellis commented on #642
I'm locking this issue as Gitea doesn't appear to have the requisite APIs to integrate with OFC and the rest of the discussion "run parts of OFC on their own" is off-topic".

As mentioned to @brandonkal that doesn't mean that people can't try to run parts of the OFC project on their own terms, it's open source and folks are welcome to do what they like with the code.

For hacking off individual co

[2020-05-21 19:48] Waterdrips commented on #630
/close most of the stuff is merged - thanks alex :)

[2020-05-21 19:48] #630 closed

[2020-05-21 20:47] #540 closed

[2020-05-23 01:11] peidong-hu opened #644 "buildkit complains about 'invalid reference format' for pipeline build."
I have setup everything with self-hosted gitlab on aws and openfaas in eks by following this article, https://www.openfaas.com/blog/openfaas-cloud-gitlab/

Everything seems working well. I can trigger the build in openfaas through push code to gitlab.

But the buildkit always complains invalid reference format. screenshot below,
![image](https://user-images.githubusercontent.com/7647371/82718444-2

[2020-05-23 16:23] alexellis commented on #644
Hi, I wonder if there's a misconfiguration somewhere? Can you share your init.yaml file?

Alex

[2020-05-23 17:49] peidong-hu commented on #644
I ran the command 'ofc-bootstrap apply -f example.init.yaml -f gitlab-openfaas-kube.eco-perf.cloud.yaml' to deploy. two yaml files attached. (i have to rename them to .txt to be able to attach there.)
====================
[example.init.yaml.txt](https://github.com/openfaas/openfaas-cloud/files/4672242/example.init.yaml.txt)
[gitlab-openfaas-kube.eco-perf.cloud_forAlex.yaml.txt](https://github.com/

[2020-05-23 18:13] alexellis commented on #644
I can see `registry: docker.io/zhouyibhic/` in your base YAML file.

What kind of hosts or nodes are you running on? If you're using the Docker hub, then that's still working for us and I can't see why you'd have an error there. @Waterdrips may have some suggestions.

Can you share the following?

[code]

[2020-05-23 18:15] alexellis commented on #644
You may also want to check your authentication is correct using our troubleshooting guide. There are a number of steps you can run through.

https://docs.openfaas.com/openfaas-cloud/self-hosted/troubleshoot/

FYI if you need more hands-on help, you can also [book time with me directly via OpenFaaS Ltd](https://www.alexellis.io) to debug it with you over Zoom.

[2020-05-23 18:20] peidong-hu commented on #644
I am running in aws eks.  attached is the buildshiprun yaml through command kubectl get deploy -o yaml
[buildshiprun.yaml.txt](https://github.com/openfaas/openfaas-cloud/files/4672298/buildshiprun.yaml.txt)

[2020-05-24 22:26] peidong-hu commented on #644
Thanks Alex for the troubleshooting docs, I have successfully fixed the tls certificate issue by upgrading the cert-manager from 0.7 to the latest version 0.15 and creating aws access key credential secret.

Now everything works well except the 'invalid reference format' error in the of-buildkit container which fails the build pipeline for the timezone-shift example app.

Anyone knows if there is

[2020-05-26 14:21] alexellis commented on #644
We haven't run into an issue like that, but @AkihiroSuda may be able to provide some input regarding the issue.

Can you exec into the git-tar deployment and save the contents of `/tmp` after the failed build? It should give you a build context that you can run with `docker build`.

Are any of your nodes running ARM64?

[2020-05-27 02:10] peidong-hu commented on #644
This file content is kind of suspicious in com.openfaas.docker.config in tmp folder,
Openfaas seems prefixed my full name which has space in it in the docker image name?
![image](https://user-images.githubusercontent.com/7647371/82969316-fefa1580-9f94-11ea-8a03-49d3d1945e54.png)

[2020-05-27 02:24] peidong-hu commented on #644
So now I can confirm the full name field value in gitlab is really causing 2 problems here.
1) if there is space in the full name field, the invalid reference format error will appear in buildkit
2) if the full name field value doesn't match the gitlab login username, dashboard won't list the user's function.

Once I have set the user full name same as login username in gitlab, both issues disappe

[2020-05-27 02:25] peidong-hu commented on #644
The red circled field in gitlab user setting has to be gitlab login username.

![image](https://user-images.githubusercontent.com/7647371/82971054-644f0600-9f97-11ea-8dc3-c4b7f67cd239.png)

[2020-05-27 02:34] peidong-hu commented on #644
So here is the final result of the build and stack.yaml content, it seems that openfaas has prefixed the image name with <<gitlab user full name>>-<<image name>>-<<image name>>:latest-master-commit

does everything looks correct?

![image](https://user-images.githubusercontent.com/7647371/82971541-8bf29e00-9f98-11ea-96d9-176a15a84d18.png)

![image](https://user-images.githubusercontent.com/7647371

[2020-05-27 22:49] peidong-hu opened #645 "Support private insecure docker registry?"
HI,

this is more a question than reporting an issue. Does the openfaas cloud supports insecure private docker registry that access through http?

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* FaaS-CLI version ( Full output from: `faas-cli version` ):

* Docker version `docker version` (e.g. Dock

[2020-05-28 10:45] alexellis commented on #645
/set title: Support question

[2020-05-28 10:45] #645 closed

[2020-05-28 10:45] alexellis commented on #645
Please could you direct all your technical support requests to the Slack community? Use the #openfaas-cloud channel. Thank you.

[2020-06-03 16:37] Waterdrips opened #646 "[ Feature ] Custom domains on OFC uisng the provided IngressOperator"
There has been requests to allow custom domains in OFC (https://github.com/openfaas/openfaas-cloud/issues/520)

We now have FunctionIngress CRD provided by the IngressOperator provided as an option in the ofc-bootstrap installer.

We could read annotations like
[code]

and create the FunctionIngress CRD.

Provided a user points their domain at the cluster (A or CNAME? ) then they could get a LetsE

[2020-06-03 16:38] Waterdrips commented on #646
cc @alexellis issue for discussions

[2020-06-15 18:44] peidong-hu opened #648 "buildkit failed to solve with frontend dockerfile.v0"
Hi,

I received this error when building a go project in openfaas cloud,

time="2020-06-15T16:29:52Z" level=error msg="/moby.buildkit.v1.Control/Solve returned error: buildkit-runc did not terminate sucessfully\nexecutor failed running [/bin/sh -c test -z \"$(gofmt -l $(find . -type f -name '*.go' -not -path \"./vendor/*\" -not -path \"./function/vendor/*\"))\" || { echo \"Run \\\"gofmt -s -w\\\"

[2020-06-15 20:02] alexellis commented on #648
Seems like the error was given to you. Fix the formatting of your go code. Run gofmt -s -w file.go

[2020-06-15 20:02] #648 closed

[2020-06-15 20:02] alexellis commented on #648
Closing as not an issue

[2020-06-15 20:02] alexellis commented on #648
/add label: support

[2020-06-15 21:06] peidong-hu opened #649 "how to add dependencies"
Hi,

It looks like I need to do something to make openfaas go-middleware work with dependencies as I received the following error,

have searched on internet, but can't find something relevant.

How can I add the k8s.io packages into openfaas build?

Thanks,
Peidong
=================
v: 2020-06-15T20:39:11Z [build 10/13] WORKDIR /go/src/handler/function
v: 2020-06-15T20:39:11Z [build 10/13] WORKDI

[2020-06-15 21:28] #649 closed

[2020-06-15 21:30] alexellis commented on #649
Hi @peidong-hu please can you follow our community guidelines and ask your questions on Slack. We don't do technical support through GitHub issues.

Just join the #openfaas-cloud channel and ask how to add a dependency with Go. You will also find the documentation covers this topic.

Alex

[2020-06-15 21:31] alexellis commented on #649
/msg: slack

[2020-06-15 21:31] alexellis commented on #649
/set title: Support request

[2020-07-01 16:24] #614 closed

[2020-07-07 15:24] alexellis opened #652 "Support Go Modules and build-args for golang templates"
## Description

Support Go Modules and build-args for golang templates

## Context

We are unable to enable the build-arg at present required for Go modules, so this should be passed through the stack from stack.yml all the way to Buildkit.

## Possible solution

* Update git-tar to write the build-args into the config file we create
* Accept only allowed build-args (this one) to prevent abuse
* U

[2020-07-07 16:07] #652 closed

[2020-07-08 05:37] JasonPad19 opened #654 "After deployment, Github failed to send payload to domain"
After deployment on Azure Kubernetes Cluster & Container Registry, Github failed to send payload to domain

## Expected Behaviour
Github should send commit payload to domain

## Current Behaviour
Github ->Adavanced page shows the error. Certificate is valid for ingress.local not domain.

![image](https://user-images.githubusercontent.com/52347372/86880668-22da7a80-c141-11ea-9c6c-fc9030f8b2cc.png)

[2020-07-08 09:26] #654 closed

[2020-07-08 09:26] alexellis commented on #654
/set title: Support request

[2020-07-08 09:27] alexellis commented on #654
Hi @JasonPad19 please feel free to reach out for technical support on Slack in the #openfaas-cloud channel

You should ideally provide us there with your YAML files, feel free to obscure the credentials, but do to change domains.

Alex

[2020-07-08 09:27] alexellis commented on #654
/msg: slack

[2020-07-08 22:03] Waterdrips commented on #519
/close
^

[2020-07-08 22:03] #519 closed

[2020-07-08 22:19] Waterdrips commented on #644
Im going to raise a couple of issues off the back of your investigation to tackle the following

 *   if there is space in the full name field, the invalid reference format error will appear in buildkit
*    if the full name field value doesn't match the gitlab login username, dashboard won't list the user's function.

[2020-07-08 22:22] Waterdrips opened #657 "Invalid Reference Format - buildkit, names with whitespace (Gitlab)"
Gitlab integration is possibly using the `full name` field, which could be causing buildkit to append an invalid value (a space) into the ref field.

I think also we are using a mismatch of fullname and username somewhere, as its been reported that:

[code]
see this issue for context
https://github.com/openfaas/openfaas-cloud/issues/644

## Expected Behaviour

A name with whitespace can be handled

[2020-07-08 22:24] Waterdrips commented on #644
/close

tracking in new issue

[2020-07-08 22:24] #644 closed

[2020-07-09 15:56] tmiklas commented on #406
I would consider a something like this...

Variant 1 - "I really want to shoot myself in the foot":
- introduce config variable into `ofc-bootstrap` letting user turn NATS on at their own risk... and keep it disabled by default

Variant 2 - "I may want to shoot myself in the foot":
- marker in URL to signal this is to be considered async - I'd propose `https://username.async.domain.tld/function` t

[2020-07-09 16:07] alexellis commented on #406
Thanks for your input, this is still a relatively quiet issue, but something that I would like to see more input on.

Option 1 can be achieved by adding the IngressOperator and setting up a FunctionIngress record for each of the async functions.

https://github.com/openfaas-incubator/ingress-operator

Another idea I had was strict rate-limiting on the endpoint, and perhaps banning the X-Callback-U

[2020-07-09 21:26] tmiklas commented on #406
How about...

Add options to `stack.yml` and functionality that would:
- mark function as async-only (default: false) - would deploy ingress operator automatically for that function
- for async-only functions define `X-Callback-URL` in `stack.yml` so it can't be changed at invocation; this would allow sweet building of async pipelines!!!

Now, let's say I want to run `cows` function in both synchr

[2020-08-05 08:16] alexellis commented on #657
This is an expected error, there are some GitLab usernames which cannot be supported in a Kubernetes Pod name or Docker image name or tag.

[2020-08-05 11:43] Waterdrips commented on #657
/close

ill close then. Thanks

[2020-08-05 11:43] #657 closed

[2020-08-05 11:57] alexellis commented on #657
How was the issue discovered? Was it reported by a user?

There is a GitLab documentation page, so it would make sense to add a note there

[2020-08-05 12:34] Waterdrips commented on #657
#644

[2020-08-13 12:56] hazcod opened #662 "Feature: support cloudflare integration"
It would be nice for users to be able to attach the [Cloudflare cloudflared](https://github.com/cloudflare/cloudflared) Argo Tunnel proxy in front of OpenFaaS functions and even the dashboard, so that everything is automatically protected against DoS, additionally free certificate management and possibly even a web authentication layer.

## Expected Behaviour
The ingress should be replaced or prep

[2020-08-13 13:00] alexellis commented on #662
Hi, thanks for your interest. This is the repo for the open-source project for OpenFaaS Cloud, I am not sure what you are asking for us to do?

[2020-08-13 13:03] hazcod commented on #662
Hi Alex, i'm relatively new to OpenFaas so might not be the right repo, but I was wondering where cloudflared would fit in the OpenFaaS picture. Sec, i'll hop on the Slack.

[2020-08-13 13:08] alexellis commented on #662
We don't generally take support questions over Slack, so it might make sense to ask on Slack 👍 I'll close out this issue for now.

[2020-08-13 13:08] #662 closed

[2020-09-12 00:15] wilsonianb opened #669 "GitHub events time out with network policy"
## Expected Behaviour

OpenFaaS Cloud should function normally when installed using ofc-bootstrap with [network policies enabled](https://github.com/openfaas-incubator/ofc-bootstrap/blob/master/USER_GUIDE.md#toggle-network-policies-recommended).

## Current Behaviour

GitHub events time out with network policies enabled

[`audit-event`](https://github.com/openfaas/openfaas-cloud/blob/master/audit-

[2020-09-12 22:42] ainiml opened #670 "minor doc tidy"
The fix: https://github.com/TheShellLand/openfaas-cloud/commit/d1ca7b368c76bcf12ad255838b65ec5a61bea83f

[2020-09-13 07:48] alexellis commented on #670
@ainiml if you feel this is worth your time, in raising a PR, feel free. I see that you are able to add a sign-off message so I don't mind.

Just change your name to a real name, not an alias or synonym

[code]

[2020-09-13 07:56] ainiml commented on #670
done https://github.com/openfaas/openfaas-cloud/pull/671

[2020-09-17 14:28] #669 closed

[2020-10-05 15:07] #670 closed

[2020-10-05 15:08] alexellis commented on #670
Merged, thanks. Do you use this project btw?

[2020-10-05 15:09] alexellis commented on #590
@Waterdrips thoughts on this?

[2020-10-05 15:18] Waterdrips commented on #590
Depends on the discussions around the "build time secrets" work (i.e. pulling private NPM repos) - could we see a case where secrets can be leaked that way by writing a test that echos $ENV and therefore any secrets in there?

[2020-10-07 16:21] alexellis opened #672 "Add CI variable to git-tar"
## Expected Behaviour

Standard behaviour in CI systems is to set an env var of "CI=true/1" whilst running code in a pipeline.

## Current Behaviour

We don't do that at present, but could when we execute the "faas-cli" in the git-tar function.

Reference: https://github.com/openfaas/faas-cli/pull/831

[2020-10-13 06:39] Waterdrips opened #673 "Deprecate passing Oauth client secret in environment for OFC chart"
## Expected Behaviour

To pass the of-client secret only using a mounted secret

## Current Behaviour

it can be passed in env and secret. This should probably be standardised in one, as the only consumer of the chart at the moment is ofc-bootstrap and that's using the secret, it doesn't make sense to keep both.

## Possible Solution

remove the env variable option

[2020-10-13 06:55] Waterdrips opened #675 "Make Network Policies optional in OFC chart"
## Expected Behaviour

I should be able to turn off network policies if required.

## Current Behaviour

They are mandatory in the chart

## Possible Solution

pass a flag to turn them off

[2020-10-13 08:09] #675 closed

[2020-10-13 08:11] #673 closed

[2020-10-14 20:48] Waterdrips opened #677 "Remove redundant `global.scheme` from ofc helm chart"
The chart can derive the value of this from `tls.enabled` so it's not required.

We can remove it from the chart and README for chart.

[2020-10-14 20:52] #677 closed

[2020-11-07 14:43] nitishkumar71 opened #683 "Migrate from Travis to Github Actions"
As proposed by @alexellis we should move all our repos to Github Actions because of it's generous free-tier as we're not able to get enough builds out of the free credits that Travis provides.
## Expected Behaviour

## Current Behaviour

We're running all our CI builds using Travis CI
## Possible Solution

Move to Github Actions

[2020-11-10 08:58] Waterdrips opened #687 "Migrate go Go Modules"
We should move OFC components to Go Modules.

This will be a 2 (or more) part process where
1. first off we need a go.mod in each folder.
2. implement modules in the folders

We need to do 1, with a commit into aster because otherwise when you import something like openfaas-cloud/sdk dep pulls the openfaas-cloud repo as a whole, then you have 2 copies on path of the current module (github-event sa

[2020-11-10 14:04] Waterdrips opened #688 "Implement all openfaass cloud components in the Helm chart"
Currently only some of the deployment of OFC can be done using helm. We still rely on cloning this repo, applying overrides to the openfaas functions yaml files and env variables files.

We could implement the same functionality in the helm chart (with the same config options in the ofc-bootstrap tool) and slowly phase out the need to clone this repo in ofc-bootstrap deployment.

This could be don

[2020-11-12 22:13] Waterdrips opened #690 "Use GHCR in helm chart"
We need to move over to using GHCR images in the helm chart once the GH Actions migration has gone in

Also, each release will build a new set of images all tagged with the release version, these will all be the same for a release and need to be updated in the chart once the version is known.

## Expected Behaviour

GHCR images and correct versions used in helm chart

## Current Behaviour

dockerh

[2020-11-23 10:10] alexellis opened #692 "Build remaining images for AWS and GitLab YAML files"
## Task

Build and publish the remaining images for AWS and GitLab YAML files - aws.yml - gitlab.yml

@Waterdrips please can you take this on?

[2020-11-23 10:13] Waterdrips commented on #692
Yep, it's next on the list now `openfaas/faas` is using GH actions

[2020-11-24 19:27] #692 closed

[2020-11-24 23:52] wilsonianb opened #695 "Dashboard image missing bundled assets"
The GitHub action [build](https://github.com/openfaas/openfaas-cloud/blob/master/contrib/ci.sh) and [publish](https://github.com/openfaas/openfaas-cloud/blob/master/contrib/publish.sh) scripts are missing the dashboard's [bundle asset step](https://github.com/openfaas/openfaas-cloud/tree/master/dashboard#build-and-bundle-the-assets).

## Expected Behaviour
The [`publish` GitHub action](https://git

[2020-11-25 08:35] alexellis commented on #695
Thanks for the note. This work is still in progress, so slack would be a better forum for feedback.

[2020-11-25 21:09] wilsonianb opened #697 "Link to GitHub app from dashboard"
Users of an OpenFaaS Cloud cluster currently need to obtain the link of the GitHub app out of band.
Linking to the app in the dashboard would make the [installation step](https://docs.openfaas.com/openfaas-cloud/user-guide/#install-the-github-app) easier.

## Expected Behaviour

Ofc users can find the GitHub app to install via the dashboard

## Current Behaviour

Link to app is obtained out of ban

[2020-11-25 21:12] wilsonianb commented on #697
Ditto for the cluster [sealed secrets](https://docs.openfaas.com/openfaas-cloud/secrets/) public key.
It could be served and linked to in the dashboard: https://github.com/codius/openfaas-cloud/commit/8e8a7c51b988ea67bdbd344cf1657cdb7ab0e4bf

[2020-11-26 01:30] khos2ow opened #698 "[Feature request] Support GitLab container registry"
## Current Behaviour

Currently there's no way to use GitLab container registry as part of the deployment, the reason is URLs of the registry are slightly different than the ones available in other registries (e.g. DockerHub).

- GitLab: `https://registry.example.com/group/project:tag`
- GitLab: `https://registry.example.com/group/project/image:tag` (extra `/<foo>` is valid in gitlab, up to three

[2020-11-26 01:44] khos2ow opened #699 "[Feature request] Support GitLab group as functions' owner in dashboard"
## Current Behaviour

In GitLab, considering `https://git.example.com/group` exists as a place for all the function repositories and user `user` is a member of that group and also exists in customers file, currently there's no way to see the list functions in `group` in openfaas cloud dashboard.

When logged in successfully to the dashboard I'm being redirected to may own page at `/dashboard/user`

[2020-11-27 17:44] #683 closed

[2020-11-27 17:44] #695 closed

[2020-11-30 21:24] alexellis commented on #697
I would accept a PR for this @wilsonianb

Since SealedSecrets is always going to be installed, we could use a glyph icon for a key, and one for git or a laptop for the Git link.

You'll find a URL for GitLab already, but GitHub will need to be built up or inputted.

[2020-11-30 21:55] alexellis opened #700 "system-metrics on the dashboard is showing 0"
system-metrics on the dashboard is showing 0

## Expected Behaviour

It should show the invocations for the function in question.

## Current Behaviour

It shows 0

## Possible Solution

Pass the namespace - as the gateway now records function metrics with a namespace, even if it's the default one.

![fws](https://user-images.githubusercontent.com/6358735/100670292-8ebeb900-3356-11eb-946b-82a3fe5d

[2020-11-30 21:55] alexellis commented on #700
@brandonkal or @Waterdrips would you to take a look please?

[2020-11-30 23:24] brandonkal commented on #700
Thanks for the ping. I'm repairing my laptop and will then migrate my dev environment to a new machine so I don't anticipate being able to look at this in the near term.

[2020-12-01 09:12] Waterdrips commented on #700
/assign: me
Ill take a look at this

[2020-12-01 09:15] alexellis commented on #700
There is actually a gitlab FA icon, that we could switch in depending on config: https://fontawesome.com/icons?d=gallery&q=git

<img width="627" alt="Screenshot 2020-12-01 at 09 14 48" src="https://user-images.githubusercontent.com/6358735/100720301-b09b5880-33b5-11eb-892d-4618646aa812.png">

And for a key icon -> https://fontawesome.com/icons/key?style=solid

It'd also be good to have roll-over t

[2020-12-01 09:16] alexellis commented on #697
There is actually a gitlab FA icon, that we could switch in depending on config: https://fontawesome.com/icons?d=gallery&q=git

<img width="627" alt="Screenshot 2020-12-01 at 09 14 48" src="https://user-images.githubusercontent.com/6358735/100720301-b09b5880-33b5-11eb-892d-4618646aa812.png">

And for a key icon -> https://fontawesome.com/icons/key?style=solid

It'd also be good to have roll-over t

[2020-12-01 12:09] #700 closed

[2020-12-01 17:40] wilsonianb commented on #697
I can submit a pr.

I've just been putting the key in `/dashboard/dist` like the favicon.ico
https://github.com/codius/openfaas-cloud/commit/8e8a7c51b988ea67bdbd344cf1657cdb7ab0e4bf

[2020-12-01 18:23] alexellis commented on #697
We should also update the blank state page to reference how to install the app / download the sealedsecret key

<img width="1150" alt="Screenshot 2020-12-01 at 18 23 00" src="https://user-images.githubusercontent.com/6358735/100780951-4957c580-3402-11eb-90b2-b25805edfc76.png">

[2020-12-01 18:24] alexellis opened #704 "Docs: Update user-guide to newer template"
## Expected Behaviour

The user-guide for OFC should use the node12 template

## Current Behaviour

It uses the node10 template which is deprecated

## Possible Solution

We may just be able to update the text + code examples, without also going ahead and changing screenshots

https://docs.openfaas.com/openfaas-cloud/user-guide/

Sources at https://github.com/openfaas/docs/

[2020-12-03 09:53] alexellis commented on #698
Thanks for raising this. The temporary patch I created for you which you tested out seemed to help with the format. As for usernames with spaces in, that would be a much bigger change, but not out of the realms of possibility.

[2020-12-03 09:54] alexellis commented on #699
Thanks for raising this. The GitLab integration is single-user only at the moment.

GitHub has multi-user / multi-org support.

To add this for GitLab, I created a temporary patch which appeared to work out well for your internal installation.

I think we could also improve the `/dashboard/org` page so that it just filters the list to whatever "org" is specified there.

[2020-12-14 09:56] #697 closed

[2020-12-15 11:12] viveksyngh opened #707 "failed to deploy functions using openfaas operator"
Failed to deploy function on openfaas cloud while using openfaas operator for the function where environment field in not present in `stack.yml`

Reference functions: https://github.com/viveksyngh/openfaas-functions

## Expected Behaviour

It should deploy function if openfaas is deployed with operator

## Current Behaviour

It gives error
[code]

## Possible Solution

Workaround is add environmen

[2020-12-15 11:28] alexellis commented on #707
Fixes:

https://github.com/openfaas/faas-cli/commit/598336a0cad38a79d5466e6a3a9aebab4fc61ba9
https://github.com/openfaas/faas-provider/commit/cf1e9f39556bc52eef96265fbda11ea1251f6ab2
https://github.com/openfaas/faas-netes/pull/730

[2020-12-15 19:32] alexellis commented on #707
I believe this gives resolution to the issue. @viveksyngh could you take a look please?

And add `operator: true/false` to the ofc-bootstrap YAML file?

[2020-12-17 08:45] viveksyngh commented on #707
derek close

[2020-12-17 08:45] viveksyngh commented on #707
/close

[2020-12-17 08:45] #707 closed

[2020-12-23 19:58] rward27 opened #708 "Pipeline not triggered: gitlab-event: System Hook required cannot handle: Tag Push Hook"
I followed the openfaas cloud (ofc-bootstrap) steps for GitLab integration and trying to automate the pipeline on gitlab with push events on my repository.

the POST event to my webhook url is successful but all I get in response is **gitlab-event: System Hook required cannot handle: Tag Push Hook**

I have made it sure that there is nothing like under provisioning of my cluster or nodes.

There d

[2020-12-24 09:08] sumit-badaya commented on #708
I can see the dashboard and also got an authentication page redirection to gitlab but i dont see any function and the pipeline is also not running by itself as soon as i commit any code change in gitlab repository. Can anyone please help in this? @alexellis